openapi: 3.2.0
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Auto-Transfer Presets…
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Auto-Transfer Presets
paths:
  /business/v2/wallets/autotransfer-presets/{presetId}/relate-resource:
    put:
      tags:
      - Auto-Transfer Presets
      summary: Add wallets to Auto-transfer Preset
      description: Endpoint to add a `Wallets` to `AutoTransferPreset`.
      operationId: wallet-auto-transfer-preset-set
      parameters:
      - name: presetId
        in: path
        description: The `AutoTransferPreset` ID
        required: true
        schema:
          type: string
        example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletsToTransfer'
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - wallet_write
      x-soldo:
        fingerprint-order: presetId, walletIds, token
  /business/v2/wallets/autotransfer-presets/{presetId}:
    get:
      tags:
      - Auto-Transfer Presets
      summary: Get Auto-transfer Preset
      description: Endpoint to get `AutoTransferPreset` by ID.
      operationId: wallet-auto-transfer-preset-get
      parameters:
      - name: presetId
        in: path
        description: The `AutoTransferPreset` ID
        required: true
        schema:
          type: string
        example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      responses:
        '200':
          description: The returned resource is an `AutoTransferPreset`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAutotransferPreset'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - wallet_read
  /business/v2/wallets/presets/{presetId}:
    delete:
      tags:
      - Auto-Transfer Presets
      summary: Delete Auto-transfer Preset
      description: Endpoint to delete a `AutoTransferPreset` by ID.
      operationId: wallet-auto-transfer-preset-delete
      parameters:
      - name: presetId
        in: path
        description: The `AutoTransferPreset` ID.
        required: true
        schema:
          type: string
        example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - wallet_write
  /business/v2/wallets/autotransfer-presets:
    get:
      tags:
      - Auto-Transfer Presets
      summary: Search Auto-transfer Presets
      description: Endpoint to find `AutoTransferPreset` using filtering parameters.
      operationId: wallet-auto-transfer-presets-search
      parameters:
      - name: type
        in: query
        description: The type of `AutoTransferPreset`.
        schema:
          uniqueItems: true
          type: array
          description: The type of `AutoTransferPreset`.
          items:
            $ref: '#/components/schemas/WalletPresetType'
        example: WHEN_BALANCE_IS
      - name: currency
        in: query
        schema:
          uniqueItems: true
          type: array
          description: The currency of the `AutoTransferPreset`.
          example: The currency of the `AutoTransferPreset`.
          items:
            type: string
            description: The currency of the `AutoTransferPreset`.
            example: The currency of the `AutoTransferPreset`.
      - name: text
        in: query
        description: The full or partial name of the `AutoTransferPreset`.
        schema:
          type: string
          description: The full or partial name of the `AutoTransferPreset`.
          example: John Doe
        example: John Doe
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The returned resource is an array containing `AutoTransferPresets`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAutotransferPresets'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - wallet_read
  /business/v2/wallets/autotransfer-presets/{presetId}/unrelate-resource:
    put:
      tags:
      - Auto-Transfer Presets
      summary: Remove Wallets from Auto-transfer Preset
      description: Endpoint to remove a `Wallets` from a `AutoTransferPreset`.
      operationId: wallet-auto-transfer-preset-unset
      parameters:
      - name: presetId
        in: path
        description: The `AutoTransferPreset` ID
        required: true
        schema:
          type: string
        example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletsToTransfer'
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - wallet_write
components:
  schemas:
    WalletsToTransfer:
      type: object
      properties:
        walletIds:
          type: array
          description: A list of `Wallet` IDs.
          example:
          - 7bf79328-a7ae-4222-aa54-091ff7f429a7
          - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
          items:
            type: string
            description: A list of `Wallet` IDs.
            example: '["7bf79328-a7ae-4222-aa54-091ff7f429a7","2d65bd5e-3fdf-4002-b166-bde7fb8863fa"]'
      description: The `Wallet` JSON parameters.
    WalletAutotransferPreset:
      type: object
      properties:
        id:
          type: string
          description: 'The unique identifier of the `AutoTransferPreset`. (Sortable: No).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: 'The name of the `AutoTransferPreset`. (Sortable: No).'
          example: DefaultPreset
        description:
          type: string
          description: 'The description of the `AutoTransferPreset`. (Sortable: No).'
          example: Default CardRule preset policy
        type:
          $ref: '#/components/schemas/WalletPresetType'
        currency:
          type: string
          description: The currency used in the `AutoTransferPreset`.
          example: EUR
        number_of_assigned_wallets:
          type: integer
          description: The number of wallets assigned to the `AutoTransferPreset`.
          format: int32
          example: 2
        wallet_from:
          type: string
          description: The from wallet used for the `AutoTransferPreset`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        wallet_to:
          type: array
          description: The to wallet used for the `AutoTransferPreset`.
          example:
          - 7bf79328-a7ae-4222-aa54-091ff7f429a7
          - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
          items:
            type: string
            description: The to wallet used for the `AutoTransferPreset`.
            example: '["7bf79328-a7ae-4222-aa54-091ff7f429a7","2d65bd5e-3fdf-4002-b166-bde7fb8863fa"]'
        creation_time:
          type: string
          description: The date and time the `AutoTransferPreset` was created.
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: The date and time the `AutoTransferPreset` was last updated.
          example: '2017-06-01T12:48:40Z'
    WalletAutotransferPresetItems:
      type: object
      properties:
        id:
          type: string
          description: 'The unique identifier of the `AutoTransferPreset`. (Sortable: No).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: 'The name of the `AutoTransferPreset`. (Sortable: No)'
          example: DefaultPreset
        description:
          type: string
          description: 'The description of `AutoTransferPreset` (sortable: no).'
          example: Default CardRule preset policy
        type:
          $ref: '#/components/schemas/WalletPresetType'
        currency:
          type: string
          description: The currency used in the `AutoTransferPreset`.
          example: EUR
        number_of_assigned_wallets:
          type: integer
          description: The number of wallets assigned to the `AutoTransferPreset`.
          format: int32
          example: 2
        wallet_from:
          type: string
          description: The from wallet used for the `AutoTransferPreset`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        creation_time:
          type: string
          description: The date and time when the `AutotransferPreset` was created.
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: The date and time the `AutoTransferPreset` was last updated.
          example: '2017-06-01T12:48:40Z'
    WalletAutotransferPresets:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        pages:
          type: integer
          description: It represents the total number of available pages.
          format: int32
          example: 7
        page_size:
          type: integer
          description: It represents the number of items per page.
          format: int32
          example: 25
        current_page:
          type: integer
          description: It indicates the current page (the counter starts from zero).
          format: int32
          example: 0
        results_size:
          type: integer
          description: It indicates the size of the array results.
          format: int32
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/WalletAutotransferPresetItems'
    WalletPresetType:
      type: string
      description: The type of `AutoTransferPreset`.
      enum:
      - PERIODIC
      - LOW_BALANCE
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      example: DESC
      enum:
      - ASC
      - DESC
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: true
