openapi: 3.2.0
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Resource Sets API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Resource Sets
paths:
  /business/v2/resource-sets:
    get:
      tags:
      - Resource Sets
      summary: Search Resource Sets
      description: Endpoint to search `ResourceSet` using filtering parameters.
      operationId: resource-set-search
      parameters:
      - name: text
        in: query
        schema:
          type: string
          description: A free text search in the `ResourceSet` data
          example: Resource set 01
      responses:
        '200':
          description: The result is an array containing `ResourceSets`.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResourceSet'
      security:
      - standardAuth:
        - resource_set_read
    post:
      tags:
      - Resource Sets
      summary: Add Resource Set
      description: Endpoint to add a new `ResourceSet`.
      operationId: resource-set-add
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceSet'
      responses:
        '200':
          description: The returned resource is a single `ResourceSet`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceSet'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - resource_set_write
      x-soldo:
        fingerprint-order: name, description, token
  /business/v2/resource-sets/{id}:
    get:
      tags:
      - Resource Sets
      summary: Get Resource Set
      description: Endpoint to get a specific `ResourceSet` by ID.
      operationId: resource-set-get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: The `ResourceSet` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The returned resource is a single `ResourceSet`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceSet'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - resource_set_read
    put:
      tags:
      - Resource Sets
      summary: Update Resource Set
      description: Endpoint to update a `ResourceSet`.
      operationId: resource-set-update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: The `ResourceSet` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateResourceSet'
      responses:
        '200':
          description: The returned resource is a single `ResourceSet`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceSet'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - resource_set_write
      x-soldo:
        fingerprint-order: resourceSetId, name, description, token
    delete:
      tags:
      - Resource Sets
      summary: Delete Resource Set
      description: Endpoint to delete a specific `ResourceSet` by ID.
      operationId: resource-set-delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: The `ResourceSet` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - resource_set_write
components:
  schemas:
    ResourceSetScope:
      type: string
      description: The scope defined for the resource.
      example: ALL
      enum:
      - SELF
      - LIST
      - ALL
      - NONE
    Configuration:
      type: object
      properties:
        resource_type:
          $ref: '#/components/schemas/ResourceSetResourceType'
        scope:
          $ref: '#/components/schemas/ResourceSetScope'
        resource_ids:
          type: array
          description: The list of resource IDs belonging to the scope, only in case of scope of type `LIST`.
          example:
          - 7bf79328-a7ae-4222-aa54-091ff7f429a7
          - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
          items:
            type: string
            description: The list of resource IDs belonging to the scope, only in case of scope of type `LIST`.
            example: '["7bf79328-a7ae-4222-aa54-091ff7f429a7","2d65bd5e-3fdf-4002-b166-bde7fb8863fa"]'
      description: The configuration of the `ResourceSet`.
    ResourceSet:
      type: object
      properties:
        id:
          type: string
          description: The `ResourceSet` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: The name of the `ResourceSet`.
          example: Resource set 01
        description:
          type: string
          description: The description of the `ResourceSet`.
          example: This is a resource set
        configuration:
          type: array
          description: The configuration of the `ResourceSet`.
          items:
            $ref: '#/components/schemas/Configuration'
        creation_time:
          type: string
          description: The date and time when the `ResourceSet` was created.
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: The date and time when the `ResourceSet` was last updated.
          example: '2017-06-01T12:48:40Z'
    CreateResourceSet:
      required:
      - configuration
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the `ResourceSet`.
          example: Resource set 01
        description:
          type: string
          description: The description of the `ResourceSet`.
          example: This is a resource set
        configuration:
          type: array
          description: The configuration of the `ResourceSet`.
          items:
            $ref: '#/components/schemas/Configuration'
      description: Create `ResourceSet` JSON parameters.
    UpdateResourceSet:
      required:
      - configuration
      - name
      type: object
      properties:
        id:
          type: string
          description: The `ResourceSet` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: The name of the `ResourceSet`.
          example: Resource set 01
        description:
          type: string
          description: The description of the `ResourceSet`.
          example: This is a resource set
        configuration:
          type: array
          description: The configuration of the `ResourceSet`.
          items:
            $ref: '#/components/schemas/Configuration'
      description: Update `ResourceSet` JSON parameters.
    ResourceSetResourceType:
      type: string
      description: The type of resource for which the scope is defined.
      example: GROUP
      enum:
      - MAIN_WALLET
      - COMPANY_WALLET
      - USER
      - COMPANY_CARD
      - GROUP
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: true
