openapi: 3.2.0
info:
  title: Soldo Software And Services Contacts API
  version: 5.56.0
  description: 'Operations tagged Contacts across 2 of this provider''s published API definitions: soldo-software-and-services-business-api-openapi.json, soldo-software-and-services-contacts-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Contacts
paths:
  /business/v2/contacts:
    get:
      tags:
      - Contacts
      summary: Search Contacts
      description: Endpoint to search `Contacts` using filtering parameters.
      operationId: contact-search
      parameters:
      - name: statuses
        in: query
        description: The status of the `Contact`.
        schema:
          uniqueItems: true
          type: array
          description: The status of the `Contact`.
          example: SUGGESTED
          items:
            $ref: '#/components/schemas/ContactStatus'
        example: SUGGESTED
      - name: name
        in: query
        description: The name of the `Contact`.
        schema:
          uniqueItems: true
          type: array
          description: The name of the `Contact`.
          example: John Doe
          items:
            type: string
            description: The name of the `Contact`.
            example: John Doe
        example: John Doe
      - name: type
        in: query
        description: The type of the `Contact`.
        schema:
          uniqueItems: true
          type: array
          description: The type of the `Contact`.
          example: SUPPLIER
          items:
            $ref: '#/components/schemas/ContactType'
        example: SUPPLIER
      - name: countries
        in: query
        description: The [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) countries of the `Contact`.
        schema:
          uniqueItems: true
          type: array
          description: The [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) countries of the `Contact`.
          example: GBR
          items:
            $ref: '#/components/schemas/ISO3166Country'
        example: GBR
      - name: user
        in: query
        description: The ID of the `User` the bank details are assigned.
        schema:
          uniqueItems: true
          type: array
          description: The ID of the `User` the bank details are assigned.
          example: XMPL1234-000001
          items:
            type: string
            description: The ID of the `User` the bank details are assigned.
            example: XMPL1234-000001
        example: XMPL1234-000001
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The returned result is a list of `Contacts`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contacts'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - contact_read
    post:
      tags:
      - Contacts
      summary: Add Contact
      description: Endpoint to add a new `Contact`.
      operationId: contact-add
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContact'
      responses:
        '200':
          description: The returned resource is a single `Contact`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContactResponse'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - contact_write
      x-soldo:
        fingerprint-order: name, type, country, join(concat(account_info.type, account_info.identification)),userId, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/contacts/{contactId}:
    get:
      tags:
      - Contacts
      summary: Get Contact
      description: Endpoint to get specific `Contact` by ID.
      operationId: contact-get
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
          description: The `Contact` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The returned resource is a single `Contact`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - contact_write
    put:
      tags:
      - Contacts
      summary: Update Contact
      description: Endpoint to update `Contact`.
      operationId: contact-update
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
          description: The `Contact` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContact'
      responses:
        '200':
          description: The returned resource is a single `Contact`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateContactResponse'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - contact_write
      x-soldo:
        fingerprint-order: contactId, type, join(concat(account_info.type, account_info.identification)),userId, token
    delete:
      tags:
      - Contacts
      summary: Delete Contact
      description: Endpoint to delete a specific `Contact`.
      operationId: contact-delete
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
          description: The `Contact` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - contact_write
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
webhooks:
  contact_deleted:
    post:
      tags:
      - Contacts
      summary: Contact - Contact Deleted
      description: A `Contact` has been deleted.
      operationId: webhook-contact-contact-deleted
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, userId, type, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, userId, type, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDeletedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, userId, type, status
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  contact_updated:
    post:
      tags:
      - Contacts
      summary: Contact - Contact Updated
      description: A `Contact` has been updated.
      operationId: webhook-contact-contact-updated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, userId, type, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, userId, type, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, userId, type, status
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  contact_created:
    post:
      tags:
      - Contacts
      summary: Contact - Contact Created
      description: A `Contact` has been created.
      operationId: webhook-contact-contact-created
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, userId, type, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, userId, type, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, userId, type, status
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
components:
  schemas:
    AccountTypeRequest:
      type: string
      description: The account type of the payee  when the `Request` paymentMethod is BANK_TRANSFER.
      example: Example description
      enum:
      - PERSONAL
      - BUSINESS
    CreateContactResponse:
      type: object
      properties:
        id:
          type: string
          description: The `Contact` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: The name of the `Contact`.
          example: John Doe
        user_id:
          type: string
          description: The ID of the `User` the bank details are assigned to (only available for `Contacts` of type `EMPLOYEE`).
          example: XMPL1234-000001
        type:
          $ref: '#/components/schemas/ContactType'
        payment_scheme:
          uniqueItems: true
          type: array
          description: The type of payment accepted by the `Contact`.
          items:
            $ref: '#/components/schemas/PaymentSchema'
        account_info:
          type: array
          description: The bank account information of the `Contact`.
          items:
            $ref: '#/components/schemas/AccountInfoContact'
        bic:
          type: string
          description: The bic of the `User` the bank details .
          example: XMPL1234-000001
        country:
          $ref: '#/components/schemas/ISO3166Country'
        status:
          $ref: '#/components/schemas/ContactStatus'
        creation_time:
          type: string
          description: The date and time when the `Contact` was created.
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: The date and time when the `Contact` was last updated.
          example: '2017-06-01T12:48:40Z'
        validation:
          $ref: '#/components/schemas/ContactSuggestion'
    ContactCreatedEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Contact'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    AccountIdentificationType:
      type: string
      description: The type of the bank account identification.
      example: IBAN
      enum:
      - SORT_CODE
      - ACCOUNT_NUMBER
      - IBAN
    PaymentSchema:
      type: string
      description: The type of payment accepted by the `Contact`.
      enum:
      - FPS
      - SEPA
      - SEPA_INSTANT
    ContactType:
      type: string
      description: The type of the `Contact`. If type is ACCOUNT, cannot be updated
      example: SUPPLIER
      enum:
      - SUPPLIER
      - CLIENT
      - EMPLOYEE
      - ACCOUNT
    Contact:
      type: object
      properties:
        id:
          type: string
          description: The `Contact` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: The name of the `Contact`.
          example: John Doe
        user_id:
          type: string
          description: The ID of the `User` the bank details are assigned to (only available for `Contacts` of type `EMPLOYEE`).
          example: XMPL1234-000001
        type:
          $ref: '#/components/schemas/ContactType'
        payment_scheme:
          uniqueItems: true
          type: array
          description: The type of payment accepted by the `Contact`.
          items:
            $ref: '#/components/schemas/PaymentSchema'
        account_info:
          type: array
          description: The bank account information of the `Contact`.
          items:
            $ref: '#/components/schemas/AccountInfoContact'
        bic:
          type: string
          description: The bic of the `User` the bank details .
          example: XMPL1234-000001
        country:
          $ref: '#/components/schemas/ISO3166Country'
        status:
          $ref: '#/components/schemas/ContactStatus'
        creation_time:
          type: string
          description: The date and time when the `Contact` was created.
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: The date and time when the `Contact` was last updated.
          example: '2017-06-01T12:48:40Z'
        bank_account_verification_status:
          $ref: '#/components/schemas/ContactBankAccountVerificationStatus'
    ContactUpdatedEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Contact'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      example: DESC
      enum:
      - ASC
      - DESC
    UpdateContactResponse:
      type: object
      properties:
        id:
          type: string
          description: The `Contact` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: The name of the `Contact`.
          example: John Doe
        user_id:
          type: string
          description: The ID of the `User` the bank details are assigned to (only available for `Contacts` of type `EMPLOYEE`).
          example: XMPL1234-000001
        type:
          $ref: '#/components/schemas/ContactType'
        payment_scheme:
          uniqueItems: true
          type: array
          description: The type of payment accepted by the `Contact`.
          items:
            $ref: '#/components/schemas/PaymentSchema'
        account_info:
          type: array
          description: The bank account information of the `Contact`.
          items:
            $ref: '#/components/schemas/AccountInfoContact'
        bic:
          type: string
          description: The bic of the `User` the bank details .
          example: XMPL1234-000001
        country:
          $ref: '#/components/schemas/ISO3166Country'
        status:
          $ref: '#/components/schemas/ContactStatus'
        creation_time:
          type: string
          description: The date and time when the `Contact` was created.
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: The date and time when the `Contact` was last updated.
          example: '2017-06-01T12:48:40Z'
        validation:
          $ref: '#/components/schemas/ContactSuggestion'
    ContactStatus:
      type: string
      description: The status of the `Contact`.
      example: CREATED
      enum:
      - CREATED
      - SUGGESTED
    ContactDeletedEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Contact'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    AccountInfoContact:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AccountIdentificationType'
        identification:
          type: string
          description: The bank account identification for the specified type.
          example: GB00ABCD00000123456789
      description: The bank account information of the `Contact`.
    Contacts:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        pages:
          type: integer
          description: It represents the total number of available pages.
          format: int32
          example: 7
        page_size:
          type: integer
          description: It represents the number of items per page.
          format: int32
          example: 25
        current_page:
          type: integer
          description: It indicates the current page (the counter starts from zero).
          format: int32
          example: 0
        results_size:
          type: integer
          description: It indicates the size of the array results.
          format: int32
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    ContactSuggestion:
      type: object
      properties:
        field:
          type: string
          description: The field of the `Contact` that has a suggested correction.
          example: name
        current_value:
          type: string
          description: The name provided for the `Contact`.
          example: JAMES ADAN
        suggested_value:
          type: string
          description: The suggested name for the `Contact`
          example: JAMES ADAM
        match_status:
          $ref: '#/components/schemas/ContactMatchStatus'
      description: The validation for contact correction.
    ContactBankAccountVerificationStatus:
      type: string
      description: Whether the provided `Contact` bank account details matches the actual ones.
      example: '2017-06-01T12:48:40Z'
      enum:
      - UNABLE_TO_MATCH
      - FULL_MATCH
      - PARTIAL_MATCH
      - NO_MATCH
      - UNABLE_TO_VERIFY
    ISO3166Country:
      type: string
      description: The [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) code of the country where the `Transaction` has been authorised.
      example: GBR
      enum:
      - ASC
      - AND
      - ARE
      - AFG
      - ATG
      - AIA
      - ALB
      - ARM
      - ANT
      - AGO
      - ATA
      - ARG
      - ASM
      - AUT
      - AUS
      - ABW
      - ALA
      - AZE
      - BIH
      - BRB
      - BGD
      - BEL
      - BFA
      - BGR
      - BHR
      - BDI
      - BEN
      - BLM
      - BMU
      - BRN
      - BOL
      - BES
      - BRA
      - BHS
      - BTN
      - BUR
      - BVT
      - BWA
      - BLR
      - BLZ
      - CAN
      - CCK
      - COD
      - CAF
      - COG
      - CHE
      - CIV
      - COK
      - CHL
      - CMR
      - CHN
      - COL
      - CPT
      - CRI
      - CSXX
      - CUB
      - CPV
      - CUW
      - CXR
      - CYP
      - CZE
      - DEU
      - DGA
      - DJI
      - DNK
      - DMA
      - DOM
      - DZA
      - ECU
      - EST
      - EGY
      - ESH
      - ERI
      - ESP
      - ETH
      - FIN
      - FJI
      - FLK
      - FSM
      - FRO
      - FRA
      - FXX
      - GAB
      - GBR
      - GRD
      - GEO
      - GUF
      - GGY
      - GHA
      - GIB
      - GRL
      - GMB
      - GIN
      - GLP
      - GNQ
      - GRC
      - SGS
      - GTM
      - GUM
      - GNB
      - GUY
      - HKG
      - HMD
      - HND
      - HRV
      - HTI
      - HUN
      - IDN
      - IRL
      - ISR
      - IMN
      - IND
      - IOT
      - IRQ
      - IRN
      - ISL
      - ITA
      - JEY
      - JAM
      - JOR
      - JPN
      - KEN
      - KGZ
      - KHM
      - KIR
      - COM
      - KNA
      - PRK
      - KOR
      - KWT
      - CYM
      - KAZ
      - LAO
      - LBN
      - LCA
      - LIE
      - LKA
      - LBR
      - LSO
      - LTU
      - LUX
      - LVA
      - LBY
      - MAR
      - MCO
      - MDA
      - MNE
      - MAF
      - MDG
      - MHL
      - MKD
      - MLI
      - MMR
      - MNG
      - MAC
      - MNP
      - MTQ
      - MRT
      - MSR
      - MLT
      - MUS
      - MDV
      - MWI
      - MEX
      - MYS
      - MOZ
      - NAM
      - NCL
      - NER
      - NFK
      - NGA
      - NIC
      - NLD
      - NOR
      - NPL
      - NRU
      - NTZ
      - NIU
      - NZL
      - OMN
      - PAN
      - PER
      - PYF
      - PNG
      - PHL
      - PAK
      - POL
      - SPM
      - PCN
      - PRI
      - PSE
      - PRT
      - PLW
      - PRY
      - QAT
      - REU
      - ROU
      - ROM
      - SRB
      - RUS
      - RWA
      - SAU
      - SLB
      - SYC
      - SDN
      - SWE
      - SGP
      - SHN
      - SVN
      - SJM
      - SVK
      - SLE
      - SMR
      - SEN
      - SOM
      - SUR
      - SSD
      - STP
      - SUN
      - SLV
      - SXM
      - SYR
      - SWZ
      - TAA
      - TCA
      - TCD
      - ATF
      - TGO
      - THA
      - TJK
      - TKL
      - TLS
      - TKM
      - TUN
      - TON
      - TUR
      - TTO
      - TUV
      - TWN
      - TZA
      - UKR
      - UGA
      - UMI
      - USA
      - URY
      - UZB
      - VAT
      - VCT
      - VEN
      - VGB
      - VIR
      - VNM
      - VUT
      - WLF
      - WSM
      - XKX
      - XXK
      - QZZ
      - YEM
      - MYT
      - YUCS
      - ZAF
      - ZMB
      - ZRCD
      - ZWE
    CreateContact:
      required:
      - account_type
      - country
      - name
      - type
      type: object
      properties:
        name:
          type: string
          description: The name of the `Contact`.
          example: John Doe
        user_id:
          type: string
          description: The ID of the `User` the bank details are assigned to (only available for `Contacts` of type `EMPLOYEE`).
          example: XMPL1234-000001
        type:
          $ref: '#/components/schemas/ContactType'
        account_info:
          type: array
          description: The account info.
          items:
            $ref: '#/components/schemas/AccountInfoContact'
        country:
          $ref: '#/components/schemas/ISO3166Country'
        bic:
          type: string
          description: The bic code that identifies a bank internationally for money transfers.
          example: UNCRITMMXXX
        account_type:
          $ref: '#/components/schemas/AccountTypeRequest'
      description: Create `Contact` JSON parameters.
    ContactMatchStatus:
      type: string
      description: Whether the provided `Contact` bank account data matches.
      example: PARTIAL_MATCH
      enum:
      - UNABLE_TO_MATCH
      - FULL_MATCH
      - PARTIAL_MATCH
      - NO_MATCH
      - UNABLE_TO_VERIFY
    WebhookEventName:
      type: string
      description: The list of subscribed events.
      enum:
      - business_trip_created
      - business_trip_updated
      - business_trip_deleted
      - card_activated
      - card_change_status
      - card_creation
      - card_destroyed
      - card_lost
      - card_replaced
      - card_stolen
      - card_label_updated
      - card_assignee_updated
      - add_resources_card
      - add_resources_member
      - add_resources_wallet
      - create_group
      - delete_group
      - move_resources_card
      - move_resources_member
      - move_resources_wallet
      - remove_resources_card
      - remove_resources_member
      - remove_resources_wallet
      - update_group
      - store_order_completed
      - store_order_placed
      - balanced_transfer
      - billing
      - card_authorization
      - conversion
      - customer_care_deposit
      - customer_care_withdraw
      - edit_tag
      - inbound_payment
      - inbound_payment_reversal
      - internal_transfer
      - joule_feed
      - load_failed
      - load_money
      - recurring_billing
      - scheduled_transfer
      - transaction_adjustment
      - unload_money
      - wiretransfer
      - upload_completed
      - attachment_delete
      - new_user
      - user_status_changed
      - user_updated
      - wallet_created
      - wallet_deleted
      - vehicle_create
      - vehicle_update
      - vehicle_delete
      - purchase_create
      - purchase_update
      - purchase_delete
      - purchase_redeem_card
      - created_expense_configuration
      - disabled_expense_configuration
      - enabled_expense_configuration
      - updated_expense_configuration
      - completed_transactions_import
      - updated_transaction
      - change_expense_type
      - subscription_activated
      - subscription_created
      - subscription_updated
      - subscription_deleted
      - subscription_assignee_added
      - subscription_assignee_removed
      - online_ads_activated
      - online_ads_created
      - online_ads_updated
      - online_ads_deleted
      - online_ads_assignee_added
      - online_ads_assignee_removed
      - transaction_created
      - transaction_modified
      - transaction_deleted
      - transaction_business_trip_linked
      - transaction_business_trip_unlinked
      - contact_created
      - contact_updated
      - contact_deleted
    UpdateContact:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ContactType'
        user_id:
          type: string
          description: The ID of the `User` the bank details are assigned to (only available for `Contacts` of type `EMPLOYEE`).
          example: XMPL1234-000001
        account_info:
          type: array
          description: The bank account information of the `Contact`.
          items:
            $ref: '#/components/schemas/AccountInfoContact'
        status:
          $ref: '#/components/schemas/ContactStatus'
        name:
          type: string
          description: The name of the `Contact`.
          example: John Doe
      description: Update `Contact` JSON parameters.
    WebhookEventType:
      type: string
      description: The webhook event type.
      example: Contact
      default: Contact
      enum:
      - BusinessTrip
      - Card
      - Contact
      - ExpenseReview
      - Group
      - OnlineAds
      - Order
      - Purchase
      - Subscription
      - Transaction
      - TransactionAttachment
      - Employee
      - Vehicle
      - Wallet
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-refined-from:
- soldo-software-and-services-business-api-openapi.json
- soldo-software-and-services-contacts-api-openapi.yml
x-readme:
  hidden: true
