openapi: 3.2.0
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Business Trips API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Business Trips
paths:
  /business/v2/business-trips:
    get:
      tags:
      - Business Trips
      summary: Search BusinessTrips
      description: Endpoint to find `BusinessTrips` using filtering parameters.
      operationId: business-trip-search
      parameters:
      - name: fromDate
        in: query
        description: 'The beginning of the period of the search `fromDate` included (i.e. greater than or equal to) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '2020-04-06T12:48:40Z'
      - name: toDate
        in: query
        description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '2020-05-07T12:48:40Z'
      - name: status
        in: query
        description: The status of the `BusinessTrip`.
        schema:
          type: array
          description: The status of the `Purchase`.
          items:
            $ref: '#/components/schemas/BusinessTripPurchaseStatus'
        example: ACTIVE
      - name: dateType
        in: query
        description: It determines the date to be considered for `fromDate` and `toDate` parameters.
        schema:
          $ref: '#/components/schemas/SearchBusinessTripDateType'
        example: COMPLETED_TIME
      - name: travellerUserId
        in: query
        description: The ID of the `User` that is travelling with the `BusinessTrip`.
        schema:
          type: array
          description: The ID of the `User` that is travelling with the `BusinessTrip`.
          items:
            type: string
            description: The ID of the `User` that is travelling with the `BusinessTrip`.
        example: XMPL1234-000001
      - name: text
        in: query
        description: A simple text to search in the `BusinessTrip` data.
        schema:
          type: string
          description: A simple text to search in the `BusinessTrip` data.
          example: something
        example: something
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The result is an array containing `BusinessTrips`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessTrips'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - business_trip_read
    post:
      tags:
      - Business Trips
      summary: Add Business Trip
      description: Endpoint to add a new `BusinessTrip`.
      operationId: business-trip-add
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessTrip'
      responses:
        '200':
          description: The returned resource is a single `BusinessTrip`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessTrip'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - business_trip_write
      x-soldo:
        fingerprint-order: request_timestamp, name, traveller_user_id, traveller_card_id, wallet_id, join(concat(expense_allocation.spend_period, expense_allocation.amount, expense_allocation.amount_currency))
  /business/v2/business-trips/{businessTripId}:
    get:
      tags:
      - Business Trips
      summary: Get BusinessTrip
      description: Endpoint to get a specific `BusinessTrip` by ID.
      operationId: business-trip-get
      parameters:
      - name: businessTripId
        in: path
        required: true
        schema:
          type: string
          description: The `BusinessTrip` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The returned resource is a single `BusinessTrip`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessTrip'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - business_trip_read
    delete:
      tags:
      - Business Trips
      summary: Delete BusinessTrip
      description: Endpoint to delete a `BusinessTrip`.
      operationId: business-trip-delete
      parameters:
      - name: businessTripId
        in: path
        required: true
        schema:
          type: string
          description: The `BusinessTrip` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - business_trip_write
  /business/v2/business-trips/{businessTripId}/complete-transfer:
    post:
      tags:
      - Business Trips
      summary: Complete Business Trip Transfer
      description: Endpoint to complete the funds transfer for a `BusinessTrip`.
      operationId: business-trip-complete-transfer
      parameters:
      - name: businessTripId
        in: path
        required: true
        schema:
          type: string
          description: The `BusinessTrip` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteBusinessTripTransfer'
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - business_trip_write
      x-soldo:
        fingerprint-order: request_timestamp, id
  /business/v2/business-trips/{businessTripId}/details:
    put:
      tags:
      - Business Trips
      summary: Update BusinessTrip Details
      description: Endpoint to update the general details `BusinessTrip`.
      operationId: business-trip-update-details
      parameters:
      - name: businessTripId
        in: path
        required: true
        schema:
          type: string
          description: The `BusinessTrip` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessTripDetails'
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - business_trip_write
      x-soldo:
        fingerprint-order: request_timestamp, id, name
  /business/v2/business-trips/{businessTripId}/expense-allocation:
    put:
      tags:
      - Business Trips
      summary: Update BusinessTrip Expense Allocation
      description: Endpoint to update allocation of expenses associated to a `BusinessTrip`.
      operationId: business-trip-update-expenses
      parameters:
      - name: businessTripId
        in: path
        required: true
        schema:
          type: string
          description: The `BusinessTrip` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessTripExpenseAllocation'
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - business_trip_write
      x-soldo:
        fingerprint-order: request_timestamp, id, join(concat(expense_allocation.spend_period, expense_allocation.amount, expense_allocation.amount_currency))
  /business/v2/business-trips/{businessTripId}/post-actions:
    put:
      tags:
      - Business Trips
      summary: Update BusinessTrip Post Actions
      description: Endpoint to update actions to be executed after a `BusinessTrip`.
      operationId: business-trip-update-post-actions
      parameters:
      - name: businessTripId
        in: path
        required: true
        schema:
          type: string
          description: The `BusinessTrip` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessTripPostActions'
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - business_trip_write
  /business/v2/business-trips/{businessTripId}/tags:
    put:
      tags:
      - Business Trips
      summary: Update BusinessTrip Tags
      description: Endpoint to update tags associated to a `BusinessTrip`.
      operationId: business-trip-update-tags
      parameters:
      - name: businessTripId
        in: path
        required: true
        schema:
          type: string
          description: The `BusinessTrip` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessTripTags'
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - business_trip_write
components:
  schemas:
    CompleteBusinessTripTransfer:
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
      description: Complete `BusinessTrip` Transfer JSON parameters.
    BusinessTripStatus:
      type: string
      description: 'The status of the `BusinessTrip` (sortable: no).'
      example: ONGOING
      enum:
      - SCHEDULED
      - COMPLETED
      - ONGOING
      - DELETED
      - FINISHED
    BusinessTripPreAction:
      type: string
      description: 'The action to be performed about the `BusinessTrip` requestedAction (sortable: no).'
      enum:
      - CARD_ACTIVATE
      - CARD_KEEP_BLOCKED
      - FUNDS_TRANSFER_ON_WALLET
      - UNLOCK_COUNTRIES_ON_CARD
    DateParam:
      type: object
      description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
      example: '1970-01-30'
    PreAction:
      type: object
      properties:
        requested_action:
          uniqueItems: true
          type: array
          description: 'The action to be performed about the `BusinessTrip` requestedAction (sortable: no).'
          items:
            $ref: '#/components/schemas/BusinessTripPreAction'
      description: 'The action to be performed pre `BusinessTrip`(sortable: no).'
    ISO4217Currency:
      type: string
      description: 'The [ISO 4217](https://www.six-group.com/en/products-services/financial-information/data-standards.html#scrollTo=maintenance-agency) code of the currency of the `Wallet` (sortable: no)'
      example: EUR
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VED
      - VEF
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
    BusinessTripMoneyTransferMode:
      type: string
      description: 'The mode of the money transfer before and during the `BusinessTrip` (sortable: no).'
      example: SPLIT
      enum:
      - SPLIT
      - FULL
    BusinessTripExpenseSpendPeriod:
      type: string
      description: The spend period of the `BusinessTripExpense`.
      example: BEFORE_TRIP
      enum:
      - BEFORE_TRIP
      - DURING_TRIP
    BusinessTripTag:
      type: object
      properties:
        tag_id:
          type: string
          description: The `Tags` of the `BusinessTrip`.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        dictionary_id:
          type: string
          description: The `List` ID of the `Tag` of the `BusinessTrip`.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      description: The IDs of the `Tag` and related `Dictionary` of the `Request` for the `BusinessTrip` type
    BusinessTripItem:
      type: object
      properties:
        id:
          type: string
          description: 'The `BusinessTrip` ID (sortable: no).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: 'The name of the `BusinessTrip` (sortable: no).'
          example: There and back again
        description:
          type: string
          description: 'The description of the `BusinessTrip` (sortable: no).'
          example: EXAMPLE BUSINESS TRIP DESCRIPTION
        destination:
          type: string
          description: 'The destination of the `BusinessTrip` (sortable: no).'
        date_from:
          type: string
          description: 'The start date of the `BusinessTrip` (sortable: no).'
        date_to:
          type: string
          description: 'The end date of the `BusinessTrip` (sortable: no).'
        author_user_id:
          type: string
          description: 'The ID of the `User` that created the `BusinessTrip` (sortable: no).'
          example: XMPL1234-000001
        approver_user_id:
          type: string
          description: 'The ID of the `User` who approved the `BusinessTrip` (sortable: no).'
          example: XMPL1234-000003
        traveller_user_id:
          type: string
          description: 'The ID of the traveller `User` assigned to the `BusinessTrip` (sortable: no).'
          example: XMPL1234-000003
        traveller_card_id:
          type: string
          description: 'The ID of the `Card` where to transfer funds before and during the `BusinessTrip` (sortable: no).'
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        money_transfer_mode:
          $ref: '#/components/schemas/BusinessTripMoneyTransferMode'
        status:
          $ref: '#/components/schemas/BusinessTripStatus'
        purchase_state:
          $ref: '#/components/schemas/BusinessTripPurchaseStatus'
        total_amount:
          type: number
          description: 'The total amount of the `BusinessTrip` (sortable: no).'
          example: 10.25
        total_amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        received_amount:
          type: number
          description: 'The total amount already sent to the `Card` related to this `BusinessTrip` (sortable: no).'
        received_amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        scheduled_amount:
          type: number
          description: 'The total amount still to send to the `Card` related to this `BusinessTrip` (sortable: no).'
        scheduled_amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        pre_action:
          $ref: '#/components/schemas/PreAction'
        post_action:
          $ref: '#/components/schemas/PostAction'
        wallet_id:
          type: string
          description: 'The ID of the `Wallet` the money are taken from, the funding source of the `BusinessTrip` (sortable: no).'
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        creation_time:
          type: string
          description: 'The date and time when the `BusinessTrip` was created (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: 'The date and time when the `BusinessTrip` was last updated (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
    PostAction:
      type: object
      properties:
        unused_funds:
          $ref: '#/components/schemas/BusinessTripUnusedFunds'
        card_handling:
          $ref: '#/components/schemas/BusinessTripCardHandling'
      description: 'The action to be performed post the `BusinessTrip` (sortable: no).'
    BusinessTripUnusedFunds:
      type: string
      description: 'The action to be performed about the `BusinessTrip` unused funds (sortable: no).'
      enum:
      - LEAVE
      - REMOVE
    UpdateBusinessTripDetails:
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        name:
          type: string
          description: The `BusinessTrip` name.
          example: EXAMPLE BUSINESS TRIP
        description:
          type: string
          description: The `BusinessTrip` description.
          example: EXAMPLE BUSINESS TRIP DESCRIPTION
        destination:
          type: string
          description: The `BusinessTrip` destination.
          example: monte fato
        from_date:
          type: string
          description: The `BusinessTrip` start date and time.
          example: '2017-06-01T12:48:40Z'
        to_date:
          type: string
          description: The `BusinessTrip` end date and time.
          example: '2017-06-01T12:48:40Z'
      description: Update `BusinessTrip` JSON parameters.
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      example: DESC
      enum:
      - ASC
      - DESC
    BusinessTrip:
      type: object
      properties:
        id:
          type: string
          description: 'The `BusinessTrip` ID (sortable: no).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: 'The name of the `BusinessTrip` (sortable: no).'
          example: There and back again
        description:
          type: string
          description: 'The description of the `BusinessTrip` (sortable: no).'
          example: EXAMPLE BUSINESS TRIP DESCRIPTION
        destination:
          type: string
          description: 'The destination of the `BusinessTrip` (sortable: no).'
        date_from:
          type: string
          description: 'The start date of the `BusinessTrip` (sortable: no).'
        date_to:
          type: string
          description: 'The end date of the `BusinessTrip` (sortable: no).'
        author_user_id:
          type: string
          description: 'The ID of the `User` that created the `BusinessTrip` (sortable: no).'
          example: XMPL1234-000001
        approver_user_id:
          type: string
          description: 'The ID of the `User` who approved the `BusinessTrip` (sortable: no).'
          example: XMPL1234-000003
        traveller_user_id:
          type: string
          description: 'The ID of the traveller `User` assigned to the `BusinessTrip` (sortable: no).'
          example: XMPL1234-000003
        traveller_card_id:
          type: string
          description: 'The ID of the `Card` where to transfer funds before and during the `BusinessTrip` (sortable: no).'
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        money_transfer_mode:
          $ref: '#/components/schemas/BusinessTripMoneyTransferMode'
        status:
          $ref: '#/components/schemas/BusinessTripStatus'
        purchase_state:
          $ref: '#/components/schemas/BusinessTripPurchaseStatus'
        total_amount:
          type: number
          description: 'The total amount of the `BusinessTrip` (sortable: no).'
          example: 10.25
        total_amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        received_amount:
          type: number
          description: 'The total amount already sent to the `Card` related to this `BusinessTrip` (sortable: no).'
        received_amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        scheduled_amount:
          type: number
          description: 'The total amount still to send to the `Card` related to this `BusinessTrip` (sortable: no).'
        scheduled_amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        pre_action:
          $ref: '#/components/schemas/PreAction'
        post_action:
          $ref: '#/components/schemas/PostAction'
        wallet_id:
          type: string
          description: 'The ID of the `Wallet` the money are taken from, the funding source of the `BusinessTrip` (sortable: no).'
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        creation_time:
          type: string
          description: 'The date and time when the `BusinessTrip` was created (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: 'The date and time when the `BusinessTrip` was last updated (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        expense_allocation:
          type: array
          description: 'The list of `ExpenseAllocation` for the `BusinessTrip` (sortable: no).'
          items:
            $ref: '#/components/schemas/BusinessTripExpense'
        tags:
          type: array
          description: The IDs of the `Tag` and related `Dictionary` to be assigned to a `BusinessTrip`.
          items:
            $ref: '#/components/schemas/BusinessTripTag'
    CreateBusinessTrip:
      required:
      - description
      - destination
      - from_date
      - money_transfer_mode
      - name
      - post_action
      - request_timestamp
      - to_date
      - traveller_card_id
      - traveller_user_id
      - wallet_id
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        name:
          type: string
          description: The `BusinessTrip` name.
          example: EXAMPLE BUSINESS TRIP
        description:
          type: string
          description: The `BusinessTrip` description.
          example: EXAMPLE BUSINESS TRIP DESCRIPTION
        destination:
          type: string
          description: The `BusinessTrip` destination.
          example: monte fato
        traveller_user_id:
          type: string
          description: The `BusinessTrip` traveller User ID.
          example: XMPL1234-000001
        traveller_card_id:
          type: string
          description: The `BusinessTrip` `Card` ID where to transfer money.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        wallet_id:
          type: string
          description: The ID of the `Wallet` the money are taken from, the funding source of the `BusinessTrip`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        tags:
          type: array
          description: The IDs of the `Tag` and related `Dictionary` to be assigned to the `BusinessTrip`.
          items:
            $ref: '#/components/schemas/BusinessTripTag'
        from_date:
          type: string
          description: The `BusinessTrip` start date and time.
          example: '2017-06-01T12:48:40Z'
        to_date:
          type: string
          description: The `BusinessTrip` end date and time.
          example: '2017-06-01T12:48:40Z'
        money_transfer_mode:
          $ref: '#/components/schemas/BusinessTripMoneyTransferMode'
        pre_action:
          $ref: '#/components/schemas/PreAction'
        post_action:
          $ref: '#/components/schemas/PostAction'
        expense_allocation:
          type: array
          description: 'The `BusinessTrip` expense allocation. In Expense allocation: expense_category_id and description are mutually exclusive: provide expense_category_id (for an existing expense category) or description (for a custom expense), but not both.'
          items:
            $ref: '#/components/schemas/BusinessTripExpense'
      description: Create `BusinessTrip` JSON parameters.
    BusinessTripExpense:
      required:
      - amount
      - amount_currency
      - spend_period
      type: object
      properties:
        expense_category_id:
          type: string
          description: 'The ID of the `ExpenseCategory` related to this `BusinessTripExpense`. Required if description is not provided. Mutually exclusive with `expense_category_id`: provide either `description` (for a custom expense) or `expense_category_id` (for an existing expense category), but not both.'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        spend_period:
          $ref: '#/components/schemas/BusinessTripExpenseSpendPeriod'
        amount:
          type: number
          description: The amount of the `BusinessTripExpense`.
          example: 10.25
        amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        description:
          type: string
          description: 'The custom name of the `BusinessTripExpense`. Required if expenseCategoryId is not provided. Mutually exclusive with `expense_category_id`: provide either `description` (for a custom expense) or `expense_category_id` (for an existing expense category), but not both.'
          example: CUSTOM_EXPENSE
      description: 'Expense allocation: expense_category_id and description are mutually exclusive: provide expense_category_id (for an existing expense category) or description (for a custom expense), but not both.'
    BusinessTripPurchaseStatus:
      type: string
      description: The status of the `Purchase`.
      enum:
      - SUCCESSFUL
      - ACTIVE
      - ASSIGNED
      - DELETED
      - EXPIRED
      - REQUEST_EXTENSION
    BusinessTripCardHandling:
      type: string
      description: 'The status of the `Card` at the end of the `BusinessTrip` (sortable: no).'
      enum:
      - KEEP_ACTIVE
      - BLOCK
    UpdateBusinessTripExpenseAllocation:
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        expense_allocation:
          type: array
          description: 'The `BusinessTrip` expense allocation to use. In Expense allocation: expense_category_id and description are mutually exclusive: provide expense_category_id (for an existing expense category) or description (for a custom expense), but not both.'
          items:
            $ref: '#/components/schemas/BusinessTripExpense'
      description: Update `BusinessTrip` JSON parameters.
    SearchBusinessTripDateType:
      type: string
      description: It determines the date to be considered for `fromDate` and `toDate` parameters.
      example: COMPLETED_TIME
      enum:
      - CREATION_TIME
      - COMPLETED_TIME
    BusinessTrips:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        pages:
          type: integer
          description: It represents the total number of available pages.
          format: int32
          example: 7
        page_size:
          type: integer
          description: It represents the number of items per page.
          format: int32
          example: 25
        current_page:
          type: integer
          description: It indicates the current page (the counter starts from zero).
          format: int32
          example: 0
        results_size:
          type: integer
          description: It indicates the size of the array results.
          format: int32
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/BusinessTripItem'
    UpdateBusinessTripTags:
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        tags:
          type: array
          description: The IDs of the `Tag` and related `Dictionary` to be assigned to a `BusinessTrip`.
          items:
            $ref: '#/components/schemas/BusinessTripTag'
      description: Update `BusinessTrip` JSON parameters.
    UpdateBusinessTripPostActions:
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        unused_funds:
          $ref: '#/components/schemas/BusinessTripUnusedFunds'
        card_handling:
          $ref: '#/components/schemas/BusinessTripCardHandling'
      description: Update `BusinessTrip` JSON parameters.
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: true
