openapi: 3.2.0
info:
  title: Soldo Software And Services Cards API
  version: 5.56.0
  description: 'Operations tagged Cards across 2 of this provider''s published API definitions: soldo-software-and-services-business-api-openapi.json, soldo-software-and-services-cards-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Cards
paths:
  /business/v2/cards:
    get:
      tags:
      - Cards
      summary: Search Cards
      description: Endpoint to find `Cards` using filtering parameters.
      operationId: card-search
      parameters:
      - name: type
        in: query
        description: The type of a resource the `Card` is attached to.
        schema:
          $ref: '#/components/schemas/CardAttachedResourceType'
        example: wallet
      - name: id
        in: query
        description: The ID of the `type` resource (it's not applicable for `company` resource; it's not required for `employees`).
        schema:
          type: string
          description: The ID of the `type` resource (it's not applicable for `company` resource; it's not required for `employees`).
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: customreferenceId
        in: query
        description: The custom reference ID of the `type` resource.
        schema:
          type: string
          description: The custom reference ID of the `type` resource.
          example: 123456-user-1
        example: 123456-user-1
      - name: status
        in: query
        description: One among the available `Card` statuses of a `Card`.
        schema:
          $ref: '#/components/schemas/CardStatus'
        example: Normal
      - name: groupId
        in: query
        description: The ID of the `Group` the `Card` is related to.
        schema:
          type: string
          description: The ID of the `Group` the `Card` is related to.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: name
        in: query
        description: The name of the `Card`.
        schema:
          type: string
          description: The name of the `Card`.
          example: CardName
        example: CardName
      - name: label
        in: query
        description: The label of the `Card`.
        schema:
          type: string
          description: The label of the `Card`.
          example: CardLabel
        example: CardLabel
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The result is an array containing `Cards`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cards'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - card_read
    post:
      tags:
      - Cards
      summary: Add Card
      description: Endpoint to add a new `Card`. The created `Card` has the same currency of the `Wallet` it belongs to.
      operationId: card-add
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCardOrder'
      responses:
        '200':
          description: The returned resource is a single `Order`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_write
      x-soldo:
        fingerprint-order: request_timestamp, owner_type, owner_public_id, wallet_id, address_id, vehicle_id, preset_id, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/cards/{cardId}:
    get:
      tags:
      - Cards
      summary: Get Card
      description: Endpoint to retrieve a specific `Card` by ID.
      operationId: card-get
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: showSensitiveData
        in: query
        schema:
          type: boolean
          description: It determines whether to show `Card` sensitive data.
      responses:
        '200':
          description: The returned resource is a single `Card`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_read
    put:
      tags:
      - Cards
      summary: Update Card
      description: Endpoint to add and remove assignees for company `Cards`.
      operationId: card-update
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCard'
      responses:
        '200':
          description: The returned resource is a single `Card`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_write
      x-soldo:
        fingerprint-order: cardId, join(addCardAssignees), join(removeCardAssignees), label, vehicle_id, token
    delete:
      tags:
      - Cards
      summary: Delete Card
      description: Endpoint to delete a `Card`.
      operationId: card-delete
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_write
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/cards/{cardId}/move/{newWalletId}:
    put:
      tags:
      - Cards
      summary: Switch Card Wallet
      description: Endpoint to switch the `Card` `Wallet`.
      operationId: card-wallet-switch
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: newWalletId
        in: path
        required: true
        schema:
          type: string
          description: The new `Wallet` ID.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '200':
          description: The returned resource is a single `Card`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_write
        - wallet_write
      x-soldo:
        fingerprint-order: cardId, newWalletId, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
webhooks:
  card_lost:
    post:
      tags:
      - Cards
      summary: Card - Card Lost
      description: A `Card` has been reported as lost.
      operationId: webhook-card-card-lost
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardLostEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  card_change_status:
    post:
      tags:
      - Cards
      summary: Card - Card Change Status
      description: A `Card` changed status.
      operationId: webhook-card-card-change_status
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardChangeStatusEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  card_destroyed:
    post:
      tags:
      - Cards
      summary: Card - Card Destroyed
      description: A `Card` has been destroyed.
      operationId: webhook-card-card-destroyed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDestroyedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  card_activated:
    post:
      tags:
      - Cards
      summary: Card - Card Activated
      description: A `Card` has been activated.
      operationId: webhook-card-card-activated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardActivatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  card_replaced:
    post:
      tags:
      - Cards
      summary: Card - Card Replaced
      description: A `Card` has been replaced.
      operationId: webhook-card-card-replaced
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardReplacedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  card_stolen:
    post:
      tags:
      - Cards
      summary: Card - Card Stolen
      description: A `Card` has been reported as stolen.
      operationId: webhook-card-card-stolen
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardStolenEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  card_creation:
    post:
      tags:
      - Cards
      summary: Card - Card Creation
      description: A new `Card` has been created.
      operationId: webhook-card-card-creation
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardCreationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  card_label_updated:
    post:
      tags:
      - Cards
      summary: Card - Card Update Label
      description: A label `Card` has been updated label.
      operationId: webhook-card-card_label_updated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id,label,token
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardLabelUpdatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  card_assignee_updated:
    post:
      tags:
      - Cards
      summary: Card - Card Update Assignee
      description: A label `Card` has been updated assignee.
      operationId: webhook-card-card_assignee_updated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id,join(addCardAssignees),join(removeCardAssignees),token
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardAssigneeUpdatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
components:
  schemas:
    CardRenewalInfo:
      type: object
      properties:
        expiring_soon:
          type: boolean
          description: Whether the `Card` is approaching its expiration date.
          example: true
        renewed_card_ready_for_activation:
          type: boolean
          description: Whether the renewed `Card` is ready to be activated.
          example: true
      description: Renewal details for the `Card`. Present only when a renewal process has been initiated for the `Card`, `null` otherwise.
    CardStolenEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Card'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    CardChangeStatusEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Card'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    CardLostEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Card'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    CardOwnerType:
      type: string
      description: 'The owner type (sortable: no).'
      example: employee
      enum:
      - company
      - employee
    CardDestroyedEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Card'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    ISO4217Currency:
      type: string
      description: 'The [ISO 4217](https://www.six-group.com/en/products-services/financial-information/data-standards.html#scrollTo=maintenance-agency) code of the currency of the `Wallet` (sortable: no)'
      example: EUR
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VED
      - VEF
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
    AddCardType:
      type: string
      description: The type of the `Card`.
      example: PLASTIC
      enum:
      - PLASTIC
      - VIRTUAL
      - FUEL
      - GOOGLE_CARD
      - PLASTIC_CHARGE
      - VIRTUAL_CHARGE
    CardSensitiveData:
      type: object
      properties:
        encrypted_full_pan:
          type: string
          description: The encrypted PAN of the card.
        encrypted_cvv:
          type: string
          description: The encrypted cvv of the card.
        encrypted_pin:
          type: string
          description: The encrypted pin of the card (only valid for PLASTIC or FUEL card type).
      description: 'The `Card` sensitive data (sortable: no).'
    AddCardOrder:
      required:
      - name
      - owner_public_id
      - owner_type
      - request_timestamp
      - type
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        owner_type:
          $ref: '#/components/schemas/AddOrderCardOwnerType'
        owner_public_id:
          type: string
          description: The `Card` owner ID, only applicable for `owner` type `employee` cards.
          example: XMPL1234-000001
        wallet_id:
          type: string
          description: The `Wallet` ID, if not specified a reserved `Wallet` will be created for the added `Card`.
          example: c861cc24-6663-410f-8c78-73f886fff4ef
        reserved_wallet_currency:
          $ref: '#/components/schemas/ISO4217SupportedCurrency'
        type:
          $ref: '#/components/schemas/AddCardType'
        name:
          type: string
          description: The logical name of the `Card` for a `company` card, ignored in case of `employee` card (the cardholder full name is used instead).
          example: CardName
        card_label:
          maxLength: 60
          type: string
          description: A label for the `Card` (max 60 characters).
          example: CardLabel
        emboss_line4:
          type: string
          description: The emboss line 4 of the `Card`.
          example: Example Inc.
        address_id:
          type: string
          description: The `Address` ID the `Card` has to be shipped to (if empty, the default shipping `Address` is used i.e. where `default_shipping` = `true`), only applicable for `PLASTIC` and `FUEL` cards.
          example: c861cc24-6663-410f-8c78-73f886fff4ef
        vehicle_id:
          type: string
          description: The `Vehicle` ID assigned to the `Card`, only valid for `FUEL` cards.
          example: c861cc24-6663-410f-8c78-73f886fff4ef
        preset_id:
          type: string
          description: The `cardRulePreset` ID assigned to the `Card`.
          example: c861cc24-6663-410f-8c78-73f886fff4ef
      description: Add `Card` JSON parameters.
    CardAttachedResourceType:
      type: string
      description: The type of a resource the `Card` is attached to.
      example: wallet
      enum:
      - wallet
      - company
      - employee
      - onlineAd
      - subscription
      - purchase
    CardAssigneeUpdatedEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Card'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    CardType:
      type: string
      description: 'The type of `Card` (sortable: no).'
      example: PLASTIC
      enum:
      - PLASTIC
      - VIRTUAL
      - FUEL
      - GOOGLE_CARD
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      example: DESC
      enum:
      - ASC
      - DESC
    OrderItem:
      type: object
      properties:
        id:
          type: string
          description: The ID of a single item of a specific `Order`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        item_type:
          type: string
          description: The type of the ordered item.
          example: CARD
        category:
          type: string
          description: The category of the ordered item.
      description: The products associated with the `Order`.
    CardStatus:
      type: string
      description: 'The status of the `Card` (sortable: yes).'
      example: Normal
      enum:
      - Normal
      - Do not honor
      - Lost card
      - Stolen card
      - Expired card
      - Restricted card
      - Security Violation
      - Cardholder to contact the issuer
      - Card Destroyed
    Cards:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        pages:
          type: integer
          description: It represents the total number of available pages.
          format: int32
          example: 7
        page_size:
          type: integer
          description: It represents the number of items per page.
          format: int32
          example: 25
        current_page:
          type: integer
          description: It indicates the current page (the counter starts from zero).
          format: int32
          example: 0
        results_size:
          type: integer
          description: It indicates the size of the array results.
          format: int32
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/Card'
    AddOrderCardOwnerType:
      type: string
      description: The type of the resource the `Card` is created for.
      example: employee
      enum:
      - company
      - employee
      - expensecentre
    ISO4217SupportedCurrency:
      type: string
      description: The [ISO 4217](https://www.six-group.com/en/products-services/financial-information/data-standards.html#scrollTo=maintenance-agency) code of the currency of the `Statement` to search for.
      example: EUR
      enum:
      - EUR
      - GBP
      - USD
    CardPaymentMethod:
      type: string
      description: 'The `Card` payment method (sortable: no).'
      example: ONLINE_ADS
      enum:
      - SUBSCRIPTION
      - ONLINE_ADS
      - PURCHASE
    CardLabelUpdatedEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Card'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    UpdateCard:
      type: object
      properties:
        label:
          maxLength: 60
          type: string
          description: The new label of the `Card` (max 60 characters).
          example: CardLabel
        vehicle_id:
          type: string
          description: The `Vehicle` ID to be assigned to the `Card` - only valid for PLASTIC or FUEL cards (To remove a `Vehicle` set the value to an empty string).
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        shipping_address_id:
          type: string
          description: The shipping `Address` ID to be assigned to the `Card` .
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        addCardAssignees:
          type: array
          description: The assignees to be added for the `Card`.
          example:
          - XMPL1234-000001
          - XMPL1234-000002
          - XMPL1234-000003
          items:
            type: string
            description: The assignees to be added for the `Card`.
            example: '["XMPL1234-000001","XMPL1234-000002","XMPL1234-000003"]'
        removeCardAssignees:
          type: array
          description: The assignees to be remove for the `Card`.
          example:
          - XMPL1234-000001
          - XMPL1234-000002
          - XMPL1234-000003
          items:
            type: string
            description: The assignees to be remove for the `Card`.
            example: '["XMPL1234-000001","XMPL1234-000002","XMPL1234-000003"]'
      description: Update `Card` JSON parameters.
    CardCreationEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Card'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    Order:
      type: object
      properties:
        id:
          type: string
          description: The `Order` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        status:
          $ref: '#/components/schemas/OrderStatus'
        creation_time:
          type: string
          description: The date and time when the `Order` was created.
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: The last update date of the `Order`.
          example: '2017-06-01T12:48:40Z'
        error_code:
          type: string
          description: In case is_valid is false, the error code of the `Order` is shown.
        total_paid_amount:
          type: number
          description: The total amount of the `Order`.
          example: 10.25
        total_paid_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        items:
          type: array
          description: The products associated with the `Order`.
          items:
            $ref: '#/components/schemas/OrderItem'
        is_valid:
          type: boolean
          description: It states whether the `Order` is valid.
          example: true
    CardActivatedEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Card'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    CardReplacedEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Card'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    WebhookEventName:
      type: string
      description: The list of subscribed events.
      enum:
      - business_trip_created
      - business_trip_updated
      - business_trip_deleted
      - card_activated
      - card_change_status
      - card_creation
      - card_destroyed
      - card_lost
      - card_replaced
      - card_stolen
      - card_label_updated
      - card_assignee_updated
      - add_resources_card
      - add_resources_member
      - add_resources_wallet
      - create_group
      - delete_group
      - move_resources_card
      - move_resources_member
      - move_resources_wallet
      - remove_resources_card
      - remove_resources_member
      - remove_resources_wallet
      - update_group
      - store_order_completed
      - store_order_placed
      - balanced_transfer
      - billing
      - card_authorization
      - conversion
      - customer_care_deposit
      - customer_care_withdraw
      - edit_tag
      - inbound_payment
      - inbound_payment_reversal
      - internal_transfer
      - joule_feed
      - load_failed
      - load_money
      - recurring_billing
      - scheduled_transfer
      - transaction_adjustment
      - unload_money
      - wiretransfer
      - upload_completed
      - attachment_delete
      - new_user
      - user_status_changed
      - user_updated
      - wallet_created
      - wallet_deleted
      - vehicle_create
      - vehicle_update
      - vehicle_delete
      - purchase_create
      - purchase_update
      - purchase_delete
      - purchase_redeem_card
      - created_expense_configuration
      - disabled_expense_configuration
      - enabled_expense_configuration
      - updated_expense_configuration
      - completed_transactions_import
      - updated_transaction
      - change_expense_type
      - subscription_activated
      - subscription_created
      - subscription_updated
      - subscription_deleted
      - subscription_assignee_added
      - subscription_assignee_removed
      - online_ads_activated
      - online_ads_created
      - online_ads_updated
      - online_ads_deleted
      - online_ads_assignee_added
      - online_ads_assignee_removed
      - transaction_created
      - transaction_modified
      - transaction_deleted
      - transaction_business_trip_linked
      - transaction_business_trip_unlinked
      - contact_created
      - contact_updated
      - contact_deleted
    Card:
      type: object
      properties:
        id:
          type: string
          description: 'The `Card` ID (sortable: yes).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: 'The name of the `Card` (sortable: yes).'
          example: CardName
        label:
          type: string
          description: 'The label of the `Card (sortable: no)`.'
          example: CardLabel
        masked_pan:
          type: string
          description: 'The masked PAN of the `Card` (sortable: yes).'
          example: 123456******1234
        card_holder:
          type: string
          description: 'The name and surname of the Cardholder of the `Card`, only available when `owner_type` is `employee` (sortable: yes).'
          example: John Doe
        expiration_date:
          type: string
          description: 'The expiration date and time of the `Card` (sortable: yes).'
          example: '2026-05-07T23:59:59Z'
        creation_time:
          type: string
          description: 'The date and time when the `Card` was created (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        last_update:
          type: string
          description: 'The date and time when the `Card` was last updated (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        type:
          $ref: '#/components/schemas/CardType'
        status:
          $ref: '#/components/schemas/CardStatus'
        owner_type:
          $ref: '#/components/schemas/CardOwnerType'
        owner_public_id:
          type: string
          description: The ID of the Cardholder available when `owner_type` is `employee`.
          example: XMPL1234-000001
        custom_reference_id:
          type: string
          description: 'The custom reference ID of the Cardholder (sortable: no).'
          example: 123456-user-1
        wallet_id:
          type: string
          description: 'The ID of the `Wallet` the `Card` is linked to (sortable: no).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        currency_code:
          $ref: '#/components/schemas/ISO4217Currency'
        emboss_line4:
          type: string
          description: 'The fourth line printed on the `Card` (sortable: no).'
          example: Example Inc.
        active:
          type: boolean
          description: 'It determines whether the `Card` is active (sortable: yes).'
          example: true
        group_id:
          type: string
          description: 'The ID of the `Group` the `Card` is related to (sortable: no). In case of multiple groups associated this field contains the first one for backward compatibility.'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
          deprecated: true
        groups:
          type: array
          description: 'The list of `Group` ID the `Card` is related to (sortable: no).'
          example:
          - 7bf79328-a7ae-4222-aa54-091ff7f429a7
          - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
          items:
            type: string
            description: 'The list of `Group` ID the `Card` is related to (sortable: no).'
            example: '["7bf79328-a7ae-4222-aa54-091ff7f429a7","2d65bd5e-3fdf-4002-b166-bde7fb8863fa"]'
        sensitive_data:
          $ref: '#/components/schemas/CardSensitiveData'
        vehicle_id:
          type: string
          description: 'The ID of the `Vehicle` assigned to the card (sortable: no).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        assignees:
          type: array
          description: 'List of `User` IDs currently assigned to the `Card`, when `owner_type` is `employee` there is only one assignee, when is `company` there could be none or more assignees (sortable: no).'
          example:
          - XMPL1234-000001
          - XMPL1234-000002
          - XMPL1234-000003
          items:
            type: string
            description: 'List of `User` IDs currently assigned to the `Card`, when `owner_type` is `employee` there is only one assignee, when is `company` there could be none or more assignees (sortable: no).'
            example: '["XMPL1234-000001","XMPL1234-000002","XMPL1234-000003"]'
        payment_method:
          $ref: '#/components/schemas/CardPaymentMethod'
        payment_method_id:
          type: string
          description: 'The payment method ID (sortable: no).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        preset_id:
          type: string
          description: The `cardRulePreset` ID assigned to the `Card`.
          example: c861cc24-6663-410f-8c78-73f886fff4ef
        shipping_address_id:
          type: string
          description: The `shippingAddress` ID assigned to the `Card`.
          example: c861cc24-6663-410f-8c78-73f886fff4ef
        renewal_info:
          $ref: '#/components/schemas/CardRenewalInfo'
    OrderStatus:
      type: string
      description: The status of the `Order`.
      example: PENDING
      enum:
      - PENDING
      - ERROR
      - PLACED
      - CANCELLED
      - COMPLETED
      - COMPLETED_WITH_CREDIT
    WebhookEventType:
      type: string
      description: The webhook event type.
      example: Contact
      default: Contact
      enum:
      - BusinessTrip
      - Card
      - Contact
      - ExpenseReview
      - Group
      - OnlineAds
      - Order
      - Purchase
      - Subscription
      - Transaction
      - TransactionAttachment
      - Employee
      - Vehicle
      - Wallet
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-refined-from:
- soldo-software-and-services-business-api-openapi.json
- soldo-software-and-services-cards-api-openapi.yml
x-readme:
  hidden: true
