openapi: 3.0.1
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Accounting Classification Refueling Transactions API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Refueling Transactions
paths:
  /business/v2/refueling/{refuelingId}:
    get:
      tags:
      - Refueling Transactions
      summary: Get Refueling Transaction
      description: Endpoint to get a specific `Refueling` by ID.
      operationId: refueling-get
      parameters:
      - name: refuelingId
        in: path
        required: true
        schema:
          type: string
          description: The `Refueling` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '200':
          description: The returned resource is a single `Refueling`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refueling'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_read
      x-soldo:
        fingerprint-order: refuelingId, token
    put:
      tags:
      - Refueling Transactions
      summary: Update Refueling Transaction
      description: Endpoint to update a specific `Refueling` by ID.
      operationId: refueling-update
      parameters:
      - name: refuelingId
        in: path
        required: true
        schema:
          type: string
          description: The `Refueling` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRefueling'
      responses:
        '200':
          description: The returned resource is a single `Refueling`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refueling'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_write
      x-soldo:
        fingerprint-order: refuelingId, mileage, quantity, txFuelType, unitPrice, token
  /business/v2/refueling:
    get:
      tags:
      - Refueling Transactions
      summary: Search Refueling Transactions
      description: Endpoint to search `Refuelings` using filtering parameters.
      operationId: refueling-search
      parameters:
      - name: type
        in: query
        description: The resource `type` to be used together with id.
        schema:
          $ref: '#/components/schemas/RefuelingType'
        example: card
      - name: publicId
        in: query
        description: The ID of the `type` resource.
        schema:
          type: string
          description: The ID of the `type` resource.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      - name: fromDate
        in: query
        description: 'The beginning of the period of the search `fromDate` included (i.e. greater than or equal to) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '2020-04-06T12:48:40Z'
      - name: toDate
        in: query
        description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '2020-05-07T12:48:40Z'
      - name: dateType
        in: query
        description: It determines the date to be considered for `fromDate` and `toDate` parameters.
        schema:
          $ref: '#/components/schemas/TransactionDateType'
        example: TRANSACTION
      - name: txCountry
        in: query
        description: The [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) code of the country where the `Transaction` was made.
        schema:
          $ref: '#/components/schemas/ISO3166Country'
        example: GBR
      - name: txStatus
        in: query
        description: A list of statuses the searched `Transactions` should be in.
        schema:
          type: array
          description: A list of statuses the searched `Transactions` should be in.
          items:
            $ref: '#/components/schemas/TransactionStatus'
        example: Authorised
      - name: txFuelType
        in: query
        description: The fuel type specified on the `Transaction`.
        schema:
          $ref: '#/components/schemas/FuelType'
        example: PETROL
      - name: showFuelDetails
        in: query
        description: It determines whether to show further Fuel Details of the `Transaction`.
        schema:
          type: boolean
          description: It determines whether to show further Fuel Details of the `Transaction`.
          example: true
        example: true
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '200':
          description: The result is an array containing `Refuelings`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refuelings'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - transaction_read
      x-soldo:
        fingerprint-order: type, publicId, fromDate, toDate, dateType, txCountry, txStatus, txFuelType, token
components:
  schemas:
    ISO3166Country:
      type: string
      description: The [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) code of the country where the `Transaction` has been authorised.
      example: GBR
      enum:
      - ASC
      - AND
      - ARE
      - AFG
      - ATG
      - AIA
      - ALB
      - ARM
      - ANT
      - AGO
      - ATA
      - ARG
      - ASM
      - AUT
      - AUS
      - ABW
      - ALA
      - AZE
      - BIH
      - BRB
      - BGD
      - BEL
      - BFA
      - BGR
      - BHR
      - BDI
      - BEN
      - BLM
      - BMU
      - BRN
      - BOL
      - BES
      - BRA
      - BHS
      - BTN
      - BUR
      - BVT
      - BWA
      - BLR
      - BLZ
      - CAN
      - CCK
      - COD
      - CAF
      - COG
      - CHE
      - CIV
      - COK
      - CHL
      - CMR
      - CHN
      - COL
      - CPT
      - CRI
      - CSXX
      - CUB
      - CPV
      - CUW
      - CXR
      - CYP
      - CZE
      - DEU
      - DGA
      - DJI
      - DNK
      - DMA
      - DOM
      - DZA
      - ECU
      - EST
      - EGY
      - ESH
      - ERI
      - ESP
      - ETH
      - FIN
      - FJI
      - FLK
      - FSM
      - FRO
      - FRA
      - FXX
      - GAB
      - GBR
      - GRD
      - GEO
      - GUF
      - GGY
      - GHA
      - GIB
      - GRL
      - GMB
      - GIN
      - GLP
      - GNQ
      - GRC
      - SGS
      - GTM
      - GUM
      - GNB
      - GUY
      - HKG
      - HMD
      - HND
      - HRV
      - HTI
      - HUN
      - IDN
      - IRL
      - ISR
      - IMN
      - IND
      - IOT
      - IRQ
      - IRN
      - ISL
      - ITA
      - JEY
      - JAM
      - JOR
      - JPN
      - KEN
      - KGZ
      - KHM
      - KIR
      - COM
      - KNA
      - PRK
      - KOR
      - KWT
      - CYM
      - KAZ
      - LAO
      - LBN
      - LCA
      - LIE
      - LKA
      - LBR
      - LSO
      - LTU
      - LUX
      - LVA
      - LBY
      - MAR
      - MCO
      - MDA
      - MNE
      - MAF
      - MDG
      - MHL
      - MKD
      - MLI
      - MMR
      - MNG
      - MAC
      - MNP
      - MTQ
      - MRT
      - MSR
      - MLT
      - MUS
      - MDV
      - MWI
      - MEX
      - MYS
      - MOZ
      - NAM
      - NCL
      - NER
      - NFK
      - NGA
      - NIC
      - NLD
      - NOR
      - NPL
      - NRU
      - NTZ
      - NIU
      - NZL
      - OMN
      - PAN
      - PER
      - PYF
      - PNG
      - PHL
      - PAK
      - POL
      - SPM
      - PCN
      - PRI
      - PSE
      - PRT
      - PLW
      - PRY
      - QAT
      - REU
      - ROU
      - ROM
      - SRB
      - RUS
      - RWA
      - SAU
      - SLB
      - SYC
      - SDN
      - SWE
      - SGP
      - SHN
      - SVN
      - SJM
      - SVK
      - SLE
      - SMR
      - SEN
      - SOM
      - SUR
      - SSD
      - STP
      - SUN
      - SLV
      - SXM
      - SYR
      - SWZ
      - TAA
      - TCA
      - TCD
      - ATF
      - TGO
      - THA
      - TJK
      - TKL
      - TLS
      - TKM
      - TUN
      - TON
      - TUR
      - TTO
      - TUV
      - TWN
      - TZA
      - UKR
      - UGA
      - UMI
      - USA
      - URY
      - UZB
      - VAT
      - VCT
      - VEN
      - VGB
      - VIR
      - VNM
      - VUT
      - WLF
      - WSM
      - XKX
      - XXK
      - QZZ
      - YEM
      - MYT
      - YUCS
      - ZAF
      - ZMB
      - ZRCD
      - ZWE
    Refuelings:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        pages:
          type: integer
          description: It represents the total number of available pages.
          format: int32
          example: 7
        page_size:
          type: integer
          description: It represents the number of items per page.
          format: int32
          example: 25
        current_page:
          type: integer
          description: It indicates the current page (the counter starts from zero).
          format: int32
          example: 0
        results_size:
          type: integer
          description: It indicates the size of the array results.
          format: int32
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/Refueling'
    TransactionSign:
      type: string
      description: 'The sign of the transaction amount (Negative, Positive, None) (sortable: no).'
      example: Negative
      enum:
      - Negative
      - Positive
      - None
    ISO4217Currency:
      type: string
      description: 'The [ISO 4217](https://www.six-group.com/en/products-services/financial-information/data-standards.html#scrollTo=maintenance-agency) code of the currency of the `Wallet` (sortable: no)'
      example: EUR
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VED
      - VEF
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
    UpdateRefueling:
      type: object
      properties:
        mileage:
          type: integer
          description: The mileage of the `Vehicle`.
          format: int32
          example: 125000
        unit_price:
          type: number
          description: The fuel unit price as specified on the `Transaction`.
          example: 1.41
        tx_fuel_type:
          $ref: '#/components/schemas/FuelType'
        quantity:
          type: number
          description: The fuel quantity as specified on the `Transaction`.
          example: 80
      description: Update `Refueling` JSON parameters.
    TransactionDateType:
      type: string
      description: It determines the date to be considered for `fromDate` and `toDate` parameters.
      example: TRANSACTION
      default: TRANSACTION
      enum:
      - TRANSACTION
      - SETTLEMENT
      - UPDATE
    TransactionStatus:
      type: string
      description: 'The status of the `Transaction` (sortable: yes).'
      example: Settled
      enum:
      - Authorised
      - Settled
      - Cancelled
      - Declined
      - DisputeFailed
      - DisputeOpened
      - DisputeWon
      - Moved
      - Unknown
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      example: DESC
      enum:
      - ASC
      - DESC
    DateParam:
      type: object
      description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
      example: '1970-01-30'
    FuelType:
      type: string
      description: The fuel type of the `Vehicle`.
      example: PETROL
      enum:
      - PETROL
      - DIESEL
      - METHANE
      - LPG
      - LNG
      - ELECTRIC
      - UNKNOWN
    Refueling:
      type: object
      properties:
        public_id:
          type: string
          description: The refueling ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        transaction_id:
          type: string
          description: 'The `Transaction` ID (sortable: yes).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        card_id:
          type: string
          description: 'The ID of the `Card` used for the `Transaction` (sortable: no).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        tx_status:
          $ref: '#/components/schemas/TransactionStatus'
        transaction_sign:
          $ref: '#/components/schemas/TransactionSign'
        tx_amount:
          type: number
          description: 'The amount of the refueling `Transaction` in the currency of the merchant (sortable: no).'
          example: 10.25
        tx_amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        tx_date:
          type: string
          description: 'The date and time of the transaction at the `Authorised` status (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        tx_settlement_date:
          type: string
          description: 'The date and time of the transaction at the `Settled` status (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        update_time:
          type: string
          description: 'The date and time of the last update to the refueling `Transaction` (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        tx_vat_amount:
          type: number
          description: 'The amount of the VAT in the currency of the `Wallet` (sortable: no).'
          example: 10.25
        tx_vat_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        tx_country:
          $ref: '#/components/schemas/ISO3166Country'
        plate:
          type: string
          description: Vehicle's plate number.
          example: AA000BB
        vehicle_fuel_type:
          $ref: '#/components/schemas/FuelType'
        vat_deductibility_percentage:
          type: string
          description: The deductible VAT percentage configured for the vehicle.
          example: 40%
        mileage:
          type: integer
          description: The vehicle mileage.
          format: int32
          example: 125000
        quantity:
          type: number
          description: The fuel quantity as specified in the invoice.
          example: 80
        unit_price:
          type: number
          description: The fuel unit price as specified on the transaction.
          example: 1.41
        tx_fuel_type:
          $ref: '#/components/schemas/FuelType'
        to_be_ignored:
          type: boolean
          description: If the transaction link status is set to ignored.
          example: true
        invoice_id:
          type: integer
          description: Invoice ID.
          format: int64
          example: 4421109
        invoice_number:
          type: string
          description: Invoice number.
          example: NVC112200987
        invoice_date:
          type: string
          description: Invoice date.
          example: '2017-06-01T12:48:40Z'
        invoice_total_amount:
          type: number
          description: Total amount of the linked invoice.
          example: 10.25
        invoice_row:
          type: integer
          description: Row of the linked invoice.
          format: int32
          example: 4
        invoice_row_amount:
          type: number
          description: Amount of the transaction's row in the linked invoice.
          example: 10.25
        supplier_vat_id:
          type: string
          description: Supplier VAT ID.
          example: VT09138461
        dri:
          type: string
          description: DRI (Documento Riepilogativo) code.
          example: DRI00099881
        vehicle_id:
          type: string
          description: Vehicle ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
    RefuelingType:
      type: string
      description: The resource `type` to be used together with id.
      example: card
      enum:
      - transaction
      - vehicle
      - card
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-webhooks:
  move_resources_card:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Move Resources Card
      description: A `Card` has been moved to another `Group`.
      operationId: webhook-group-move-resources-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveResourcesCardEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  move_resources_wallet:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Move Resources Wallet
      description: A `Wallet` is moved to another `Group`.
      operationId: webhook-group-move-resources-wallet
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveResourcesWalletEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  customer_care_withdraw:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Customer Care Withdraw
      description: A `Withdrawal` has been performed by customer care support
      operationId: webhook-transaction-customer-care-withdraw
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCareWithdrawEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  transaction_business_trip_unlinked:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Business Trip Unlinked
      description: A `Transaction` has been unlinked from a `BusinessTrip`.
      operationId: webhook-transaction-transaction-business-trip-unlinked
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBusinessTripUnlinkedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  remove_resources_card:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Remove Resources Card
      description: A `Card` has been removed from a `Group`.
      operationId: webhook-group-remove-resources-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveResourcesCardEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  load_failed:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Load Failed
      description: A money load for company `Wallet` failed.
      operationId: webhook-transaction-load-failed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadFailedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  created_expense_configuration:
    post:
      tags:
      - Webhooks
      - Expense Review Configuration
      summary: Expense Review - Configuration Created
      description: An `ExpenseReview` configuration has been created`.
      operationId: webhook-expensereview-created-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatedExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  change_expense_type:
    post:
      tags:
      - Webhooks
      - Expense Reviews
      summary: Expense Review - Change Expense Type
      description: A `Transaction` expense type has been changed.
      operationId: webhook-expensereview-change-expense-type
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeExpenseTypeEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  move_resources_member:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Move Resources Member
      description: An `User` is moved to another `Group`.
      operationId: webhook-group-move-resources-member
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveResourcesMemberEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  purchase_redeem_card:
    post:
      tags:
      - Webhooks
      - Pre-approved Spend
      summary: Pre-Approved Spend - Purchase Redeem Card
      description: A `Card` of purchase has been redeemed.
      operationId: webhook-preapprovedspend-purchase-redeem-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, title, description, amount, amountCurrency
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, title, description, amount, amountCurrency
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseRedeemCardEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, title, description, amount, amountCurrency
  billing:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Billing
      description: Billing related to `Card` purchase.
      operationId: webhook-transaction-billing
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  customer_care_deposit:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Customer Care Deposit
      description: A `Deposit` has been performed by customer care support.
      operationId: webhook-transaction-customer-care-deposit
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCareDepositEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  store_order_completed:
    post:
      tags:
      - Webhooks
      - Orders
      summary: Order - Store Order Completed
      description: An `Order` has been completed.
      operationId: webhook-order-store-order-completed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreOrderCompletedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, status
  card_lost:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Lost
      description: A `Card` has been reported as lost.
      operationId: webhook-card-card-lost
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardLostEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  inbound_payment_reversal:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Inbound Payment Reversal
      description: Reversal of an inbound payment from Faster Payment
      operationId: webhook-transaction-inbound-payment-reversal
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundPaymentReversalEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  new_user:
    post:
      tags:
      - Webhooks
      - Users
      summary: User - New User
      description: A new `User` has been created.
      operationId: webhook-user-new-user
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, surname, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, surname, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUserEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, surname, status
  updated_expense_configuration:
    post:
      tags:
      - Webhooks
      - Expense Review Configuration
      summary: Expense Review - Updated Expense Configuration
      description: An `ExpenseReview` configuration is updated.
      operationId: webhook-expensereview-updated-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  scheduled_transfer:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Scheduled Transfer
      description: Failed scheduled internal transfer to top-up a `Wallet`.
      operationId: webhook-transaction-scheduled-transfer
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTransferEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  transaction_modified:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Modified
      description: A `Transaction` has been modified, e.g. moved to another `Wallet` or changed in other describing attributes.
      operationId: webhook-transaction-transaction-modified
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionModifiedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  card_change_status:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Change Status
      description: A `Card` changed status.
      operationId: webhook-card-card-change_status
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardChangeStatusEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  online_ads_updated:
    post:
      tags:
      - Webhooks
      - Online Ads
      summary: OnlineAds - OnlineAds Updated
      description: An `OnlineAds` has been updated.
      operationId: webhook-onlineads-online-ads-updated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, walletId, cardId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, walletId, cardId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnlineAdsUpdatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, walletId, cardId
  delete_group:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Group Deleted
      description: A`Group` has been deleted.
      operationId: webhook-group-delete-group
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteGroupEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  load_money:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Load Money
      description: A money load on company `Wallet` succeeded.
      operationId: webhook-transaction-load-money
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadMoneyEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  wiretransfer:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Wiretransfer
      description: Deposit in.
      operationId: webhook-transaction-wiretransfer
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WiretransferEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  contact_deleted:
    post:
      tags:
      - Webhooks
      - Contacts
      summary: Contact - Contact Deleted
      description: A `Contact` has been deleted.
      operationId: webhook-contact-contact-deleted
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, userId, type, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, userId, type, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDeletedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, userId, type, status
  card_destroyed:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Destroyed
      description: A `Card` has been destroyed.
      operationId: webhook-card-card-destroyed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDestroyedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  card_authorization:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Card Authorization
      description: A `Transaction` authorisation has been requested.
      operationId: webhook-transaction-card-authorization
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardAuthorizationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  updated_transaction:
    post:
      tags:
      - Webhooks
      - Expense Reviews
      summary: Expense Review - Updated Transaction
      description: A `Transaction` has been update.
      operationId: webhook-expensereview-updated-transaction
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedTransactionEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  transaction_adjustment:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Adjustment
      description: A `Transaction` has been adjusted.
      operationId: webhook-transaction-transaction-adjustment
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionAdjustmentEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  attachment_delete:
    post:
      tags:
      - Webhooks
      - Transaction Attachments
      summary: Transaction Attachment - Attachment Delete
      description: An attachment has been deleted from a `Transaction`.
      operationId: webhook-transactionattachment-attachment-delete
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: attachmentId, transactionId, fileName
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: attachmentId, transactionId, fileName
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentDeleteEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: attachmentId, transactionId, fileName
  disabled_expense_configuration:
    post:
      tags:
      - Webhooks
      - Expense Review Configuration
      summary: Expense Review - Configuration Disabled
      description: An `ExpenseReview` configuration has been disabled.
      operationId: webhook-expensereview-disabled-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisabledExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  purchase_delete:
    post:
      tags:
      - Webhooks
      - Pre-approved Spend
      summary: Pre-Approved Spend - Purchase Delete
      description: A `Purchase` has been deleted.
      operationId: webhook-preapprovedspend-purchase-delete
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, title, description, amount, amountCurrency
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, title, description, amount, amountCurrency
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseDeleteEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, title, description, amount, amountCurrency
  wallet_created:
    post:
      tags:
      - Webhooks
      - Wallets
      summary: Wallet - Wallet Created
      description: A new `Wallet` has been created.
      operationId: webhook-wallet-wallet-created
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, currencyCode, primaryUserPublicId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, currencyCode, primaryUserPublicId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletCreatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, currencyCode, primaryUserPublicId
  card_activated:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Activated
      description: A `Card` has been activated.
      operationId: webhook-card-card-activated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardActivatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  unload_money:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Unload Money
      description: Unload money from a company `Wallet`.
      operationId: webhook-transaction-unload-money
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnloadMoneyEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  create_group:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Group Created
      description: A new `Group` has been created.
      operationId: webhook-group-create-group
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  update_group:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Update Group
      description: A `Group` has been updated.
      operationId: webhook-group-update-group
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  user_updated:
    post:
      tags:
      - Webhooks
      - Users
      summary: User - User Updated
      description: An `User` has been updated.
      operationId: webhook-user-user-updated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, surname, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, surname, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, surname, status
  subscription_assignee_added:
    post:
      tags:
      - Webhooks
      - Subscriptions
      summary: Subscription - Subscription Assignee Added
      description: A `Subscription` assignee is added.
      operationId: webhook-subscription-subscription-assignee-added
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, platform, status, paymentFrequency, cardId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, platform, status, paymentFrequency, cardId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionAssigneeAddedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, platform, status, paymentFrequency, cardId
  inbound_payment:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Inbound Payment
      description: Inbound payment from Faster Payment
      operationId: webhook-transaction-inbound-payment
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundPaymentEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  joule_feed:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Joule Feed
      description: A `Transaction` has been settled/reversed.
      operationId: webhook-transaction-joule-feed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JouleFeedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  transaction_business_trip_linked:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Business Trip Linked
      description: A `Transaction` has been linked to a `BusinessTrip`.
      operationId: webhook-transaction-transaction-business-trip-linked
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBusinessTripLinkedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  transaction_deleted:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Deleted
      description: A `Transaction` has been deleted. This may happen only for `OUT_OF_PLATFORM_COMPANY` or `OUT_OF_PLATFORM_PERSONAL` transactions.
      operationId: webhook-transaction-transaction-deleted
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDeletedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  vehicle_create:
    post:
      tags:
      - Webhooks
      - Vehicles
      summary: Vehicle - Vehicle Create
      description: A `Vehicle` has been created.
      operationId: webhook-vehicle-vehicle-create
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id,numberPlate
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id,numberPlate
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleCreateEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id,numberPlate
  card_replaced:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Replaced
      description: A `Card` has been replaced.
      operationId: webhook-card-card-replaced
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
[...]
