openapi: 3.0.1
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Accounting Classification Tags API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Tags
paths:
  /business/v2/dictionaries/{listId}/tags:
    get:
      tags:
      - Tags
      summary: Search Tags
      description: Endpoint to search `Tags` in a given `List` using filtering parameters.
      operationId: tag-search
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: string
          description: The `List` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: visible
        in: query
        schema:
          type: boolean
          description: It determines whether the `Tag` is visible in the `Transaction` detail.
          example: true
      - name: name
        in: query
        schema:
          type: string
          description: The name of the `Tag` to search.
          example: something
      - name: code
        in: query
        schema:
          type: string
          description: The code of the `Tag` to search.
          example: something
      - name: text
        in: query
        schema:
          type: string
          description: The text of the `Tag` to search by name or description.
          example: something
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The result is an array containing `Tags`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - tag_read
    post:
      tags:
      - Tags
      summary: Add Tag to List
      description: Endpoint to add a `Tag` into a `List`.
      operationId: tag-add
      parameters:
      - name: listId
        in: path
        description: The `List` ID.
        required: true
        schema:
          type: string
          description: The `List` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tag:
                  type: string
                  description: The name of the `Tag`.
                  example: tx-label
                description:
                  type: string
                  description: The description of the `Tag`. If needed to support special characters, provide the character encoding in the `Content-Type` header (e.g. `application/x-www-form-urlencoded ; charset=utf-8`).
                  example: Label to mark transactions
                code:
                  type: string
                  description: The code of the `Tag`. If needed to support special characters, provide the character encoding in the `Content-Type` header (e.g. `application/x-www-form-urlencoded ; charset=utf-8`).
                  example: CODE tag
      responses:
        '200':
          description: The returned resource is a single `Tag`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - tag_write
  /business/v2/dictionaries/{listId}/tags/bulk:
    put:
      tags:
      - Tags
      summary: Update Tag bulk
      description: Endpoint to update a `List` by modifying up to 1000 `Tag` IDs per request.
      operationId: tags-update-bulk
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: string
          description: The `List` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTagItem'
      responses:
        '200':
          description: The returned resource is a list of `Tag`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagItems'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - tag_write
    post:
      tags:
      - Tags
      summary: Add Tag bulk to List
      description: Endpoint to add a `List` by adding up to 1000 `Tag` IDs per request.
      operationId: tags-add-bulk
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: string
          description: The `List` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTagBulk'
      responses:
        '200':
          description: The result is an array containing `Tags`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagItems'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - tag_write
  /business/v2/dictionaries/{listId}/tags/{tagId}:
    get:
      tags:
      - Tags
      summary: Get Tag
      description: Endpoint to get a specific `Tag` of a given `List` by ID.
      operationId: tag-get
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: string
          description: The `List` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: tagId
        in: path
        required: true
        schema:
          type: string
          description: The `Tag` ID.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      responses:
        '200':
          description: The returned resource is a single `Tag`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - tag_read
    put:
      tags:
      - Tags
      summary: Update Tag
      description: Endpoint to update `Tag` data of a `List`.
      operationId: tag-update
      parameters:
      - name: listId
        in: path
        description: The `List` ID.
        required: true
        schema:
          type: string
          description: The `List` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: tagId
        in: path
        description: The `Tag` ID.
        required: true
        schema:
          type: string
          description: The `Tag` ID.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tag:
                  type: string
                  description: The name of the `Tag`.
                  example: tx-label
                description:
                  type: string
                  description: The description of the `Tag`. If needed to support special characters, provide the character encoding in the `Content-Type` header (e.g. `application/x-www-form-urlencoded ; charset=utf-8`).
                  example: Label to mark transactions
                code:
                  maxLength: 60
                  type: string
                  description: The code of the `Tag`. If needed to support special characters, provide the character encoding in the `Content-Type` header (e.g. `application/x-www-form-urlencoded ; charset=utf-8`).
                  example: CODE tag
                visible:
                  type: boolean
                  description: It determines whether the `Tag` is visible in the `Transaction` detail.
                  example: true
      responses:
        '200':
          description: The returned resource is a single `Tag`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - tag_write
    delete:
      tags:
      - Tags
      summary: Delete Tag from List
      description: Endpoint to delete a `Tag` out of a `List`.
      operationId: tag-delete
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: string
          description: The `List` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: tagId
        in: path
        required: true
        schema:
          type: string
          description: The `Tag` ID.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - tag_write
components:
  schemas:
    TagItems:
      type: object
      properties:
        tags:
          type: array
          description: The list of `Tag` resources.
          example:
          - 7bf79328-a7ae-4222-aa54-091ff7f429a7
          - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
          items:
            $ref: '#/components/schemas/Tag'
    Tags:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        pages:
          type: integer
          description: It represents the total number of available pages.
          format: int32
          example: 7
        page_size:
          type: integer
          description: It represents the number of items per page.
          format: int32
          example: 25
        current_page:
          type: integer
          description: It indicates the current page (the counter starts from zero).
          format: int32
          example: 0
        results_size:
          type: integer
          description: It indicates the size of the array results.
          format: int32
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    Tag:
      type: object
      properties:
        id:
          type: string
          description: 'The `Tag` ID (sortable: no).'
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        dictionary_id:
          type: string
          description: 'The `List` ID (sortable: no).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        dictionary:
          type: string
          description: 'The name of the `List` where the `Tag` is listed (sortable: no).'
          example: ExampleTagDictionary
        tag:
          type: string
          description: 'The name of the `Tag` (sortable: yes).'
          example: tx-label
        description:
          type: string
          description: 'The description of the `Tag` (sortable: no).'
          example: Label to mark transactions
        visible:
          type: boolean
          description: 'It determines whether the `Tag` is visible in the `Transaction` detail (sortable: yes).'
          example: true
        code:
          type: string
          description: 'The code of the `Tag` (sortable: no).'
        percentage:
          type: number
          description: 'Percentage value: valid for TAX_RATE type only (sortable: no). Deprecated, only for backward compatibility.'
          format: double
          deprecated: true
      description: The list of `Tag` resources.
      example:
      - 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      example: DESC
      enum:
      - ASC
      - DESC
    NewTagBulk:
      type: object
      properties:
        tags:
          type: array
          description: The list of `Tag` resources to create in bulk.
          example:
          - 7bf79328-a7ae-4222-aa54-091ff7f429a7
          - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
          items:
            $ref: '#/components/schemas/NewTagBulkItem'
      description: New `Tag` bulk JSON parameters.
    UpdateTagItem:
      type: object
      properties:
        tags:
          type: array
          description: The list of the `Tag` resources to update in bulk.
          example:
          - 7bf79328-a7ae-4222-aa54-091ff7f429a7
          - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
          items:
            $ref: '#/components/schemas/UpdateTagBulkItem'
      description: Update `Tag` bulk JSON parameters.
    UpdateTagBulkItem:
      required:
      - id
      - tag
      type: object
      properties:
        id:
          type: string
          description: The `Tag` ID.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        tag:
          type: string
          description: The name of the `Tag`.
          example: tx-label
        description:
          type: string
          description: The description of the `Tag`. If needed to support special characters, provide the character encoding in the `Content-Type` header (e.g. `application/x-www-form-urlencoded ; charset=utf-8`).
          example: Label to mark transactions
        code:
          maxLength: 60
          type: string
          description: The code of the `Tag`. If needed to support special characters, provide the character encoding in the `Content-Type` header (e.g. `application/x-www-form-urlencoded ; charset=utf-8`).
          example: CODE tag
        visible:
          type: boolean
          description: It determines whether the `Tag` is visible in the `Transaction` detail.
          example: true
      description: The list of the `Tag` resources to update in bulk.
      example:
      - 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    NewTagBulkItem:
      required:
      - tag
      type: object
      properties:
        tag:
          type: string
          description: The name of the `Tag`.
          example: tx-label
        description:
          type: string
          description: The description of the `Tag`. If needed to support special characters, provide the character encoding in the `Content-Type` header (e.g. `application/x-www-form-urlencoded ; charset=utf-8`).
          example: Label to mark transactions
        code:
          type: string
          description: The code of the `Tag`. If needed to support special characters, provide the character encoding in the `Content-Type` header (e.g. `application/x-www-form-urlencoded ; charset=utf-8`).
          example: CODE tag
      description: The list of `Tag` resources to create in bulk.
      example:
      - 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-webhooks:
  move_resources_card:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Move Resources Card
      description: A `Card` has been moved to another `Group`.
      operationId: webhook-group-move-resources-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveResourcesCardEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  move_resources_wallet:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Move Resources Wallet
      description: A `Wallet` is moved to another `Group`.
      operationId: webhook-group-move-resources-wallet
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveResourcesWalletEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  customer_care_withdraw:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Customer Care Withdraw
      description: A `Withdrawal` has been performed by customer care support
      operationId: webhook-transaction-customer-care-withdraw
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCareWithdrawEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  transaction_business_trip_unlinked:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Business Trip Unlinked
      description: A `Transaction` has been unlinked from a `BusinessTrip`.
      operationId: webhook-transaction-transaction-business-trip-unlinked
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBusinessTripUnlinkedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  remove_resources_card:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Remove Resources Card
      description: A `Card` has been removed from a `Group`.
      operationId: webhook-group-remove-resources-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveResourcesCardEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  load_failed:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Load Failed
      description: A money load for company `Wallet` failed.
      operationId: webhook-transaction-load-failed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadFailedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  created_expense_configuration:
    post:
      tags:
      - Webhooks
      - Expense Review Configuration
      summary: Expense Review - Configuration Created
      description: An `ExpenseReview` configuration has been created`.
      operationId: webhook-expensereview-created-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatedExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  change_expense_type:
    post:
      tags:
      - Webhooks
      - Expense Reviews
      summary: Expense Review - Change Expense Type
      description: A `Transaction` expense type has been changed.
      operationId: webhook-expensereview-change-expense-type
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeExpenseTypeEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  move_resources_member:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Move Resources Member
      description: An `User` is moved to another `Group`.
      operationId: webhook-group-move-resources-member
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveResourcesMemberEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  purchase_redeem_card:
    post:
      tags:
      - Webhooks
      - Pre-approved Spend
      summary: Pre-Approved Spend - Purchase Redeem Card
      description: A `Card` of purchase has been redeemed.
      operationId: webhook-preapprovedspend-purchase-redeem-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, title, description, amount, amountCurrency
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, title, description, amount, amountCurrency
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseRedeemCardEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, title, description, amount, amountCurrency
  billing:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Billing
      description: Billing related to `Card` purchase.
      operationId: webhook-transaction-billing
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  customer_care_deposit:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Customer Care Deposit
      description: A `Deposit` has been performed by customer care support.
      operationId: webhook-transaction-customer-care-deposit
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCareDepositEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  store_order_completed:
    post:
      tags:
      - Webhooks
      - Orders
      summary: Order - Store Order Completed
      description: An `Order` has been completed.
      operationId: webhook-order-store-order-completed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreOrderCompletedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, status
  card_lost:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Lost
      description: A `Card` has been reported as lost.
      operationId: webhook-card-card-lost
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardLostEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  inbound_payment_reversal:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Inbound Payment Reversal
      description: Reversal of an inbound payment from Faster Payment
      operationId: webhook-transaction-inbound-payment-reversal
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundPaymentReversalEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  new_user:
    post:
      tags:
      - Webhooks
      - Users
      summary: User - New User
      description: A new `User` has been created.
      operationId: webhook-user-new-user
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, surname, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, surname, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUserEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, surname, status
  updated_expense_configuration:
    post:
      tags:
      - Webhooks
      - Expense Review Configuration
      summary: Expense Review - Updated Expense Configuration
      description: An `ExpenseReview` configuration is updated.
      operationId: webhook-expensereview-updated-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  scheduled_transfer:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Scheduled Transfer
      description: Failed scheduled internal transfer to top-up a `Wallet`.
      operationId: webhook-transaction-scheduled-transfer
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTransferEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  transaction_modified:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Modified
      description: A `Transaction` has been modified, e.g. moved to another `Wallet` or changed in other describing attributes.
      operationId: webhook-transaction-transaction-modified
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionModifiedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  card_change_status:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Change Status
      description: A `Card` changed status.
      operationId: webhook-card-card-change_status
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardChangeStatusEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  online_ads_updated:
    post:
      tags:
      - Webhooks
      - Online Ads
      summary: OnlineAds - OnlineAds Updated
      description: An `OnlineAds` has been updated.
      operationId: webhook-onlineads-online-ads-updated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, walletId, cardId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, walletId, cardId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnlineAdsUpdatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, walletId, cardId
  delete_group:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Group Deleted
      description: A`Group` has been deleted.
      operationId: webhook-group-delete-group
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteGroupEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  load_money:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Load Money
      description: A money load on company `Wallet` succeeded.
      operationId: webhook-transaction-load-money
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadMoneyEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  wiretransfer:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Wiretransfer
      description: Deposit in.
      operationId: webhook-transaction-wiretransfer
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WiretransferEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  contact_deleted:
    post:
      tags:
      - Webhooks
      - Contacts
      summary: Contact - Contact Deleted
      description: A `Contact` has been deleted.
      operationId: webhook-contact-contact-deleted
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, userId, type, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, userId, type, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDeletedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, userId, type, status
  card_destroyed:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Destroyed
      description: A `Card` has been destroyed.
      operationId: webhook-card-card-destroyed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDestroyedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  card_authorization:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Card Authorization
      description: A `Transaction` authorisation has been requested.
      operationId: webhook-transaction-card-authorization
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardAuthorizationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  updated_transaction:
    post:
      tags:
      - Webhooks
      - Expense Reviews
      summary: Expense Review - Updated Transaction
      description: A `Transaction` has been update.
      operationId: webhook-expensereview-updated-transaction
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedTransactionEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  transaction_adjustment:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Adjustment
      description: A `Transaction` has been adjusted.
      operationId: webhook-transaction-transaction-adjustment
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionAdjustmentEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  attachment_delete:
    post:
      tags:
      - Webhooks
      - Transaction Attachments
      summary: Transaction Attachment - Attachment Delete
      description: An attachment has been deleted from a `Transaction`.
      operationId: webhook-transactionattachment-attachment-delete
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: attachmentId, transactionId, fileName
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: attachmentId, transactionId, fileName
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentDeleteEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: attachmentId, transactionId, fileName
  disabled_expense_configuration:
    post:
      tags:
      - Webhooks
      - Expense Review Configuration
      summary: Expense Review - Configuration Disabled
      description: An `ExpenseReview` configuration has been disabled.
      operationId: webhook-expensereview-disabled-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisabledExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  purchase_delete:
    post:
      tags:
      - Webhooks
      - Pre-approved Spend
      summary: Pre-Approved Spend - Purchase Delete
      description: A `Purchase` has been deleted.
      operationId: webhook-preapprovedspend-purchase-delete
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, title, description, amount, amountCurrency
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, title, description, amount, amountCurrency
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseDeleteEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, title, description, amount, amountCurrency
  wallet_created:
    post:
      tags:
      - Webhooks
      - Wallets
      summary: Wallet - Wallet Created
      description: A new `Wallet` has been created.
      operationId: webhook-wallet-wallet-created
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, currencyCode, primaryUserPublicId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, currencyCode, primaryUserPublicId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletCreatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, currencyCode, primaryUserPublicId
  card_activated:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Activated
      description: A `Card` has been activated.
      operationId: webhook-card-card-activated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardActivatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  unload_money:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Unload Money
      description: Unload money from a company `Wallet`.
      operationId: webhook-transaction-unload-money
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnloadMoneyEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  create_group:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Group Created
      description: A new `Group` has been created.
      operationId: webhook-group-create-group
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  update_group:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Update Group
      description: A `Group` has been updated.
      operationId: webhook-group-update-group
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  user_updated:
    post:
      tags:
      - Webhooks
      - Users
      summary: User - User Updated
      description: An `User` has been updated.
      operationId: webhook-user-user-updated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, surname, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, surname, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, surname, status
  subscription_assignee_added:
    post:
      tags:
      - Webhooks
      - Subscriptions
      summary: Subscription - Subscription Assignee Added
      description: A `Subscription` assignee is added.
      operationId: webhook-subscription-subscription-assignee-added
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, platform, status, paymentFrequency, cardId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, platform, status, paymentFrequency, cardId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionAssigneeAddedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, platform, status, paymentFrequency, cardId
  inbound_payment:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Inbound Payment
      description: Inbound payment from Faster Payment
      operationId: webhook-transaction-inbound-payment
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundPaymentEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  joule_feed:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Joule Feed
      description: A `Transaction` has been settled/reversed.
      operationId: webhook-transaction-joule-feed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JouleFeedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  transaction_business_trip_linked:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Business Trip Linked
      description: A `Transaction` has been linked to a `BusinessTrip`.
      operationId: webhook-transaction-transaction-business-trip-linked
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBusinessTripLinkedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  transaction_deleted:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Deleted
      description: A `Transaction` has been deleted. This may happen only for `OUT_OF_PLATFORM_COMPANY` or `OUT_OF_PLATFORM_PERSONAL` transactions.
      operationId: webhook-transaction-transaction-deleted
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDeletedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  vehicle_create:
    post:
      tags:
      - Webhooks
      - Vehicles
      summary: Vehicle - Vehicle Create
      description: A `Vehicle` has been created.
      operationId: webhook-vehicle-vehicle-create
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id,numberPlate
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id,numberPlate
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleCreateEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id,numberPlate
  card_replaced:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Replaced
      description: A `Card` has been replaced.
      operationId: webhook-card-card-replaced
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardReplacedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  card_stolen:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Stolen
      description: A `Card` has been reported as stolen.
      operationId: webhook-card-card-stolen
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardStolenEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  card_creation:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Creation
      description: A new `Card` has been created.
      operationId: webhook-card-card-creation
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardCreationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  add_resources_card:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Add Resources Card
      description: A `Card` has been added to a `Group`.
      operationId: webhook-group-add-resources-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
[...]
