openapi: 3.0.1
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Accounting Classification Card Rules API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Card Rules
paths:
  /business/v2/cards/{cardId}/rules/cashpoint:
    get:
      tags:
      - Card Rules
      summary: Get CashPoint Rules
      description: Endpoint to get the `CardRuleCashPointRules` of the `Card`.
      operationId: card-rule-cashpoint-get
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The result is a `CardRuleCashPointRules`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleCashPointRules'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_read
  /business/v2/cards/{cardId}/rules/countries:
    get:
      tags:
      - Card Rules
      summary: Get Countries Rules
      description: Endpoint to get the `CardRuleCountries` of the `Card`.
      operationId: card-rule-countries-get
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The results is `CardRuleCountries`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleCountries'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_read
    post:
      tags:
      - Card Rules
      summary: Set Countries Rules
      description: Endpoint to set the `CardRuleCountries` of the `Card`.
      operationId: card-rule-countries-set
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardRuleCountries'
      responses:
        '200':
          description: The results is `CardRuleCountries`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleCountries'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_write
      x-soldo:
        fingerprint-order: cardId, request_timestamp, token
  /business/v2/cards/{cardId}/rules/merchantCategories:
    get:
      tags:
      - Card Rules
      summary: Get Merchant Categories Rules
      description: Endpoint to get the `CardRuleMerchantCategories` of the `Card`.
      operationId: card-rule-merchant-categories-get
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The result is a `CardRuleMerchantCategories`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleMerchantCategories'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_read
    post:
      tags:
      - Card Rules
      summary: Set Merchant Categories Rules
      description: Endpoint to set the `CardRuleMerchantCategories` of the `Card`.
      operationId: card-rule-merchant-categories-set
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardRuleMerchantCategories'
      responses:
        '200':
          description: The result is a `CardRuleMerchantCategories`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleMerchantCategories'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_write
      x-soldo:
        fingerprint-order: cardId, request_timestamp, token
  /business/v2/cards/{cardId}/rules/spendingLimits:
    get:
      tags:
      - Card Rules
      summary: Get Spending Limits Rules
      description: Endpoint to get the `CardRuleSpendingLimitsRules` of the `Card`.
      operationId: card-rule-spending-limits-get
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The result is a `CardRuleSpendingLimitsRules`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleSpendingLimitsRules'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_read
  /business/v2/cards/{cardId}/rules/cashpoint/{limitName}:
    post:
      tags:
      - Card Rules
      summary: Set CashPoint Rules
      description: Endpoint to set a `CardRuleCashPointRule` of the `Card`.
      operationId: card-rule-cashpoint-set
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: limitName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CardRuleCashPointLimitName'
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardRuleCashPoint'
      responses:
        '200':
          description: The result is a `CardRuleCashPointRules`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleCashPointRule'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_write
      x-soldo:
        fingerprint-order: max, enabled, token
    delete:
      tags:
      - Card Rules
      summary: Unset CashPoint Rules
      description: Endpoint to unset a `CardRuleCashPointRule` of the `Card`.
      operationId: card-rule-cashpoint-unset
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: limitName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CardRuleCashPointLimitName'
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '200':
          description: The result is a single `CardRuleCashPointRule`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleCashPointRule'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_write
      x-soldo:
        fingerprint-order: cardId, limitName, token
  /business/v2/cards/{cardId}/rules/spendingLimits/{limitName}:
    post:
      tags:
      - Card Rules
      summary: Set Spending Limits Rules
      description: Endpoint to set the `CardRuleSpendingLimitsRules` of the `Card`.
      operationId: card-rule-spending-limits-set
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: limitName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CardRuleSpendingLimitsLimitName'
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateCardRuleSpendingLimit'
      responses:
        '200':
          description: The result is a single `CardRuleSpendingLimitsRule`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleSpendingLimitsRule'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_write
      x-soldo:
        fingerprint-order: max, enabled, token
    delete:
      tags:
      - Card Rules
      summary: Unset Spending Limits Rules
      description: Endpoint to unset the `CardRuleSpendingLimitsRule`  of the `Card`.
      operationId: card-rule-spending-limits-unset
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: limitName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CardRuleSpendingLimitsLimitName'
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '200':
          description: The result is a single `CardRuleSpendingLimitsRule`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleSpendingLimitsRule'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_read
      x-soldo:
        fingerprint-order: cardId, limitName, token
  /business/v2/cards/{cardId}/rules:
    get:
      tags:
      - Card Rules
      summary: Get Card Rules
      description: Endpoint to get the `CardRules` of the `Card`.
      operationId: card-rules-get
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The returned resource is a list of `CardRule`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleList'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_read
    put:
      tags:
      - Card Rules
      summary: Set Card Rules
      description: Endpoint to set the `CardRules`.
      operationId: card-rules-set
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
          description: The `Card` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardRules'
      responses:
        '200':
          description: The result is a list of `CardRule`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRuleList'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - card_write
      x-soldo:
        fingerprint-order: name, enabled, token
components:
  schemas:
    CardRuleCountries:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        results:
          type: array
          items:
            $ref: '#/components/schemas/CardRuleCountry'
    CardRuleSpendingLimitsRules:
      type: object
      properties:
        daily:
          $ref: '#/components/schemas/CardRuleLimitPeriod'
        weekly:
          $ref: '#/components/schemas/CardRuleLimitPeriod'
        monthly:
          $ref: '#/components/schemas/CardRuleLimitPeriod'
        per_transaction:
          $ref: '#/components/schemas/CardRuleMaxPerTransaction'
    CardRuleCashPointLimitName:
      type: string
      description: A `CardRuleCashPointRule` limit name.
      enum:
      - daily
      - weekly
      - monthly
      - chipAndPin
      - magstripe
    ISO3166CardRuleCountryCode:
      type: string
      description: The code of the country [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) to be updated.
      example: GBR
      enum:
      - ABW
      - AFG
      - AGO
      - AIA
      - ALB
      - AND
      - ARE
      - ARG
      - ARM
      - ASM
      - ATG
      - AUS
      - AUT
      - AZE
      - BDI
      - BEL
      - BEN
      - BES
      - BFA
      - BGD
      - BGR
      - BHR
      - BHS
      - BIH
      - BLM
      - BLR
      - BLZ
      - BMU
      - BOL
      - BRA
      - BRB
      - BRN
      - BTN
      - BWA
      - CAF
      - CAN
      - CCK
      - CHE
      - CHL
      - CHN
      - CIV
      - CMR
      - COD
      - COG
      - COK
      - COL
      - COM
      - CPV
      - CRI
      - CUB
      - CUW
      - CXR
      - CYM
      - CYP
      - CZE
      - DEU
      - DJI
      - DMA
      - DNK
      - DOM
      - DZA
      - ECU
      - EGY
      - ERI
      - ESP
      - EST
      - ETH
      - FIN
      - FJI
      - FLK
      - FRA
      - FRO
      - FSM
      - GAB
      - GBR
      - GEO
      - GGY
      - GHA
      - GIB
      - GIN
      - GMB
      - GNB
      - GNQ
      - GRC
      - GRD
      - GRL
      - GTM
      - GUM
      - GUY
      - HKG
      - HND
      - HRV
      - HTI
      - HUN
      - IDN
      - IMN
      - IND
      - IRL
      - IRN
      - IRQ
      - ISL
      - ISR
      - ITA
      - JAM
      - JEY
      - JOR
      - JPN
      - KAZ
      - KEN
      - KGZ
      - KHM
      - KIR
      - KNA
      - KOR
      - KWT
      - LAO
      - LBN
      - LBR
      - LBY
      - LCA
      - LIE
      - LKA
      - LSO
      - LTU
      - LUX
      - LVA
      - MAC
      - MAF
      - MAR
      - MCO
      - MDA
      - MDG
      - MDV
      - MEX
      - MHL
      - MKD
      - MLI
      - MLT
      - MMR
      - MNE
      - MNG
      - MNP
      - MOZ
      - MRT
      - MSR
      - MUS
      - MWI
      - MYS
      - NAM
      - NCL
      - NER
      - NFK
      - NGA
      - NIC
      - NIU
      - NLD
      - NOR
      - NPL
      - NRU
      - NZL
      - OMN
      - PAK
      - PAN
      - PCN
      - PER
      - PHL
      - PLW
      - PNG
      - POL
      - PRI
      - PRK
      - PRT
      - PRY
      - PSE
      - PYF
      - QAT
      - ROU
      - RUS
      - RWA
      - SAU
      - SDN
      - SEN
      - SGP
      - SHN
      - SLB
      - SLE
      - SLV
      - SMR
      - SOM
      - SPM
      - SRB
      - SSD
      - STP
      - SUR
      - SVK
      - SVN
      - SWE
      - SWZ
      - SXM
      - SYC
      - SYR
      - TCA
      - TCD
      - TGO
      - THA
      - TJK
      - TKL
      - TKM
      - TLS
      - TON
      - TTO
      - TUN
      - TUR
      - TUV
      - TWN
      - TZA
      - UGA
      - UKR
      - URY
      - USA
      - UZB
      - VAT
      - VCT
      - VEN
      - VGB
      - VIR
      - VNM
      - VUT
      - WLF
      - WSM
      - XXK
      - YEM
      - ZAF
      - ZMB
      - ZWE
    UpdateCardRuleSpendingLimit:
      required:
      - enabled
      - max
      type: object
      properties:
        enabled:
          type: boolean
          description: It determines whether the card rule is enabled.
          example: true
        max:
          type: number
          description: Maximum spendable amount related to the limit.
          format: double
          example: 10.25
      description: SpendingLimit rule parameters.
    CardRuleCountry:
      required:
      - code
      - enabled
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ISO3166CardRuleCountryCode'
        enabled:
          type: boolean
          description: It determines whether the card should be allowed to spend money in that country.
          example: true
      description: A list of [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) country code and `enabled` pairs.
    CardRuleSpendingLimitsLimitName:
      type: string
      description: A SpendingLimit rule name.
      enum:
      - daily
      - weekly
      - monthly
      - perTransaction
    CardRuleCashPointRules:
      type: object
      properties:
        daily:
          $ref: '#/components/schemas/CardRuleLimitPeriod'
        weekly:
          $ref: '#/components/schemas/CardRuleLimitPeriod'
        monthly:
          $ref: '#/components/schemas/CardRuleLimitPeriod'
        chip_and_pin:
          $ref: '#/components/schemas/CardRuleChipAndPin'
        magstripe:
          $ref: '#/components/schemas/CardRuleMagstripe'
    CardRuleMerchantCategories:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        results:
          type: array
          items:
            $ref: '#/components/schemas/CardRuleMerchantCategory'
    UpdateCardRuleCashPoint:
      required:
      - enabled
      - max
      type: object
      properties:
        enabled:
          type: boolean
          description: It determines whether the card rule is enabled.
          example: true
        max:
          type: number
          description: Maximum spendable amount related to the limit.
          format: double
          example: 10.25
      description: '`CardRuleCashPointRule` parameters.'
    UpdateCardRuleCountries:
      required:
      - countries
      - request_timestamp
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        countries:
          type: array
          description: A list of [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) country code and `enabled` pairs.
          items:
            $ref: '#/components/schemas/CardRuleCountry'
      description: '`CardRuleCountries` parameters.'
    CardRuleSpendingLimitsRule:
      type: object
      properties:
        enabled:
          type: boolean
          description: It determines whether the card rule is enabled.
          example: true
        amount:
          type: number
          description: Amount of the limit.
          example: 10.25
    CardRuleLimitPeriod:
      type: object
      properties:
        enabled:
          type: boolean
          description: It determines whether the card rule is enabled.
          example: true
        max:
          type: number
          description: Maximum spendable amount related to the limit.
          example: 10.25
        spent:
          type: number
        left:
          type: number
      description: It determines the possibility to spend up to a certain amount on a monthly basis.
    CardRuleList:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/CardRuleItem'
    CardRuleCashPointRule:
      type: object
      properties:
        enabled:
          type: boolean
          description: It determines whether the card rule is enabled.
          example: true
        amount:
          type: number
          description: Amount of the limit.
          example: 10.25
    UpdateCardRuleMerchantCategories:
      required:
      - merchant_categories
      - request_timestamp
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        merchant_categories:
          type: array
          description: A list of `MerchantCategory` and `enabled` pairs.
          items:
            $ref: '#/components/schemas/CardRuleMerchantCategory'
      description: '`CardRuleMerchantCategories` parameters.'
    CardRuleItem:
      required:
      - enabled
      - name
      type: object
      properties:
        name:
          $ref: '#/components/schemas/CardRuleName'
        enabled:
          type: boolean
          description: It determines whether the `CardRule` is enabled.
          example: true
    UpdateCardRules:
      required:
      - enabled
      - name
      type: object
      properties:
        name:
          $ref: '#/components/schemas/CardRuleName'
        enabled:
          type: boolean
          description: It determines whether the rule is enabled.
          example: true
      description: A `CardRule` representation.
    CardRuleChipAndPin:
      type: object
      properties:
        enabled:
          type: boolean
          description: It determines whether the card rule is enabled.
          example: true
      description: It determines whether the `chipAndPin` is enabled.
    CardRuleMaxPerTransaction:
      type: object
      properties:
        enabled:
          type: boolean
          description: It determines whether the card rule is enabled.
          example: true
        max:
          type: number
          description: Maximum spendable amount related to the limit.
          example: 10.25
        spent:
          type: number
        left:
          type: number
      description: It determines the possibility to spend up to a certain amount on a weekly basis.
    CardRuleName:
      type: string
      description: 'The name of the `CardRule` to update. To follow the implications of each rule when enabled (`enabled=true`) on a card:

        - `OpenCloseMasterLock`, card is locked and only admins can unlock it

        - `OpenClose`, card is locked and any user who have access to the card can unlock it

        - `OpenCloseAfterOneTx`, card is automatically locked after each transaction

        - `Online`, card can spend online

        - `Contactless`, card can spend contactless'
      example: CashPoint
      enum:
      - OpenCloseMasterLock
      - OpenClose
      - OpenCloseAfterOneTx
      - Online
      - Contactless
    CardRuleMagstripe:
      type: object
      properties:
        enabled:
          type: boolean
          description: It determines whether the card rule is enabled.
          example: true
      description: It determines whether the `magstripe` is enabled.
    CardRuleMerchantCategory:
      required:
      - enabled
      - name
      type: object
      properties:
        name:
          $ref: '#/components/schemas/MerchantCategory'
        enabled:
          type: boolean
          description: It determines whether the rule is enabled.
          example: true
      description: A list of `MerchantCategory` and `enabled` pairs.
    MerchantCategory:
      type: string
      description: A list of merchant categories this `ExpenseCategory`.
      enum:
      - Advertising
      - Entertainment
      - Utilities
      - Food_Cocktail_Bar
      - Food_Restaurant
      - Food_Store
      - Food_Wine
      - Services_Business
      - Services_Cleaning
      - Services_Contracted
      - Services_Delivery
      - Services_Educational
      - Services_Financial
      - Services_Gambling
      - Services_Government
      - Services_Health
      - Services_Insurance
      - Services_Legal
      - Services_Museum
      - Services_Organisation
      - Services_Personal
      - Services_Repair
      - Services_Social
      - Services_Stationery
      - Services_Telecommunication
      - Services_Veterinary
      - Services_Warehouse
      - Services_Wholesale
      - Shopping_Accessories
      - Shopping_Airline
      - Shopping_Art
      - Shopping_Automotive
      - Shopping_Beauty
      - Shopping_Books
      - Shopping_Clothes
      - Shopping_Digital_Goods
      - Shopping_Direct_Marketing
      - Shopping_Furnitures
      - Shopping_Sport
      - Shopping_Store
      - Shopping_Technology
      - Transport_Airports
      - Transport_Charging_Station
      - Transport_Parking
      - Transport_Public_Transportation
      - Transport_Road
      - Transport_Service_Station
      - Transport_Ships
      - Transport_Taxi
      - Transport_Toll_Roads
      - Transport_Trains
      - Travel_Airlines
      - Travel_Agency
      - Travel_Car_Rental
      - Travel_Hotels
      - Travel_Time_Shares
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-webhooks:
  move_resources_card:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Move Resources Card
      description: A `Card` has been moved to another `Group`.
      operationId: webhook-group-move-resources-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveResourcesCardEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  move_resources_wallet:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Move Resources Wallet
      description: A `Wallet` is moved to another `Group`.
      operationId: webhook-group-move-resources-wallet
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveResourcesWalletEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  customer_care_withdraw:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Customer Care Withdraw
      description: A `Withdrawal` has been performed by customer care support
      operationId: webhook-transaction-customer-care-withdraw
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCareWithdrawEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  transaction_business_trip_unlinked:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Business Trip Unlinked
      description: A `Transaction` has been unlinked from a `BusinessTrip`.
      operationId: webhook-transaction-transaction-business-trip-unlinked
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBusinessTripUnlinkedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  remove_resources_card:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Remove Resources Card
      description: A `Card` has been removed from a `Group`.
      operationId: webhook-group-remove-resources-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveResourcesCardEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  load_failed:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Load Failed
      description: A money load for company `Wallet` failed.
      operationId: webhook-transaction-load-failed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadFailedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  created_expense_configuration:
    post:
      tags:
      - Webhooks
      - Expense Review Configuration
      summary: Expense Review - Configuration Created
      description: An `ExpenseReview` configuration has been created`.
      operationId: webhook-expensereview-created-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatedExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  change_expense_type:
    post:
      tags:
      - Webhooks
      - Expense Reviews
      summary: Expense Review - Change Expense Type
      description: A `Transaction` expense type has been changed.
      operationId: webhook-expensereview-change-expense-type
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeExpenseTypeEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  move_resources_member:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Move Resources Member
      description: An `User` is moved to another `Group`.
      operationId: webhook-group-move-resources-member
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveResourcesMemberEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  purchase_redeem_card:
    post:
      tags:
      - Webhooks
      - Pre-approved Spend
      summary: Pre-Approved Spend - Purchase Redeem Card
      description: A `Card` of purchase has been redeemed.
      operationId: webhook-preapprovedspend-purchase-redeem-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, title, description, amount, amountCurrency
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, title, description, amount, amountCurrency
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseRedeemCardEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, title, description, amount, amountCurrency
  billing:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Billing
      description: Billing related to `Card` purchase.
      operationId: webhook-transaction-billing
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  customer_care_deposit:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Customer Care Deposit
      description: A `Deposit` has been performed by customer care support.
      operationId: webhook-transaction-customer-care-deposit
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCareDepositEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  store_order_completed:
    post:
      tags:
      - Webhooks
      - Orders
      summary: Order - Store Order Completed
      description: An `Order` has been completed.
      operationId: webhook-order-store-order-completed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreOrderCompletedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, status
  card_lost:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Lost
      description: A `Card` has been reported as lost.
      operationId: webhook-card-card-lost
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardLostEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  inbound_payment_reversal:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Inbound Payment Reversal
      description: Reversal of an inbound payment from Faster Payment
      operationId: webhook-transaction-inbound-payment-reversal
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundPaymentReversalEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  new_user:
    post:
      tags:
      - Webhooks
      - Users
      summary: User - New User
      description: A new `User` has been created.
      operationId: webhook-user-new-user
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, surname, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, surname, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUserEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, surname, status
  updated_expense_configuration:
    post:
      tags:
      - Webhooks
      - Expense Review Configuration
      summary: Expense Review - Updated Expense Configuration
      description: An `ExpenseReview` configuration is updated.
      operationId: webhook-expensereview-updated-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  scheduled_transfer:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Scheduled Transfer
      description: Failed scheduled internal transfer to top-up a `Wallet`.
      operationId: webhook-transaction-scheduled-transfer
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTransferEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  transaction_modified:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Modified
      description: A `Transaction` has been modified, e.g. moved to another `Wallet` or changed in other describing attributes.
      operationId: webhook-transaction-transaction-modified
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionModifiedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  card_change_status:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Change Status
      description: A `Card` changed status.
      operationId: webhook-card-card-change_status
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardChangeStatusEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  online_ads_updated:
    post:
      tags:
      - Webhooks
      - Online Ads
      summary: OnlineAds - OnlineAds Updated
      description: An `OnlineAds` has been updated.
      operationId: webhook-onlineads-online-ads-updated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, walletId, cardId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, walletId, cardId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnlineAdsUpdatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, walletId, cardId
  delete_group:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Group Deleted
      description: A`Group` has been deleted.
      operationId: webhook-group-delete-group
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteGroupEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  load_money:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Load Money
      description: A money load on company `Wallet` succeeded.
      operationId: webhook-transaction-load-money
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadMoneyEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  wiretransfer:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Wiretransfer
      description: Deposit in.
      operationId: webhook-transaction-wiretransfer
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WiretransferEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  contact_deleted:
    post:
      tags:
      - Webhooks
      - Contacts
      summary: Contact - Contact Deleted
      description: A `Contact` has been deleted.
      operationId: webhook-contact-contact-deleted
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, userId, type, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, userId, type, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDeletedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, userId, type, status
  card_destroyed:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Destroyed
      description: A `Card` has been destroyed.
      operationId: webhook-card-card-destroyed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDestroyedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  card_authorization:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Card Authorization
      description: A `Transaction` authorisation has been requested.
      operationId: webhook-transaction-card-authorization
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardAuthorizationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  updated_transaction:
    post:
      tags:
      - Webhooks
      - Expense Reviews
      summary: Expense Review - Updated Transaction
      description: A `Transaction` has been update.
      operationId: webhook-expensereview-updated-transaction
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedTransactionEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  transaction_adjustment:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Transaction Adjustment
      description: A `Transaction` has been adjusted.
      operationId: webhook-transaction-transaction-adjustment
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionAdjustmentEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  attachment_delete:
    post:
      tags:
      - Webhooks
      - Transaction Attachments
      summary: Transaction Attachment - Attachment Delete
      description: An attachment has been deleted from a `Transaction`.
      operationId: webhook-transactionattachment-attachment-delete
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: attachmentId, transactionId, fileName
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: attachmentId, transactionId, fileName
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentDeleteEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: attachmentId, transactionId, fileName
  disabled_expense_configuration:
    post:
      tags:
      - Webhooks
      - Expense Review Configuration
      summary: Expense Review - Configuration Disabled
      description: An `ExpenseReview` configuration has been disabled.
      operationId: webhook-expensereview-disabled-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisabledExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
  purchase_delete:
    post:
      tags:
      - Webhooks
      - Pre-approved Spend
      summary: Pre-Approved Spend - Purchase Delete
      description: A `Purchase` has been deleted.
      operationId: webhook-preapprovedspend-purchase-delete
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, title, description, amount, amountCurrency
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, title, description, amount, amountCurrency
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseDeleteEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, title, description, amount, amountCurrency
  wallet_created:
    post:
      tags:
      - Webhooks
      - Wallets
      summary: Wallet - Wallet Created
      description: A new `Wallet` has been created.
      operationId: webhook-wallet-wallet-created
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, currencyCode, primaryUserPublicId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, currencyCode, primaryUserPublicId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletCreatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, currencyCode, primaryUserPublicId
  card_activated:
    post:
      tags:
      - Webhooks
      - Cards
      summary: Card - Card Activated
      description: A `Card` has been activated.
      operationId: webhook-card-card-activated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, status, walletId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, status, walletId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardActivatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, status, walletId
  unload_money:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Unload Money
      description: Unload money from a company `Wallet`.
      operationId: webhook-transaction-unload-money
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnloadMoneyEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
  create_group:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Group Created
      description: A new `Group` has been created.
      operationId: webhook-group-create-group
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  update_group:
    post:
      tags:
      - Webhooks
      - Groups
      summary: Group - Update Group
      description: A `Group` has been updated.
      operationId: webhook-group-update-group
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, type, customReferenceId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, type, customReferenceId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, type, customReferenceId
  user_updated:
    post:
      tags:
      - Webhooks
      - Users
      summary: User - User Updated
      description: An `User` has been updated.
      operationId: webhook-user-user-updated
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, surname, status
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, surname, status
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdatedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, surname, status
  subscription_assignee_added:
    post:
      tags:
      - Webhooks
      - Subscriptions
      summary: Subscription - Subscription Assignee Added
      description: A `Subscription` assignee is added.
      operationId: webhook-subscription-subscription-assignee-added
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, name, platform, status, paymentFrequency, cardId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, name, platform, status, paymentFrequency, cardId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionAssigneeAddedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, name, platform, status, paymentFrequency, cardId
  inbound_payment:
    post:
      tags:
      - Webhooks
      - Transactions
      summary: Transaction - Inbound Payment
      description: Inbound payment from Faster Payment
      operationId: webhook-transaction-inbound-payment
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
[...]
