openapi: 3.2.0
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Out of Office API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Out of Office
paths:
  /business/v2/employees/out-of-office:
    get:
      tags:
      - Out of Office
      summary: Search Out of Office
      description: Endpoint to search `out_of_office` using filtering parameters.
      operationId: out-of-office-search
      parameters:
      - name: delegatorId
        in: query
        schema:
          uniqueItems: true
          type: array
          description: The ID of the person assigning the `out_of_office`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
          items:
            type: string
            description: The ID of the person assigning the `out_of_office`.
            example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: delegateId
        in: query
        schema:
          uniqueItems: true
          type: array
          description: The ID of the person covering for the delegator.
          example: 33333333-a7ae-4222-aa54-091ff7f429a7
          items:
            type: string
            description: The ID of the person covering for the delegator.
            example: 33333333-a7ae-4222-aa54-091ff7f429a7
      - name: fromDate
        in: query
        description: Defines when the out_of_office entry starts. fromDate included. (i.e. greater than or equal to) (Format:`yyyy-MM-dd`).
        schema:
          type: string
          description: Defines when the out_of_office entry starts. fromDate included. (i.e. greater than or equal to) (Format:`yyyy-MM-dd`).
          example: '2025-03-05'
        example: '2025-03-05'
      - name: toDate
        in: query
        description: Defines when the out_of_office entry ends, toDate included. (i.e. less than) (Format:`yyyy-MM-ddThh:mm:ssZ`,represents a UTC timezone).
        schema:
          type: string
          description: Defines when the out_of_office entry ends, toDate included. (i.e. less than) (Format:`yyyy-MM-ddThh:mm:ssZ`,represents a UTC timezone).
          example: '2025-03-07'
        example: '2025-03-07'
      - name: status
        in: query
        description: The status of `out_of_office`.
        schema:
          uniqueItems: true
          type: array
          description: The status of `out_of_office`.
          items:
            $ref: '#/components/schemas/DelegationStatus'
        example: ACTIVE
      - name: feature
        in: query
        description: The features of `out_of_office`.
        schema:
          uniqueItems: true
          type: array
          description: The features of `out_of_office`.
          items:
            $ref: '#/components/schemas/DelegationFeature'
        example: EXPENSE_REVIEW
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The result is an array containing `out_of_office`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutOfOfficeDelegations'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - out_of_office_delegation_read
    post:
      tags:
      - Out of Office
      summary: Add Out of Office
      description: Endpoint to add an `out_of_office`.
      operationId: out-of-office-add
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOutOfOfficeDelegation'
      responses:
        '200':
          description: The result is a single `out_of_office`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutOfOfficeDelegation'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - out_of_office_delegation_write
      x-soldo:
        fingerprint-order: request_timestamp, from_date, to_date, delegator_id, delegate_id, feature, token
  /business/v2/employees/out-of-office/{out_of_office_id}:
    get:
      tags:
      - Out of Office
      summary: Get Out of Office
      description: Endpoint to get a specific `out_of_office` by ID.
      operationId: out-of-office-get
      parameters:
      - name: out_of_office_id
        in: path
        required: true
        schema:
          type: string
          description: The `out_of_office` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The result is a single `out_of_office`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutOfOfficeDelegation'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - out_of_office_delegation_read
    put:
      tags:
      - Out of Office
      summary: Update Out of Office
      description: Endpoint to update a specific `out_of_office`.
      operationId: out-of-office-update
      parameters:
      - name: out_of_office_id
        in: path
        required: true
        schema:
          type: string
          description: The `out_of_office` ID .
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOutOfOfficeDelegation'
      responses:
        '200':
          description: The returned resource is a single `out_of_office`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutOfOfficeDelegation'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - out_of_office_delegation_write
      x-soldo:
        fingerprint-order: id, request_timestamp, from_date, to_date, delegate_id, feature, token
    delete:
      tags:
      - Out of Office
      summary: Delete Out of Office
      description: Endpoint to delete a specific `out_of_office`.
      operationId: out-of-office-delete
      parameters:
      - name: out_of_office_id
        in: path
        required: true
        schema:
          type: string
          description: The `out_of_office` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - out_of_office_delegation_write
components:
  schemas:
    DelegationStatus:
      type: string
      description: The work status of `out_of_office`.
      example: ACTIVE
      enum:
      - ACTIVE
      - EXPIRED
      - SCHEDULED
      - DELETED
    OutOfOfficeDelegations:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        pages:
          type: integer
          description: It represents the total number of available pages.
          format: int32
          example: 7
        page_size:
          type: integer
          description: It represents the number of items per page.
          format: int32
          example: 25
        current_page:
          type: integer
          description: It indicates the current page (the counter starts from zero).
          format: int32
          example: 0
        results_size:
          type: integer
          description: It indicates the size of the array results.
          format: int32
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/OutOfOfficeDelegation'
    UpdateOutOfOfficeDelegation:
      required:
      - delegate_id
      - features
      - request_timestamp
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        delegate_id:
          type: string
          description: The ID of the person covering for the delegator.
          example: XMPL1234-000002
        from_date:
          type: string
          description: 'Defines when the out_of_office entry starts. fromDate included.(i.e. greater than or equal to) (Format: `yyyy-MM-dd`).'
          example: '2020-04-06'
        to_date:
          type: string
          description: 'Defines when the out_of_office entry ends. toDate included.(i.e. less than) (Format: `yyyy-MM-dd`).'
          example: '2020-04-06'
        features:
          type: array
          description: The features of `out_of_office`.
          items:
            $ref: '#/components/schemas/DelegationFeature'
      description: Update `out_of_office` Request JSON parameters.
    CreateOutOfOfficeDelegation:
      required:
      - delegate_id
      - delegator_id
      - features
      - request_timestamp
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        delegator_id:
          type: string
          description: The ID of the person assigning the `out_of_office`.
          example: XMPL1234-000001
        delegate_id:
          type: string
          description: The ID of the person covering for the delegator.
          example: XMPL1234-000002
        from_date:
          type: string
          description: 'Defines when the out_of_office entry starts. fromDate included.(i.e. greater than or equal to) (Format: `yyyy-MM-dd`).'
          example: '2020-04-06'
        to_date:
          type: string
          description: 'Defines when the out_of_office entry ends. toDate included.(i.e. less than) (Format: `yyyy-MM-dd`).'
          example: '2020-04-06'
        features:
          type: array
          description: The features of `out_of_office`.
          items:
            $ref: '#/components/schemas/DelegationFeature'
      description: Create `out_of_office` JSON parameters.
    OutOfOfficeDelegation:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for this `out_of_office` entry.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        delegator_id:
          type: string
          description: The ID of the person assigning the `out_of_office`.
          example: XMPL1234-000001
        delegate_id:
          type: string
          description: The ID of the person covering for the delegator.
          example: XMPL1234-000002
        from_date:
          type: string
          description: Defines when the out_of_office entry starts. fromDate included. (i.e. greater than or equal to) (Format:`yyyy-MM-dd`).
          format: date
          example: '2025-03-05'
        to_date:
          type: string
          description: Defines when the out_of_office entry ends. toDate included. (i.e. less than) (Format:`yyyy-MM-dd`).
          format: date
          example: '2025-03-07'
        features:
          uniqueItems: true
          type: array
          description: The features of `out_of_office`.
          items:
            $ref: '#/components/schemas/DelegationFeature'
        status:
          $ref: '#/components/schemas/DelegationStatus'
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      example: DESC
      enum:
      - ASC
      - DESC
    DelegationFeature:
      type: string
      description: The features of `out_of_office`.
      enum:
      - REQUEST_MONEY
      - REQUEST_PURCHASE
      - EXPENSE_REVIEW
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: true
