openapi: 3.2.0
info:
  title: Soldo Software And Services Transactions API
  version: 5.56.0
  description: 'Operations tagged Transactions across 2 of this provider''s published API definitions: soldo-software-and-services-business-api-openapi.json, soldo-software-and-services-transactions-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Transactions
paths:
  /business/v2/transactions/mileage-reimbursements:
    post:
      tags:
      - Transactions
      summary: Create Mileage Reimbursement Transaction
      description: Endpoint to create a `MileageReimbursement` `Transaction`.
      operationId: mileage-reimbursement-transaction-create
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMileageReimbursementTransaction'
      responses:
        '200':
          description: The returned resource is a single `MileageReimbursement`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MileageReimbursementTransaction'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_write
      x-soldo:
        fingerprint-order: request_timestamp, date, owner_id, mileage.vehicle_id, mileage.reimbursement_rate, mileage.distance, mileage.round_trip, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/transactions/out-of-platform-transactions:
    post:
      tags:
      - Transactions
      summary: Create Out-Of-Platform Transaction
      description: Endpoint to create an Out-Of-Platform `Transaction` (not automatically tracked by Soldo).
      operationId: out-of-platform-transaction-create
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOutOfPlatformTransaction'
      responses:
        '200':
          description: The returned resource is a single Out-Of-Platform `Transaction`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutOfPlatformTransaction'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_write
      x-soldo:
        fingerprint-order: request_timestamp, date, owner_id, merchant_name, tx_amount, tx_amount_currency, exchange_rate, payment_method, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/transactions/mileage-reimbursements/{transactionId}:
    get:
      tags:
      - Transactions
      summary: Get Mileage Reimbursement Transaction
      description: Endpoint to get a specific `MileageReimbursement` `Transaction`.
      operationId: mileage-reimbursement-transaction-get
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
          description: The `Transaction` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '200':
          description: The returned resource is a single `MileageReimbursement`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MileageReimbursementTransaction'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_read
      x-soldo:
        fingerprint-order: transactionId, token
    put:
      tags:
      - Transactions
      summary: Update Mileage Reimbursement Transaction
      description: Endpoint to update a `MileageReimbursement` `Transaction`. The entire resource representation must be included in the request body.
      operationId: mileage-reimbursement-transaction-update
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
          description: The `Transaction` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMileageReimbursementTransaction'
      responses:
        '200':
          description: The returned resource is a single `MileageReimbursement`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MileageReimbursementTransaction'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_write
      x-soldo:
        fingerprint-order: transactionId, request_timestamp, date, mileage.vehicle_id, mileage.reimbursement_rate, mileage.distance, mileage.round_trip, token
    delete:
      tags:
      - Transactions
      summary: Delete Mileage Reimbursement Transaction
      description: Endpoint to delete a specific `MileageReimbursement` `Transaction`.
      operationId: mileage-reimbursement-transaction-delete
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
          description: The `Transaction` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '204':
          description: No content as result.
      security:
      - standardAuth:
        - transaction_write
      x-soldo:
        fingerprint-order: transactionId, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/transactions/out-of-platform-transactions/{transactionId}:
    get:
      tags:
      - Transactions
      summary: Get Out-Of-Platform Transaction
      description: Endpoint to get a specific Out-Of-Platform `Transaction`.
      operationId: out-of-platform-transaction-get
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
          description: The `Transaction` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '200':
          description: The returned resource is a single Out-Of-Platform `Transaction`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutOfPlatformTransaction'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_read
      x-soldo:
        fingerprint-order: transactionId, token
    put:
      tags:
      - Transactions
      summary: Update Out-Of-Platform Transaction
      description: Endpoint to update an Out-Of-Platform `Transaction`. The entire resource representation must be included in the request body.
      operationId: out-of-platform-transaction-update
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
          description: The `Transaction` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOutOfPlatformTransaction'
      responses:
        '200':
          description: The returned resource is a single Out-Of-Platform `Transaction`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutOfPlatformTransaction'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_write
      x-soldo:
        fingerprint-order: transactionId, request_timestamp, date, merchant_name, tx_amount, tx_amount_currency, exchange_rate, payment_method, token
    delete:
      tags:
      - Transactions
      summary: Delete Out-Of-Platform Transaction
      description: Endpoint to delete a specific Out-Of-Platform `Transaction`.
      operationId: out-of-platform-transaction-delete
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
          description: The `Transaction` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '204':
          description: No content as result.
      security:
      - standardAuth:
        - transaction_write
      x-soldo:
        fingerprint-order: transactionId, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/transactions/{transactionId}/tax-rate/{taxRateId}:
    post:
      tags:
      - Transactions
      summary: Add VAT Rate to Transaction
      description: Endpoint to assign a `VatRate` to a `Transaction`.
      operationId: transaction-tax-rate-set
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
          description: The `Transaction` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: taxRateId
        in: path
        required: true
        schema:
          type: string
          description: The `VatRate` ID.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      responses:
        '204':
          description: No content as result.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_write
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/transactions/{transactionId}:
    get:
      tags:
      - Transactions
      summary: Get Transaction
      description: Endpoint to get a specific `Transaction` by ID.
      operationId: transaction-get
      parameters:
      - name: transactionId
        in: path
        description: The `Transaction` ID.
        required: true
        schema:
          type: string
          description: The `Transaction` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: showDetails
        in: query
        description: It determines whether to show further Details of the `Transaction`.
        schema:
          type: boolean
          description: It determines whether to show further Details of the `Transaction`.
          example: false
        example: false
      - name: showFuelDetails
        in: query
        description: It determines whether to show further Fuel Details of the `Transaction`.
        schema:
          type: boolean
          description: It determines whether to show further Fuel Details of the `Transaction`.
          example: false
        example: false
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '200':
          description: The returned resource is a single `Transaction`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_read
      x-soldo:
        fingerprint-order: transactionId, token
    put:
      tags:
      - Transactions
      summary: Update Transaction
      description: Endpoint to update the assignee of a specific `Transaction` by ID. This method is only available for `Company` `Card` transactions and the `trx_owner_id` must be one of the `Card` assignees.
      operationId: transaction-update
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
          description: The `Transaction` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransaction'
      responses:
        '200':
          description: The returned resource is a single `Transaction`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_write
      x-soldo:
        fingerprint-order: transactionId, userNotes, trxOwnerId, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/transactions:
    get:
      tags:
      - Transactions
      summary: Search Transactions
      description: Endpoint to find `Transactions` using filtering parameters.
      operationId: transaction-search
      parameters:
      - name: type
        in: query
        description: The resource `type` to be used together with id.
        schema:
          $ref: '#/components/schemas/SearchTransactionResourceType'
        example: card
      - name: hasAttachment
        in: query
        description: Looks whether or not a `TransactionAttachment` is present.
        schema:
          type: boolean
          description: Looks whether or not a `TransactionAttachment` is present.
          example: true
        example: true
      - name: publicId
        in: query
        description: The ID of the `type` resource.
        schema:
          type: string
          description: The ID of the `type` resource.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: customreferenceId
        in: query
        description: The custom reference ID of the cardholder.
        schema:
          type: string
          description: The custom reference ID of the cardholder.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      - name: fromDate
        in: query
        description: 'The beginning of the period of the search `fromDate` included (i.e. greater than or equal to) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '1970-01-30'
      - name: toDate
        in: query
        description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '1970-01-30'
      - name: dateType
        in: query
        description: It determines the date to be considered for `fromDate` and `toDate` parameters.
        schema:
          $ref: '#/components/schemas/SearchTransactionDateType'
        example: TRANSACTION
      - name: groupId
        in: query
        description: The ID of the `Group` of the transactions.
        schema:
          type: string
          description: The ID of the `Group` of the transactions.
          example: c861cc24-6663-410f-8c78-73f886fff4ef
        example: c861cc24-6663-410f-8c78-73f886fff4ef
      - name: category
        in: query
        description: It determines the filter by category of the transaction, multiple categories can be included.
        schema:
          type: array
          description: It determines the filter by category of the transaction, multiple categories can be included.
          items:
            $ref: '#/components/schemas/SearchTransactionCategory'
        example: Payment
      - name: status
        in: query
        description: It determines the filter by status of the transaction, multiple statuses can be included.
        schema:
          type: array
          description: It determines the filter by status of the transaction, multiple statuses can be included.
          items:
            $ref: '#/components/schemas/TransactionStatus'
        example: Authorised
      - name: paymentMethod
        in: query
        description: It determines the filter by payment method of the transaction, multiple payment methods can be included. `OUT_OF_PLATFORM_COMPANY` and `OUT_OF_PLATFORM_PERSONAL` are not included by default.
        schema:
          uniqueItems: true
          type: array
          description: It determines the filter by payment method of the transaction, multiple payment methods can be included. `OUT_OF_PLATFORM_COMPANY` and `OUT_OF_PLATFORM_PERSONAL` are not included by default.
          items:
            $ref: '#/components/schemas/SearchTransactionPaymentMethod'
        example: SUBSCRIPTION
      - name: tagId
        in: query
        description: The ID of the `Tag` of the transaction.
        schema:
          type: string
          description: The ID of the `Tag` of the transaction.
          example: 6853e657-c797-4985-8d6b-5425d4e51df8
        example: 6853e657-c797-4985-8d6b-5425d4e51df8
      - name: metadataId
        in: query
        description: The ID of the custom generated `Metadata` of the `Transaction`.
        deprecated: true
        schema:
          type: string
          description: The ID of the custom generated `Metadata` of the `Transaction`.
          example: express
          deprecated: true
        example: express
      - name: text
        in: query
        description: A simple text to search in the transaction data (merchant, merchant category, user notes, tag, list, masked pan, card name, tx amount, vehicle plate, vehicle description).
        schema:
          type: string
          description: A simple text to search in the transaction data (merchant, merchant category, user notes, tag, list, masked pan, card name, tx amount, vehicle plate, vehicle description).
          example: Amazon
        example: Amazon
      - name: expenseType
        in: query
        description: The type of the expense.
        schema:
          type: array
          description: The type of the expense.
          example: TRAVEL_AND_ENTERTAINMENT
          items:
            $ref: '#/components/schemas/ExpenseType'
        example: TRAVEL_AND_ENTERTAINMENT
      - name: expenseStatus
        in: query
        schema:
          type: array
          description: The status of the expense.
          example: APPROVED
          items:
            $ref: '#/components/schemas/ExpenseStatus'
      - name: expenseCategoryId
        in: query
        schema:
          uniqueItems: true
          type: array
          description: The ID of the Expense category of the transactions, multiple expense categories can be included.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
          items:
            type: string
            description: The ID of the Expense category of the transactions, multiple expense categories can be included.
            example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      - name: expenseReportId
        in: query
        schema:
          type: array
          description: The ID of the `ExpenseReport` of the transactions, multiple expense reports can be included.
          example: c861cc24-6663-410f-8c78-73f886fff4ef
          items:
            type: string
            description: The ID of the `ExpenseReport` of the transactions, multiple expense reports can be included.
            example: c861cc24-6663-410f-8c78-73f886fff4ef
      - name: exportStatus
        in: query
        description: The export status of the expense.
        schema:
          $ref: '#/components/schemas/ExportStatus'
        example: EXPORTED
      - name: taxRateId
        in: query
        schema:
          type: array
          description: The ID of the VAT rate of the transactions, multiple VAT rates can be included.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
          items:
            type: string
            description: The ID of the VAT rate of the transactions, multiple VAT rates can be included.
            example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: requiredInformation
        in: query
        description: To search transactions with (or without) required information. A transaction is `COMPLETE` when all details marked as mandatory in the `Reminders` section have been filled in for the transaction.
        schema:
          $ref: '#/components/schemas/SearchTransactionRequiredInformation'
        example: COMPLETE
      - name: isSplit
        in: query
        description: Looks whether or not a transaction is split.
        schema:
          type: boolean
          description: Looks whether or not a transaction is split.
          example: true
        example: true
      - name: customExportedProduct
        in: query
        description: A product that exported list of `Transaction`
        schema:
          type: string
          description: A product that exported list of `Transaction`
          example: SAP
        example: SAP
      - name: customExported
        in: query
        description: Looks whether or not a `TransactionCustomExport` is present.
        schema:
          type: boolean
          description: Looks whether or not a `TransactionCustomExport` is present.
          example: true
        example: true
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '200':
          description: The result array contains `Transactions`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - transaction_read
      x-soldo:
        fingerprint-order: type, publicId, customReferenceId, groupId, fromDate, toDate, dateType, category, status, tagId, metadataId, text, expenseType, expenseStatus, requiredInformation, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
webhooks:
  customer_care_withdraw:
    post:
      tags:
      - Transactions
      summary: Transaction - Customer Care Withdraw
      description: A `Withdrawal` has been performed by customer care support
      operationId: webhook-transaction-customer-care-withdraw
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCareWithdrawEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  transaction_business_trip_unlinked:
    post:
      tags:
      - Transactions
      summary: Transaction - Transaction Business Trip Unlinked
      description: A `Transaction` has been unlinked from a `BusinessTrip`.
      operationId: webhook-transaction-transaction-business-trip-unlinked
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBusinessTripUnlinkedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  load_failed:
    post:
      tags:
      - Transactions
      summary: Transaction - Load Failed
      description: A money load for company `Wallet` failed.
      operationId: webhook-transaction-load-failed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadFailedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  billing:
    post:
      tags:
      - Transactions
      summary: Transaction - Billing
      description: Billing related to `Card` purchase.
      operationId: webhook-transaction-billing
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  customer_care_deposit:
    post:
      tags:
      - Transactions
      summary: Transaction - Customer Care Deposit
      description: A `Deposit` has been performed by customer care support.
      operationId: webhook-transaction-customer-care-deposit
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCareDepositEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  inbound_payment_reversal:
    post:
      tags:
      - Transactions
      summary: Transaction - Inbound Payment Reversal
      description: Reversal of an inbound payment from Faster Payment
      operationId: webhook-transaction-inbound-payment-reversal
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundPaymentReversalEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  scheduled_transfer:
    post:
      tags:
      - Transactions
      summary: Transaction - Scheduled Transfer
      description: Failed scheduled internal transfer to top-up a `Wallet`.
      operationId: webhook-transaction-scheduled-transfer
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTransferEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  transaction_modified:
    post:
      tags:
      - Transactions
      summary: Transaction - Transaction Modified
      description: A `Transaction` has been modified, e.g. moved to another `Wallet` or changed in other describing attributes.
      operationId: webhook-transaction-transaction-modified
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionModifiedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  load_money:
    post:
      tags:
      - Transactions
      summary: Transaction - Load Money
      description: A money load on company `Wallet` succeeded.
      operationId: webhook-transaction-load-money
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadMoneyEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  wiretransfer:
    post:
      tags:
      - Transactions
      summary: Transaction - Wiretransfer
      description: Deposit in.
      operationId: webhook-transaction-wiretransfer
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WiretransferEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  card_authorization:
    post:
      tags:
      - Transactions
      summary: Transaction - Card Authorization
      description: A `Transaction` authorisation has been requested.
      operationId: webhook-transaction-card-authorization
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardAuthorizationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  transaction_adjustment:
    post:
      tags:
      - Transactions
      summary: Transaction - Transaction Adjustment
      description: A `Transaction` has been adjusted.
      operationId: webhook-transaction-transaction-adjustment
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionAdjustmentEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  unload_money:
    post:
      tags:
      - Transactions
      summary: Transaction - Unload Money
      description: Unload money from a company `Wallet`.
      operationId: webhook-transaction-unload-money
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnloadMoneyEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  inbound_payment:
    post:
      tags:
      - Transactions
      summary: Transaction - Inbound Payment
      description: Inbound payment from Faster Payment
      operationId: webhook-transaction-inbound-payment
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundPaymentEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  joule_feed:
    post:
      tags:
      - Transactions
      summary: Transaction - Joule Feed
      description: A `Transaction` has been settled/reversed.
      operationId: webhook-transaction-joule-feed
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JouleFeedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  transaction_business_trip_linked:
    post:
      tags:
      - Transactions
      summary: Transaction - Transaction Business Trip Linked
      description: A `Transaction` has been linked to a `BusinessTrip`.
      operationId: webhook-transaction-transaction-business-trip-linked
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBusinessTripLinkedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  transaction_deleted:
    post:
      tags:
      - Transactions
      summary: Transaction - Transaction Deleted
      description: A `Transaction` has been deleted. This may happen only for `OUT_OF_PLATFORM_COMPANY` or `OUT_OF_PLATFORM_PERSONAL` transactions.
      operationId: webhook-transaction-transaction-deleted
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDeletedEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  balanced_transfer:
    post:
      tags:
      - Transactions
      summary: Transaction - Balanced Transfer
      description: Failed balanced internal transfer to top-up a `Wallet`.
      operationId: webhook-transaction-balanced-transfer
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalancedTransferEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  recurring_billing:
    post:
      tags:
      - Transactions
      summary: Transaction - Recurring Billing
      description: Monthly billing.
      operationId: webhook-transaction-recurring-billing
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringBillingEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  conversion:
    post:
      tags:
      - Transactions
      summary: Transaction - Conversion
      description: A transfer between `Wallets` with different currencies.
      operationId: webhook-transaction-conversion
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  edit_tag:
    post:
      tags:
      - Transactions
      summary: Transaction - Tag Edited
      description: A `Tag` has been added or removed from a `Transaction`.
      operationId: webhook-transaction-edit-tag
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditTagEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  internal_transfer:
    post:
      tags:
      - Transactions
      summary: Transaction - Internal Transfer
      description: A Transfer between `Wallets` with the same currency
      operationId: webhook-transaction-internal-transfer
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, walletId, status, transactionSign
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, walletId, status, transactionSign
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalTransferEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, walletId, status, transactionSign
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
components:
  schemas:
    CreateOutOfPlatformTransaction:
      required:
      - date
      - merchant_name
      - owner_id
      - payment_method
      - request_timestamp
      - tx_amount
      - tx_amount_currency
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        date:
          type: string
          description: The date and time of the `Transaction`.
          example: '2017-06-01T12:48:40Z'
        owner_id:
          type: string
          description: 'The ID of the `User` who made the `Transaction` (updatable: no).'
          example: XMPL1234-000002
        merchant_name:
          type: string
          description: The name of the `Merchant` for the `Transaction`.
          example: SHH HOTEL LONDON
        tx_amount:
          type: number
          description: The amount of the `Transaction`, in the currency of the `Merchant`.
          example: 10.25
        tx_amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        exchange_rate:
          type: number
          description: The exchange rate used to convert the `tx_amount` from the currency of the `Merchant` to the currency of the main `Wallet`. If needed and not provided, a default rate is derived from `date`.
          example: 1
        payment_method:
          $ref: '#/components/schemas/OutOfPlatformTransactionPaymentMethod'
      description: Create Out-Of-Platform `Transaction` JSON parameters.
    TransactionAdjustmentEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Transaction'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    TransactionBusinessTripLinkedEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Transaction'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    Address:
      type: object
      properties:
        id:
          type: string
          description: The `Address` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        recipient:
          type: string
          description: The recipient of the `Address`
          example: JohnSmith
        name:
          type: string
          description: The actual name of the `Address`.
          example: Foo Street 75
        line1:
          type: string
          description: The `Address` street.
          example: Bar Street 64
        line2:
          type: string
          description: An optional other street.
          example: Other street 31
        country:
          type: string
          description: The country of the `Address`.
          example: GB
        county:
          type: string
          description: The county of the `Address`.
          example: LD
        city:
          type: string
          description: The city of the `Address`.
          example: London
        post_code:
          type: string
          description: The postal code of the `Address`.
          example: '00000'
        delivery_phone_number:
          type: string
          description: Delivery phone number
          example: '+441234567890'
        default_shipping:
          type: boolean
          description: True if the `Address` is the default shipping address.
          example: false
        type:
          type: string
          description: The type of the `Address`.
          example: SHIPPING
        category:
          $ref: '#/components/schemas/AddressCategory'
        user_id:
          type: string
          description: The `User` ID, only if category of the `Address` is `USER`.
        creation_time:
          type: string
          description: The date and time when the `Address` was created.
          example: '2017-06-01T12:48:40Z'
        last_update:
          type: string
          description: The date and time when the `Address` was last updated.
          example: '2017-06-01T12:48:40Z'
      description: The default shipping `Address` of the `User`.
      example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
    MileageReimbursementDetailsUpdateRequest:
      required:
      - description
      - distance
      - round_trip
      type: object
      properties:
        vehicle_id:
          type: string
          description: The ID of the `Vehicle` used, if registered.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        reimbursement_rate:
          type: number
          description: The rate to apply to the covered distance (measured in km) for the reimbursement, assuming the main `Wallet` currency. Required if `vehicle_id` is missing or if no reimbursement rate is set for the related `Vehicle`. Overridden if `vehicle_id` is set and a reimbursement rate is set for the related `Vehicle`.
          example: 0.45
        description:
          type: string
          description: The description for the trip.
          example: 'Business trip: Rome - Florence - Turin - Milan'
        starting_point:
          type: string
          description: The place where the travel started.
          example: Rome, Metropolitan City of Rome Capital, Italy
        arrival_point:
          type: string
          description: The point where the travel ended.
          example: Milan, Metropolitan City of Milan, Italy
        multi_stops:
          type: array
          description: The intermediate stops during the travel.
          example:
          - Florence, Metropolitan City of Florence, Italy
          - Turin, Metropolitan City of Turin, Italy
          items:
            type: string
            description: The intermediate stops during the travel.
            example: '["Florence, Metropolitan City of Florence, Italy","Turin, Metropolitan City of Turin, Italy"]'
        distance:
          type: number
          description: The travelled distance from the starting point to the arrival point (measured in km).
          example: 875.4
        round_trip:
          type: boolean
          description: Whether the distance has been travelled twice due to a round trip.
          example: true
      description: The details of the `MileageReimbursement`.
    WiretransferEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Transaction'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    TransactionTimelineItem:
      type: object
      properties:
        created_at:
          type: string
          description: The instant the change happened to the `Transaction` and related `Wallet`.
          example: '2017-06-01T12:48:40Z'
        status:
          $ref: '#/components/schemas/TransactionTimelineStatus'
        amount:
          type: number
          description: The amount related to the change in the currency of the `Wallet`.
          example: 10.25
        balance_after:
          $ref: '#/components/schemas/TransactionTimelineBalance'
        balance_before:
          $ref: '#/components/schemas/TransactionTimelineBalance'
        is_fee:
          type: boolean
          description: Indicate whether the change is a fee.
          example: true
      description: The timeline of changes affecting the `Transaction` and the related `Wallet`. For each occurrence, the `Wallet` balance is reported before and after the change.
    ExpenseStatus:
      type: string
      description: 'The status of approval of the expense (sortable: no).'
      example: APPROVED
      enum:
      - APPROVED
      - PARTIALLY_APPROVED
      - DENIED
      - TO_REVIEW
    InboundPaymentEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Transaction'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    TransactionAmount:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the `Transaction` line.
          example: 10.25
        currency:
          $ref: '#/components/schemas/ISO4217Currency'
      description: The `TransactionList`'s line amount rejected in policy.
    ExpenseCategory:
      type: object
      properties:
        id:
          type: string
          description: The `ExpenseCategory` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        code:
          type: string
          description: The code of the `ExpenseCategory`.
          example: '123'
        name:
          type: string
          description: The name of the `ExpenseCategory`.
          example: category-one
        description:
          type: string
          description: A custom description of the `ExpenseCategory`.
          example: An expense category
        tax_rate_id:
          type: string
          description: The ID of the VAT rate linked to the `ExpenseCategory`.
          example: c861cc24-6663-410f-8c78-73f886fff4ef
        enabled:
          type: boolean
          description: The `ExpenseCategory` is visible in the transaction detail.
          example: false
        merchant_categories:
          uniqueItems: true
          type: array
          description: A list of merchant categories this `ExpenseCategory`.
          items:
            $ref: '#/components/schemas/MerchantCategory'
        expense_type:
          type: string
          description: The type of expense assigned to category.
          example: TRAVEL_AND_ENTERTAINMENT
        integration:
          type: string
          description: The `ExpenseCategory`'s correlated integration.
          example: Netsuite
        creation_time:
          type: string
          description: 'The date and time when the `ExpenseCategory` was created (sortable: no).'
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: 'The date and time when the `ExpenseCategory` was last updated (sortable: no).'
          example: '2017-06-01T12:48:40Z'
      description: The `ExpenseCategory` object.
    AddressCategory:
      type: string
      description: The category of the `Address`.
      example: COMPANY
      enum:
      - USER
      - COMPANY
    VatRate:
      type: object
      properties:
        id:
          type: string
          description: The `VATRate` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        code:
          type: string
          description: The code of the `VATRate`.
          example: code-vat-11
        name:
          type: string
          description: The name of the `VATRate`
          example: Tax 11
        description:
          type: string
          description: A custom description of the `VATRate`.
          example: Number 11 of Tax code
        percentage:
          type: number
          description: The percentage value of the `VATRate`
          format: double
          example: 15
        enabled:
          type: boolean
          description: The `VATRate` is visible in the transaction detail.
          example: true
        integration:
          type: string
          description: The `VATRate`'s corresponding integration.
          example: something
        creation_time:
          type: string
          description: 'The date and time when the `VATRate` was created (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: 'The date and time when the `VATRate` was last updated (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
      description: The `VATRate` object.
    ScheduledTransferEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Transaction'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    TransactionOwnerType:
      type: string
      description: 'The owner type (`company`, `employee`) (sortable: no).'
      example: company
      enum:
      - employee
      - company
    UnloadMoneyEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Transaction'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    OutOfPlatformTransaction:
      type: object
      properties:
        transaction_id:
          type: string
          description: The ID of the Out-Of-Platform `Transaction`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        date:
          type: string
          description: The date and time of the `Transaction`.
          example: '2017-06-01T12:48:40Z'
        owner_id:
          type: string
          description: 'The ID of the `User` who made the `Transaction` (updatable: no).'
          example: XMPL1234-000002
        merchant_name:
          type: string
          description: The name of the `Merchant` for the `Transaction`.
          example: SHH HOTEL LONDON
        tx_amount:
          type: number
          description: The amount of the `Transaction`, in the currency of the `Merchant`.
          example: 10.25
        tx_amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        amount:
          type: number
          description: The amount of the `Transaction`, in the currency of the main `Wallet`.
          example: 10.25
        amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        exchange_rate:
          type: number
          description: The exchange rate used to convert the `tx_amount` from the currency of the `Merchant` to the currency of the main `Wallet`.
          example: 1
        payment_method:
          $ref: '#/components/schemas/OutOfPlatformTransactionPaymentMethod'
    ExportStatus:
      type: string
      description: The export status of the expense.
      example: EXPORTED
      enum:
      - EXPORTED
      - NOT_EXPORTED
    InternalTransferEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Transaction'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    Source:
      type: object
      properties:
        name:
          type: string
          description: The source name.
          example: J. Doe
        type:
          $ref: '#/components/schemas/LoadSource'
        destination_wallet_id:
          type: string
          description: ' The receiving wallet in the transaction, to which funds are being transferred.'
          example: de29bffb-7da2-40f1-934a-241170762d3e
        destination_wallet_name:
          type: string
          description: ' The receiving wallet name in the transaction, to which funds are being transferred.'
          example: EURO VIBAN
      description: Info about the origin of the `Transaction` (this applies for `InboundFasterPayment`, `InboundFasterPaymentReversal`, `Load`, `LoadReversal` and `Wiretransfer`).
    TransactionDeletedEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Transaction'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    TransactionItem:
      type: object
      properties:
        id:
          type: string
          description: 'The `Transaction` ID (sortable: yes).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        wallet_id:
          type: string
          description: 'The ID of the `Wallet` from where the `Transaction` has been authorised (sortable: no).'
          example: 6853e657-c797-4985-8d6b-5425d4e51df8
        wallet_name:
          type: string
          description: 'The name of the `Wallet` from where the `Transaction` has been authorised (sortable: no).'
          example: John Doe
        status:
          $ref: '#/components/schemas/TransactionStatus'
        category:
          $ref: '#/components/schemas/TransactionCategory'
        transaction_sign:
          $ref: '#/components/schemas/TransactionSign'
        purchase_id:
          type: string
          description: 'The `Purchase` ID (sortable: no).'
          example: 6853e657-c797-4985-8d6b-5425d4e51df8
        amount:
          type: number
          description: 'The amount of the `Transaction` in the currency of the `Wallet` (sortable: no).'
          example: 10.25
        amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        tx_amount:
          type: number
          description: 'The amount of the `Transaction` in the currency of the `Merchant` (sortable: no).'
          example: 10.25
        tx_amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        fee_amount:
          type: number
          description: 'The amount of the `Transaction` fee in the currency of the `Wallet` (sortable: no).'
          example: 10.25
        fee_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        exchange_rate:
          type: number
          description: 'The exchange rate applied at the `Settled` status (sortable: no).'
          example: 1
        auth_exchange_rate:
          type: number
          description: 'The exchange rate applied at the `Authorised` status (sortable: no).'
          example: 1
        expense_status:
          $ref: '#/components/schemas/ExpenseStatus'
        expense_type:
          $ref: '#/components/schemas/ExpenseType'
        expense_date:
          type: string
          description: 'The date and time of the last review of the expense (sortable: no).'
          example: '2017-06-01T12:48:40Z'
        expense_reviewer:
          type: string
          description: 'The ID of the `User` who reviewed the expense (sortable: no).'
          example: XMPL1234-000001
        expense_approved_amount:
          type: number
          description: 'The expense amount that a reviewer has approved (sortable: no).'
          example: 10.25
        expense_report_id:
          type: string
          description: 'The ID of the `ExpenseReport` the `Transaction` is included into (sortable: no).'
          example: c861cc24-6663-410f-8c78-73f886fff4ef
        date:
          type: string
          description: 'The date and time of the `Transaction` at the `Authorised` status (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        settlement_date:
          type: string
          description: 'The date and time of the `Transaction` at the `Settled` status (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        update_time:
          type: string
          description: 'The date and time of the last update to the `Transaction` (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        merchant:
          $ref: '#/components/schemas/TransactionMerchant'
        merchant_category:
          $ref: '#/components/schemas/TransactionMerchantCategory'
        tags:
          type: array
          description: The list of the `Tags` of the `Transaction`.
          items:
            $ref: '#/components/schemas/TransactionTag'
        card_id:
          type: string
          description: 'The ID of the `Card` used for the `Transaction` (sortable: no).'
          example: 6853e657-c797-4985-8d6b-5425d4e51df8
        masked_pan:
          type: string
          description: 'The masked PAN of the `Card` used for the `Transaction` (sortable: yes).'
          example: 123456******1234
        owner_name:
          type: string
          description: 'The name of the cardholder who made the transaction (only available when `owner_type` is `employee`) (sortable: no).'
          example: John
        owner_surname:
          type: string
          description: 'The surname of the cardholder who made the transaction (only available when `owner_type` is `employee`) (sortable: no).'
          example: Smith
        owner_type:
          $ref: '#/components/schemas/TransactionOwnerType'
        owner_id:
          type: string
          description: 'The ID of the Cardholder who made the `Transaction` (only available when `owner_type` is `employee`) (sortable: no).'
          example: XMPL1234-000003
        custom_reference_id:
          type: string
          description: 'The custom reference ID of the Cardholder who made the `Transaction` (only available when `owner_type` is `employee`) (sortable: no).'
          example: 123456-user-1
        group_id:
          type: string
          description: 'The ID of the `Group` the `Transaction` belongs to (sortable: no). '
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        has_attachments:
          type: boolean
          description: 'It determines whether the transaction has one or more `TransactionAttachments` (sortable: no).'
          example: false
        trx_owner_id:
          type: string
          description: 'For User `Card` transactions, when `owner_type` is `employee`, is the cardholder ID, for Company `Card`, when `owner_type` is `company`, is empty or one of the `Card` assignees (sortable: no).'
          example: XMPL1234-000003
        metadata_ids:
          type: array
          description: 'A list of IDs related to custom generated `Metadata` of the `Transaction` (sortable: no).'
          example:
          - express
          items:
            type: string
            description: 'A list of IDs related to custom generated `Metadata` of the `Transaction` (sortable: no).'
            example: '["express"]'
        fuel_details:
          $ref: '#/components/schemas/TransactionFuelDetails'
        vat_percentage:
          type: number
[...]
