openapi: 3.2.0
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Addresses API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Addresses
paths:
  /business/v2/addresses:
    get:
      tags:
      - Addresses
      summary: Search Addresses
      description: Endpoint to search `Addresses`.
      operationId: address-search
      parameters:
      - name: userId
        in: query
        description: The `User` ID.
        schema:
          type: string
          description: The `User` ID.
          example: XMPL1234-000001
        example: XMPL1234-000001
      - name: category
        in: query
        description: The `User` CATEGORY.
        schema:
          $ref: '#/components/schemas/AddressCategory'
        example: COMPANY
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The result is an array containing `Addresses`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addresses'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - address_read
    post:
      tags:
      - Addresses
      summary: Add Address
      description: Endpoint to create an `Address`.
      operationId: address-add
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddress'
      responses:
        '200':
          description: The returned resource is the single `Address` created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - address_write
      x-soldo:
        fingerprint-order: recipient, name, line1, line2, country, county, city, post_code, delivery_phone_number, default_shipping, cards_to_link, cards_to_unlink, user_id, token
  /business/v2/addresses/{addressId}:
    get:
      tags:
      - Addresses
      summary: Get Address
      description: Endpoint to get an `Address` by ID.
      operationId: address-get
      parameters:
      - name: addressId
        in: path
        required: true
        schema:
          type: string
          description: The `Address` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The returned resource is a single `Address`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - address_read
    put:
      tags:
      - Addresses
      summary: Update Address
      description: Endpoint to update an `Address` by ID.
      operationId: address-update
      parameters:
      - name: addressId
        in: path
        required: true
        schema:
          type: string
          description: The `Address` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddress'
      responses:
        '200':
          description: The returned resource is a single `Address`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - address_write
      x-soldo:
        fingerprint-order: addressId, recipient, name,line1, line2, country, county, city, post_code, delivery_phone_number, default_shipping, cards_to_link, cards_to_unlink, token
    delete:
      tags:
      - Addresses
      summary: Delete Address
      description: Endpoint to remove an `Address`.
      operationId: address-delete
      parameters:
      - name: addressId
        in: path
        required: true
        schema:
          type: string
          description: The `Address` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - address_write
components:
  schemas:
    CreateAddress:
      required:
      - city
      - country
      - line1
      - name
      - post_code
      type: object
      properties:
        recipient:
          type: string
          description: The recipient of the addressee.
          example: JohnSmith
        name:
          type: string
          description: The actual name of the `Address`.
          example: Actual address of John
        line1:
          type: string
          description: The primary street of the `Address`.
          example: Foo street 33
        line2:
          type: string
          description: The optional secondary street.
          example: Second floor
        country:
          $ref: '#/components/schemas/ISO3166Country'
        county:
          type: string
          description: The county code.
          example: '00000'
        city:
          type: string
          description: The city name.
          example: London
        post_code:
          type: string
          description: The post code of the city.
          example: '00000'
        delivery_phone_number:
          type: string
          description: The delivery phone including the country code.
          example: '+44123323232'
        default_shipping:
          type: boolean
          description: It is `true` if it's the default shipping address.
          example: true
        user_id:
          type: string
          description: The ID of the `User` owner of the `Address`, required only when `resource_type` is `USER`.
          example: XMPL1234-000003
        cards_to_link:
          type: array
          items:
            type: string
            description: The list of the `Card` ID to link to the address
            example: '["7bf79328-a7ae-4222-aa54-091ff7f429a7","2d65bd5e-3fdf-4002-b166-bde7fb8863fa"]'
      description: Create `Address` JSON parameters.
    Address:
      type: object
      properties:
        id:
          type: string
          description: The `Address` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        recipient:
          type: string
          description: The recipient of the `Address`
          example: JohnSmith
        name:
          type: string
          description: The actual name of the `Address`.
          example: Foo Street 75
        line1:
          type: string
          description: The `Address` street.
          example: Bar Street 64
        line2:
          type: string
          description: An optional other street.
          example: Other street 31
        country:
          type: string
          description: The country of the `Address`.
          example: GB
        county:
          type: string
          description: The county of the `Address`.
          example: LD
        city:
          type: string
          description: The city of the `Address`.
          example: London
        post_code:
          type: string
          description: The postal code of the `Address`.
          example: '00000'
        delivery_phone_number:
          type: string
          description: Delivery phone number
          example: '+441234567890'
        default_shipping:
          type: boolean
          description: True if the `Address` is the default shipping address.
          example: false
        type:
          type: string
          description: The type of the `Address`.
          example: SHIPPING
        category:
          $ref: '#/components/schemas/AddressCategory'
        user_id:
          type: string
          description: The `User` ID, only if category of the `Address` is `USER`.
        creation_time:
          type: string
          description: The date and time when the `Address` was created.
          example: '2017-06-01T12:48:40Z'
        last_update:
          type: string
          description: The date and time when the `Address` was last updated.
          example: '2017-06-01T12:48:40Z'
      description: The default shipping `Address` of the `User`.
      example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
    Addresses:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        pages:
          type: integer
          description: It represents the total number of available pages.
          format: int32
          example: 7
        page_size:
          type: integer
          description: It represents the number of items per page.
          format: int32
          example: 25
        current_page:
          type: integer
          description: It indicates the current page (the counter starts from zero).
          format: int32
          example: 0
        results_size:
          type: integer
          description: It indicates the size of the array results.
          format: int32
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/Address'
    AddressCategory:
      type: string
      description: The category of the `Address`.
      example: COMPANY
      enum:
      - USER
      - COMPANY
    UpdateAddress:
      required:
      - country
      type: object
      properties:
        recipient:
          type: string
          description: The recipient of the addressee.
          example: JohnSmith
        name:
          type: string
          description: The actual name of the `Address`.
          example: Actual address of John
        line1:
          type: string
          description: The primary street of the `Address`.
          example: Foo street 33
        line2:
          type: string
          description: The optional secondary street.
          example: Second floor
        country:
          $ref: '#/components/schemas/ISO3166Country'
        county:
          type: string
          description: The county code.
          example: '00000'
        city:
          type: string
          description: The city name.
          example: London
        post_code:
          type: string
          description: The post code of the city.
          example: '00000'
        delivery_phone_number:
          type: string
          description: The delivery phone including the country code.
          example: '+44123323232'
        default_shipping:
          type: boolean
          description: It is `true` if it's the default shipping address. You cannot set this as 'false', but you can elect a new one that will replace it as default.
          example: true
          enum:
          - true
        cards_to_link:
          type: array
          items:
            type: string
            description: The list of the `Card` ID to link to the address
            example: '["7bf79328-a7ae-4222-aa54-091ff7f429a7","2d65bd5e-3fdf-4002-b166-bde7fb8863fa"]'
      description: Update `Address` JSON parameters.
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      example: DESC
      enum:
      - ASC
      - DESC
    ISO3166Country:
      type: string
      description: The [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) code of the country where the `Transaction` has been authorised.
      example: GBR
      enum:
      - ASC
      - AND
      - ARE
      - AFG
      - ATG
      - AIA
      - ALB
      - ARM
      - ANT
      - AGO
      - ATA
      - ARG
      - ASM
      - AUT
      - AUS
      - ABW
      - ALA
      - AZE
      - BIH
      - BRB
      - BGD
      - BEL
      - BFA
      - BGR
      - BHR
      - BDI
      - BEN
      - BLM
      - BMU
      - BRN
      - BOL
      - BES
      - BRA
      - BHS
      - BTN
      - BUR
      - BVT
      - BWA
      - BLR
      - BLZ
      - CAN
      - CCK
      - COD
      - CAF
      - COG
      - CHE
      - CIV
      - COK
      - CHL
      - CMR
      - CHN
      - COL
      - CPT
      - CRI
      - CSXX
      - CUB
      - CPV
      - CUW
      - CXR
      - CYP
      - CZE
      - DEU
      - DGA
      - DJI
      - DNK
      - DMA
      - DOM
      - DZA
      - ECU
      - EST
      - EGY
      - ESH
      - ERI
      - ESP
      - ETH
      - FIN
      - FJI
      - FLK
      - FSM
      - FRO
      - FRA
      - FXX
      - GAB
      - GBR
      - GRD
      - GEO
      - GUF
      - GGY
      - GHA
      - GIB
      - GRL
      - GMB
      - GIN
      - GLP
      - GNQ
      - GRC
      - SGS
      - GTM
      - GUM
      - GNB
      - GUY
      - HKG
      - HMD
      - HND
      - HRV
      - HTI
      - HUN
      - IDN
      - IRL
      - ISR
      - IMN
      - IND
      - IOT
      - IRQ
      - IRN
      - ISL
      - ITA
      - JEY
      - JAM
      - JOR
      - JPN
      - KEN
      - KGZ
      - KHM
      - KIR
      - COM
      - KNA
      - PRK
      - KOR
      - KWT
      - CYM
      - KAZ
      - LAO
      - LBN
      - LCA
      - LIE
      - LKA
      - LBR
      - LSO
      - LTU
      - LUX
      - LVA
      - LBY
      - MAR
      - MCO
      - MDA
      - MNE
      - MAF
      - MDG
      - MHL
      - MKD
      - MLI
      - MMR
      - MNG
      - MAC
      - MNP
      - MTQ
      - MRT
      - MSR
      - MLT
      - MUS
      - MDV
      - MWI
      - MEX
      - MYS
      - MOZ
      - NAM
      - NCL
      - NER
      - NFK
      - NGA
      - NIC
      - NLD
      - NOR
      - NPL
      - NRU
      - NTZ
      - NIU
      - NZL
      - OMN
      - PAN
      - PER
      - PYF
      - PNG
      - PHL
      - PAK
      - POL
      - SPM
      - PCN
      - PRI
      - PSE
      - PRT
      - PLW
      - PRY
      - QAT
      - REU
      - ROU
      - ROM
      - SRB
      - RUS
      - RWA
      - SAU
      - SLB
      - SYC
      - SDN
      - SWE
      - SGP
      - SHN
      - SVN
      - SJM
      - SVK
      - SLE
      - SMR
      - SEN
      - SOM
      - SUR
      - SSD
      - STP
      - SUN
      - SLV
      - SXM
      - SYR
      - SWZ
      - TAA
      - TCA
      - TCD
      - ATF
      - TGO
      - THA
      - TJK
      - TKL
      - TLS
      - TKM
      - TUN
      - TON
      - TUR
      - TTO
      - TUV
      - TWN
      - TZA
      - UKR
      - UGA
      - UMI
      - USA
      - URY
      - UZB
      - VAT
      - VCT
      - VEN
      - VGB
      - VIR
      - VNM
      - VUT
      - WLF
      - WSM
      - XKX
      - XXK
      - QZZ
      - YEM
      - MYT
      - YUCS
      - ZAF
      - ZMB
      - ZRCD
      - ZWE
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: true
