openapi: 3.2.0
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Expense Categories API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Expense Categories
paths:
  /business/v2/entities/expense-category:
    post:
      tags:
      - Expense Categories
      summary: Add Expense Category
      description: Endpoint to add a new `ExpenseCategory`.
      operationId: expense-category-add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExpenseCategory'
      responses:
        '200':
          description: The result is an `ExpenseCategory`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategory'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - expense_category_write
  /business/v2/entities/expense-category/{expenseCategoryId}:
    get:
      tags:
      - Expense Categories
      summary: Get Expense Category
      description: Endpoint to get a specific `ExpenseCategory` by ID.
      operationId: expense-category-get
      parameters:
      - name: expenseCategoryId
        in: path
        required: true
        schema:
          type: string
          description: The `ExpenseCategory` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The result is a single `ExpenseCategory`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategory'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - expense_category_read
    put:
      tags:
      - Expense Categories
      summary: Update Expense Category
      description: Endpoint to update a specific `ExpenseCategory`.
      operationId: expense-category-update
      parameters:
      - name: expenseCategoryId
        in: path
        required: true
        schema:
          type: string
          description: The `ExpenseCategory` ID.
          example: 6853e657-c797-4985-8d6b-5425d4e51df8
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpenseCategory'
      responses:
        '200':
          description: The returned resource is a single `ExpenseCategory`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategory'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - expense_category_write
    delete:
      tags:
      - Expense Categories
      summary: Delete Expense Category
      description: Endpoint to delete a specific `ExpenseCategory`.
      operationId: expense-category-delete
      parameters:
      - name: expenseCategoryId
        in: path
        required: true
        schema:
          type: string
          description: The `ExpenseCategory` ID.
          example: 6853e657-c797-4985-8d6b-5425d4e51df8
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - expense_category_write
components:
  schemas:
    CreateExpenseCategory:
      required:
      - expense_type
      - name
      type: object
      properties:
        code:
          type: string
          description: The code of the `ExpenseCategory`.
          example: '123'
        name:
          type: string
          description: The name of the `ExpenseCategory`.
          example: category-one
        description:
          type: string
          description: The description of the `ExpenseCategory`.
          example: An expense category
        tax_rate_id:
          type: string
          description: The ID of the VAT Rate linked to the `ExpenseCategory`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        enabled:
          type: boolean
          description: it determines whether the `ExpenseCategory` is visible on the transaction detail.
          example: true
        merchant_categories:
          type: array
          description: A list of merchant categories this `ExpenseCategory` is auto-assigned to.
          items:
            $ref: '#/components/schemas/MerchantCategory'
        expense_type:
          $ref: '#/components/schemas/ExpenseType'
      description: Add `ExpenseCategory` JSON parameters.
    ExpenseType:
      type: string
      description: The type of the expense of the `SplitTransaction` line.
      example: TRAVEL_AND_ENTERTAINMENT
      enum:
      - COMPANY
      - PERSONAL
      - TRAVEL_AND_ENTERTAINMENT
    UpdateExpenseCategory:
      type: object
      properties:
        code:
          type: string
          description: The code of the `ExpenseCategory`.
          example: '123'
        name:
          type: string
          description: The name of the `ExpenseCategory`.
          example: category-one
        description:
          type: string
          description: The description of the `ExpenseCategory`.
          example: An expense category
        tax_rate_id:
          type: string
          description: The ID of the VAT Rate linked to the `ExpenseCategory`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        enabled:
          type: boolean
          description: (true/false)it determines whether the `ExpenseCategory` is visible on the transaction detail.
          example: true
        merchant_categories:
          type: array
          description: A list of merchant categories this `ExpenseCategory` is auto-assigned to.
          items:
            $ref: '#/components/schemas/MerchantCategory'
        expense_type:
          $ref: '#/components/schemas/ExpenseType'
      description: Update `ExpenseCategory` Request JSON parameters.
    MerchantCategory:
      type: string
      description: A list of merchant categories this `ExpenseCategory`.
      enum:
      - Advertising
      - Entertainment
      - Utilities
      - Food_Cocktail_Bar
      - Food_Restaurant
      - Food_Store
      - Food_Wine
      - Services_Business
      - Services_Cleaning
      - Services_Contracted
      - Services_Delivery
      - Services_Educational
      - Services_Financial
      - Services_Gambling
      - Services_Government
      - Services_Health
      - Services_Insurance
      - Services_Legal
      - Services_Museum
      - Services_Organisation
      - Services_Personal
      - Services_Repair
      - Services_Social
      - Services_Stationery
      - Services_Telecommunication
      - Services_Veterinary
      - Services_Warehouse
      - Services_Wholesale
      - Shopping_Accessories
      - Shopping_Airline
      - Shopping_Art
      - Shopping_Automotive
      - Shopping_Beauty
      - Shopping_Books
      - Shopping_Clothes
      - Shopping_Digital_Goods
      - Shopping_Direct_Marketing
      - Shopping_Furnitures
      - Shopping_Sport
      - Shopping_Store
      - Shopping_Technology
      - Transport_Airports
      - Transport_Charging_Station
      - Transport_Parking
      - Transport_Public_Transportation
      - Transport_Road
      - Transport_Service_Station
      - Transport_Ships
      - Transport_Taxi
      - Transport_Toll_Roads
      - Transport_Trains
      - Travel_Airlines
      - Travel_Agency
      - Travel_Car_Rental
      - Travel_Hotels
      - Travel_Time_Shares
    ExpenseCategory:
      type: object
      properties:
        id:
          type: string
          description: The `ExpenseCategory` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        code:
          type: string
          description: The code of the `ExpenseCategory`.
          example: '123'
        name:
          type: string
          description: The name of the `ExpenseCategory`.
          example: category-one
        description:
          type: string
          description: A custom description of the `ExpenseCategory`.
          example: An expense category
        tax_rate_id:
          type: string
          description: The ID of the VAT rate linked to the `ExpenseCategory`.
          example: c861cc24-6663-410f-8c78-73f886fff4ef
        enabled:
          type: boolean
          description: The `ExpenseCategory` is visible in the transaction detail.
          example: false
        merchant_categories:
          uniqueItems: true
          type: array
          description: A list of merchant categories this `ExpenseCategory`.
          items:
            $ref: '#/components/schemas/MerchantCategory'
        expense_type:
          type: string
          description: The type of expense assigned to category.
          example: TRAVEL_AND_ENTERTAINMENT
        integration:
          type: string
          description: The `ExpenseCategory`'s correlated integration.
          example: Netsuite
        creation_time:
          type: string
          description: 'The date and time when the `ExpenseCategory` was created (sortable: no).'
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: 'The date and time when the `ExpenseCategory` was last updated (sortable: no).'
          example: '2017-06-01T12:48:40Z'
      description: The `ExpenseCategory` object.
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: true
