openapi: 3.2.0
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 VAT Rates API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: VAT Rates
paths:
  /business/v2/entities/tax-rate:
    get:
      tags:
      - VAT Rates
      summary: Search VAT Rates
      description: Endpoint to find `VatRate` using filtering parameters.
      operationId: vat-rate-search
      parameters:
      - name: text
        in: query
        description: A simple text to search in the Vat rate data (name, code).
        schema:
          type: string
          description: A simple text to search in the Vat rate data (name, code).
          example: something
        example: something
      - name: enabled
        in: query
        description: It determines if Vat rate is enabled.
        schema:
          type: boolean
          description: It determines if Vat rate is enabled.
          example: true
        example: true
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The result is an array containing `VATRates`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatRates'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - tax_rate_read
    post:
      tags:
      - VAT Rates
      summary: Add VAT Rate
      description: Endpoint to add a new `VatRate`.
      operationId: vat-rate-add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVatRate'
      responses:
        '200':
          description: The result is an `VatRate`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatRate'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - tax_rate_write
  /business/v2/entities/tax-rate/{taxRateId}:
    get:
      tags:
      - VAT Rates
      summary: Get VAT Rate
      description: Endpoint to retrieve a specific `VatRate` by ID.
      operationId: vat-rate-get
      parameters:
      - name: taxRateId
        in: path
        required: true
        schema:
          type: string
          description: The `VatRate` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The returned resource is a single `VatRate`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatRate'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - tax_rate_read
    put:
      tags:
      - VAT Rates
      summary: Update VAT Rate
      description: Endpoint to update `VATRate`.
      operationId: vat-rate-update
      parameters:
      - name: taxRateId
        in: path
        required: true
        schema:
          type: string
          description: The `VatRate` ID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVatRate'
      responses:
        '200':
          description: The returned resource is a single `VatRate`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatRate'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - tax_rate_write
    delete:
      tags:
      - VAT Rates
      summary: Delete VAT Rate
      description: Endpoint to delete a `VatRate`.
      operationId: vat-rate-delete
      parameters:
      - name: taxRateId
        in: path
        required: true
        schema:
          type: string
          description: The `VatRate` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '204':
          description: No content as result.
      security:
      - standardAuth:
        - tax_rate_write
components:
  schemas:
    CreateVatRate:
      required:
      - name
      - percentage
      type: object
      properties:
        code:
          type: string
          description: The code of the VATRate.
          example: code-vat-11
        name:
          type: string
          description: The name of the VATRate.
          example: Tax 11
        description:
          type: string
          description: the description of the VATRate.
          example: Number 11 of Tax code
        percentage:
          type: number
          description: The percentage value of the VATRate.
          format: double
        enabled:
          type: boolean
          description: the VATRate is visible in the transaction detail.
          example: true
      description: Add `VatRate` JSON parameters.
    VatRates:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        pages:
          type: integer
          description: It represents the total number of available pages.
          format: int32
          example: 7
        page_size:
          type: integer
          description: It represents the number of items per page.
          format: int32
          example: 25
        current_page:
          type: integer
          description: It indicates the current page (the counter starts from zero).
          format: int32
          example: 0
        results_size:
          type: integer
          description: It indicates the size of the array results.
          format: int32
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/VatRate'
    UpdateVatRate:
      required:
      - percentage
      type: object
      properties:
        code:
          type: string
          description: The code of the `VATRate`.
          example: code-vat-11
        name:
          type: string
          description: The name of the `VATRate`.
          example: Tax 11
        description:
          type: string
          description: the description of the `VATRate`.
          example: something
        percentage:
          type: number
          description: The percentage value of the `VATRate`.
          format: double
          example: 15
        enabled:
          type: boolean
          description: The `VATRate` is visible in the transaction detail.
          example: true
      description: Update `VatRate` JSON parameters.
    VatRate:
      type: object
      properties:
        id:
          type: string
          description: The `VATRate` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        code:
          type: string
          description: The code of the `VATRate`.
          example: code-vat-11
        name:
          type: string
          description: The name of the `VATRate`
          example: Tax 11
        description:
          type: string
          description: A custom description of the `VATRate`.
          example: Number 11 of Tax code
        percentage:
          type: number
          description: The percentage value of the `VATRate`
          format: double
          example: 15
        enabled:
          type: boolean
          description: The `VATRate` is visible in the transaction detail.
          example: true
        integration:
          type: string
          description: The `VATRate`'s corresponding integration.
          example: something
        creation_time:
          type: string
          description: 'The date and time when the `VATRate` was created (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: 'The date and time when the `VATRate` was last updated (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
      description: The `VATRate` object.
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      example: DESC
      enum:
      - ASC
      - DESC
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: true
