openapi: 3.2.0
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Statements API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Statements
paths:
  /business/v2/statements/download:
    post:
      tags:
      - Statements
      summary: Download Statement
      description: Endpoint to retrieve the presigned url to download a `Statement`.
      operationId: statement-download
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadStatement'
      responses:
        '200':
          description: The returned resource is a `Statement` presigned url.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementDownloadUrl'
        '400':
          description: Your request has missing arguments or is malformed.
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - statement_read
  /business/v2/statements:
    get:
      tags:
      - Statements
      summary: Search Statements
      description: Endpoint to find `Statements` available for download using filtering parameters.
      operationId: statement-search
      parameters:
      - name: year
        in: query
        description: The year to search for `Statements`.
        required: true
        schema:
          type: array
          description: The year to search for `Statements`.
          items:
            type: integer
            description: The year to search for `Statements`.
            format: int32
        example: 2025
      - name: currency
        in: query
        description: The [ISO 4217](https://www.six-group.com/en/products-services/financial-information/data-standards.html#scrollTo=maintenance-agency) code of the currency of the `Statement` to search for.
        required: true
        schema:
          $ref: '#/components/schemas/ISO4217SupportedCurrency'
        example: EUR
      responses:
        '200':
          description: The result array contains `Statements` available for download.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statements'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - statement_read
components:
  schemas:
    Statement:
      type: object
      properties:
        year:
          type: integer
          description: The reference year for `Statement`.
          format: int32
          example: 2025
        month:
          $ref: '#/components/schemas/Month'
        currency:
          $ref: '#/components/schemas/ISO4217SupportedCurrency'
        file_types:
          type: array
          description: The generated `Statement` file types.
          items:
            $ref: '#/components/schemas/StatementFileType'
    StatementDownloadUrl:
      type: object
      properties:
        presigned_url:
          type: string
          description: The presigned url where to download the `Statement`.
          format: uri
          example: https://my-demo-bucket.s3.amazonaws.com/example.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOSFODNN7EXAMPLE%2F20250416%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250416T083000Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890
    Statements:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        results:
          type: array
          items:
            $ref: '#/components/schemas/Statement'
    Month:
      type: string
      description: The reference month for `Statement`.
      example: JANUARY
      enum:
      - JANUARY
      - FEBRUARY
      - MARCH
      - APRIL
      - MAY
      - JUNE
      - JULY
      - AUGUST
      - SEPTEMBER
      - OCTOBER
      - NOVEMBER
      - DECEMBER
    ISO4217SupportedCurrency:
      type: string
      description: The [ISO 4217](https://www.six-group.com/en/products-services/financial-information/data-standards.html#scrollTo=maintenance-agency) code of the currency of the `Statement` to search for.
      example: EUR
      enum:
      - EUR
      - GBP
      - USD
    DownloadStatement:
      required:
      - currency
      - file_type
      - month
      - year
      type: object
      properties:
        year:
          maximum: 2099
          minimum: 2015
          type: integer
          format: int32
          example: 2025
        month:
          $ref: '#/components/schemas/Month'
        file_type:
          $ref: '#/components/schemas/StatementFileType'
        currency:
          $ref: '#/components/schemas/ISO4217SupportedCurrency'
      description: Download `statement` JSON parameters.
    StatementFileType:
      type: string
      description: The generated `Statement` file types.
      enum:
      - PDF
      - XLSX
      - CSV
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: true
