openapi: 3.2.0
info:
  title: Soldo Business API v2.0 - OpenAPI 3.0 Permissions API
  description: Soldo Business API v2.0 OpenAPI 3.0 specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Permissions
paths:
  /business/v2/roles:
    get:
      tags:
      - Permissions
      summary: Get Roles
      description: Endpoint to retrieve all `User` `Roles`.
      operationId: roles-list
      responses:
        '200':
          description: The result is an array of `UserRoles`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRoles'
      security:
      - standardAuth:
        - role_read
components:
  schemas:
    Role:
      type: object
      properties:
        id:
          type: string
          description: The ID of the `Role`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        name:
          type: string
          description: The name of the `Role`.
          example: superAdmin
        description:
          type: string
          description: The description of the `Role`.
          example: The SuperAdmin role
        category:
          type: string
          description: The category of the `Role`.
          example: The SuperAdmin role
        scopes:
          type: array
          description: The scopes of the `Role`.
          example:
          - ALL
          items:
            type: string
            description: The scopes of the `Role`.
            example: '["ALL"]'
    UserRoles:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        results:
          type: array
          items:
            $ref: '#/components/schemas/Role'
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: true
