openapi: 3.2.0
info:
  title: Soldo Software And Services Expense Review Configuration API
  version: 5.56.0
  description: 'Operations tagged Expense Review Configuration across 2 of this provider''s published API definitions: soldo-software-and-services-business-api-openapi.json, soldo-software-and-services-expense-review-configuration-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Expense Review Configuration
paths:
  /business/v2/expense-review/configuration:
    get:
      tags:
      - Expense Review Configuration
      summary: Get Expense Review Configuration
      description: Endpoint to get `ExpenseReview` configuration
      operationId: expense-review-configuration-get
      responses:
        '200':
          description: The result is the configuration of `ExpenseReview` resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseReviewConfiguration'
        '400':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - expense_review_read
    put:
      tags:
      - Expense Review Configuration
      summary: Update Expense Review Configuration
      description: Endpoint to update a specific `ExpenseReview` Configuration.
      operationId: expense-review-configuration-update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpenseReviewConfiguration'
      responses:
        '200':
          description: The returned resource is an `ExpenseReview` configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseReviewConfiguration'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - expense_review_write
    post:
      tags:
      - Expense Review Configuration
      summary: Add Expense Review Configuration
      description: Endpoint to add an `ExpenseReview` configuration.
      operationId: expense-review-configuration-add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExpenseReviewConfiguration'
      responses:
        '200':
          description: The returned resource is a single `ExpenseReview` configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseReviewConfiguration'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - expense_review_write
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
webhooks:
  created_expense_configuration:
    post:
      tags:
      - Expense Review Configuration
      summary: Expense Review - Configuration Created
      description: An `ExpenseReview` configuration has been created`.
      operationId: webhook-expensereview-created-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatedExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  updated_expense_configuration:
    post:
      tags:
      - Expense Review Configuration
      summary: Expense Review - Updated Expense Configuration
      description: An `ExpenseReview` configuration is updated.
      operationId: webhook-expensereview-updated-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  disabled_expense_configuration:
    post:
      tags:
      - Expense Review Configuration
      summary: Expense Review - Configuration Disabled
      description: An `ExpenseReview` configuration has been disabled.
      operationId: webhook-expensereview-disabled-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisabledExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  enabled_expense_configuration:
    post:
      tags:
      - Expense Review Configuration
      summary: Expense Review - Configuration Enabled
      description: An `ExpenseReview` configuration has been enabled.
      operationId: webhook-expensereview-enabled-expense-configuration
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: startDate, policyUrl, enabled, transactionId
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: startDate, policyUrl, enabled, transactionId
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnabledExpenseConfigurationEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: startDate, policyUrl, enabled, transactionId
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
components:
  schemas:
    CreatedExpenseConfigurationEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/ExpenseReviewConfigurationEvent'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    DisabledExpenseConfigurationEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/ExpenseReviewConfigurationEvent'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    CreateExpenseReviewConfiguration:
      required:
      - activity_groups
      - policy_url
      - request_timestamp
      - start_date
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        start_date:
          type: string
          description: The starting date from which the expenses can be reviewed.
          example: '2017-06-01T12:48:40Z'
        transaction_categories:
          uniqueItems: true
          type: array
          description: It determines the filter by category of the transaction.
          items:
            $ref: '#/components/schemas/ExpenseTransactionCategoryInput'
        activity_groups:
          uniqueItems: true
          type: array
          description: It determines the filter by types of cards whose transactions are considered as expenses to be reviewed.
          items:
            $ref: '#/components/schemas/ExpenseConfigurationActivityGroup'
        policy_url:
          type: string
          description: The url of the company spending policy.
          example: https://www.policy.pdf
        start_date_type:
          $ref: '#/components/schemas/ExpenseDateType'
      description: Create conf JSON parameters.
    ExpenseTransactionCategoryInput:
      type: string
      description: It determines the filter by category of the transaction.
      enum:
      - Payment
    EnabledExpenseConfigurationEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/ExpenseReviewConfigurationEvent'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    ExpenseDateType:
      type: string
      description: It determines the filter by the type of date, multiple statuses can be included.
      example: TRANSACTION
      enum:
      - TRANSACTION
      - SETTLEMENT
    WebhookEventType:
      type: string
      description: The webhook event type.
      example: Contact
      default: Contact
      enum:
      - BusinessTrip
      - Card
      - Contact
      - ExpenseReview
      - Group
      - OnlineAds
      - Order
      - Purchase
      - Subscription
      - Transaction
      - TransactionAttachment
      - Employee
      - Vehicle
      - Wallet
    WebhookEventName:
      type: string
      description: The list of subscribed events.
      enum:
      - business_trip_created
      - business_trip_updated
      - business_trip_deleted
      - card_activated
      - card_change_status
      - card_creation
      - card_destroyed
      - card_lost
      - card_replaced
      - card_stolen
      - card_label_updated
      - card_assignee_updated
      - add_resources_card
      - add_resources_member
      - add_resources_wallet
      - create_group
      - delete_group
      - move_resources_card
      - move_resources_member
      - move_resources_wallet
      - remove_resources_card
      - remove_resources_member
      - remove_resources_wallet
      - update_group
      - store_order_completed
      - store_order_placed
      - balanced_transfer
      - billing
      - card_authorization
      - conversion
      - customer_care_deposit
      - customer_care_withdraw
      - edit_tag
      - inbound_payment
      - inbound_payment_reversal
      - internal_transfer
      - joule_feed
      - load_failed
      - load_money
      - recurring_billing
      - scheduled_transfer
      - transaction_adjustment
      - unload_money
      - wiretransfer
      - upload_completed
      - attachment_delete
      - new_user
      - user_status_changed
      - user_updated
      - wallet_created
      - wallet_deleted
      - vehicle_create
      - vehicle_update
      - vehicle_delete
      - purchase_create
      - purchase_update
      - purchase_delete
      - purchase_redeem_card
      - created_expense_configuration
      - disabled_expense_configuration
      - enabled_expense_configuration
      - updated_expense_configuration
      - completed_transactions_import
      - updated_transaction
      - change_expense_type
      - subscription_activated
      - subscription_created
      - subscription_updated
      - subscription_deleted
      - subscription_assignee_added
      - subscription_assignee_removed
      - online_ads_activated
      - online_ads_created
      - online_ads_updated
      - online_ads_deleted
      - online_ads_assignee_added
      - online_ads_assignee_removed
      - transaction_created
      - transaction_modified
      - transaction_deleted
      - transaction_business_trip_linked
      - transaction_business_trip_unlinked
      - contact_created
      - contact_updated
      - contact_deleted
    ExpenseTransactionCategory:
      type: string
      description: It determines the filter by category of the `Transaction`.
      enum:
      - Payment
      - Withdrawal
      - Refund
      - Chargeback
      - MileageReimbursement
    ExpenseConfigurationActivityGroup:
      type: string
      description: It determines the filter by types of cards whose transactions are considered as expenses to be reviewed.
      enum:
      - USER
      - COMPANY
      - PURCHASE
      - SUBSCRIPTION
      - ONLINE_ADS
      - OUT_OF_PLATFORM_COMPANY
      - OUT_OF_PLATFORM_PERSONAL
    UpdatedExpenseConfigurationEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/ExpenseReviewConfigurationEvent'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    UpdateExpenseReviewConfiguration:
      required:
      - request_timestamp
      type: object
      properties:
        request_timestamp:
          type: integer
          description: The epoch timestamp in millis. This is checked in Soldo. Requests with timestamp older than 5 seconds will be rejected.
          format: int64
          example: 1576850500000
        start_date:
          type: string
          description: The starting date from which the expenses can be reviewed.
          example: '2017-06-01T12:48:40Z'
        activity_groups:
          uniqueItems: true
          type: array
          description: It determines the filter by types of cards whose transactions are considered as expenses to be reviewed.
          items:
            $ref: '#/components/schemas/ExpenseConfigurationActivityGroup'
        policy_url:
          type: string
          description: The url of the company spending policy.
          example: https://www.policy.pdf
        start_date_type:
          $ref: '#/components/schemas/ExpenseDateType'
        enabled:
          type: boolean
          description: It indicates ExpenseReview configuration is enabled.
          example: false
      description: Update Conf JSON parameters.
    ExpenseReviewConfiguration:
      type: object
      properties:
        start_date:
          type: string
          description: The starting date from which the expenses can be reviewed.
          example: '2017-06-01T12:48:40Z'
        transaction_categories:
          uniqueItems: true
          type: array
          description: It determines the filter by category of the `Transaction`.
          items:
            $ref: '#/components/schemas/ExpenseTransactionCategory'
        activity_groups:
          uniqueItems: true
          type: array
          description: It determines the filter by types of `Cards` whose `Transactions` are considered as expenses to be reviewed.
          items:
            $ref: '#/components/schemas/ExpenseConfigurationActivityGroup'
        policy_url:
          type: string
          description: The url of the company spending policy
          example: https://www.policy.pdf
        start_date_type:
          $ref: '#/components/schemas/ExpenseDateType'
        enabled:
          type: boolean
          description: Indicates `ExpenseReview` configuration is enabled.
        locked:
          type: boolean
          description: Indicates `ExpenseReview` configuration is locked.
          example: false
        update_timestamp:
          type: string
          description: The date and time when the configuration was last updated.
          example: '2017-06-01T12:48:40Z'
    ExpenseReviewConfigurationEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
      description: The webhook `ExpenseReview` data.
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-refined-from:
- soldo-software-and-services-business-api-openapi.json
- soldo-software-and-services-expense-review-configuration-api-openapi.yml
x-readme:
  hidden: true
