openapi: 3.2.0
info:
  title: Soldo Software And Services Pre-approved Spend API
  version: 5.56.0
  description: 'Operations tagged Pre-approved Spend across 2 of this provider''s published API definitions: soldo-software-and-services-business-api-openapi.json, soldo-software-and-services-pre-approved-spend-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Pre-approved Spend
paths:
  /business/v2/purchases:
    get:
      tags:
      - Pre-approved Spend
      summary: Search Purchases
      description: Endpoint to find `Purchases` using filtering parameters.
      operationId: pre-approved-spend-search
      parameters:
      - name: fromDate
        in: query
        description: 'The beginning of the period of the search `fromDate` included (i.e. greater than or equal to) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '2020-04-06T12:48:40Z'
      - name: toDate
        in: query
        description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '2020-05-07T12:48:40Z'
      - name: dateType
        in: query
        description: It determines the date to be considered for `fromDate` and `toDate` parameters.
        schema:
          $ref: '#/components/schemas/SearchPurchaseDateType'
        example: COMPLETED_TIME
      - name: status
        in: query
        description: The status of the `Purchase`.
        schema:
          type: array
          description: The status of the `Purchase`.
          items:
            $ref: '#/components/schemas/PurchaseStatus'
        example: ACTIVE
      - name: text
        in: query
        description: A simple text to search in the `Purchase` data (`title`, `description`, `assignees`).
        schema:
          type: string
          description: A simple text to search in the `Purchase` data (`title`, `description`, `assignees`).
          example: something
        example: something
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          description: It indicates the specific page to display (the counter starts from zero).
          format: int32
          example: 3
          default: 0
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          maximum: 50
          type: integer
          description: It indicates the number of items per page.
          format: int32
          example: 25
          default: 0
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The result is an array containing `Purchases`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Purchases'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - purchase_read
    post:
      tags:
      - Pre-approved Spend
      summary: Add Purchase
      description: Endpoint to add a new `Purchase`.
      operationId: pre-approved-spend-add
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePurchase'
      responses:
        '200':
          description: The returned resource is a single `Purchase`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Purchase'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - purchase_write
      x-soldo:
        fingerprint-order: title, assignee_id, wallet_id, amount, description, max_tx_number, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/purchases/{purchaseId}:
    get:
      tags:
      - Pre-approved Spend
      summary: Get Purchases
      description: Endpoint to get a specific `Purchase` by ID.
      operationId: pre-approved-spend-get
      parameters:
      - name: purchaseId
        in: path
        required: true
        schema:
          type: string
          description: The `Purchase` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The returned resource is a single `Purchase`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Purchase'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - purchase_read
    put:
      tags:
      - Pre-approved Spend
      summary: Update Purchase
      description: Endpoint to update a specific `Purchase`.
      operationId: pre-approved-spend-update
      parameters:
      - name: purchaseId
        in: path
        required: true
        schema:
          type: string
          description: The `Purchase` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePurchase'
      responses:
        '200':
          description: The returned resource is a single `Purchase`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Purchase'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - purchase_write
      x-soldo:
        fingerprint-order: purchaseId, title, description, max_tx_number, token
    delete:
      tags:
      - Pre-approved Spend
      summary: Delete Purchase
      description: Endpoint to delete a specific `Purchase`.
      operationId: pre-approved-spend-delete
      parameters:
      - name: purchaseId
        in: path
        required: true
        schema:
          type: string
          description: The `Purchase` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - purchase_write
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  /business/v2/purchases/{purchaseId}/redeem:
    post:
      tags:
      - Pre-approved Spend
      summary: Redeem Purchase
      description: Endpoint to redeem a `Purchase`.
      operationId: pre-approved-spend-redeem
      parameters:
      - name: purchaseId
        in: path
        required: true
        schema:
          type: string
          description: The `Purchase` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.'
          example: '{{fingerprint}}'
          default: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          description: '[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.'
          example: '{{fingerprint_signature}}'
          default: '{{fingerprint_signature}}'
      responses:
        '200':
          description: The returned resource is a single `Order`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - purchase_write
      x-soldo:
        fingerprint-order: purchaseId, token
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
webhooks:
  purchase_redeem_card:
    post:
      tags:
      - Pre-approved Spend
      summary: Pre-Approved Spend - Purchase Redeem Card
      description: A `Card` of purchase has been redeemed.
      operationId: webhook-preapprovedspend-purchase-redeem-card
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, title, description, amount, amountCurrency
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, title, description, amount, amountCurrency
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseRedeemCardEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, title, description, amount, amountCurrency
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  purchase_delete:
    post:
      tags:
      - Pre-approved Spend
      summary: Pre-Approved Spend - Purchase Delete
      description: A `Purchase` has been deleted.
      operationId: webhook-preapprovedspend-purchase-delete
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, title, description, amount, amountCurrency
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, title, description, amount, amountCurrency
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseDeleteEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, title, description, amount, amountCurrency
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  purchase_update:
    post:
      tags:
      - Pre-approved Spend
      summary: Pre-Approved Spend - Purchase Update
      description: A `Purchase` has been updated.
      operationId: webhook-preapprovedspend-purchase-update
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, title, description, amount, amountCurrency
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, title, description, amount, amountCurrency
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseUpdateEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, title, description, amount, amountCurrency
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
  purchase_create:
    post:
      tags:
      - Pre-approved Spend
      summary: Pre-Approved Spend - Purchase Create
      description: A `Purchase` has been created.
      operationId: webhook-preapprovedspend-purchase-create
      parameters:
      - name: X-Soldo-Fingerprint
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint}}'
          description: '[Webhook authentication](ref:webhook-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this webhook.'
          example: '{{fingerprint}}'
      - name: X-Soldo-Fingerprint-Order
        in: header
        required: true
        schema:
          type: string
          default: id, title, description, amount, amountCurrency
          description: '[Webhook authentication](ref:webhook-authentication): The order of the values used to calculate the fingerprint.'
          example: id, title, description, amount, amountCurrency
      - name: X-Soldo-Fingerprint-Signature
        in: header
        required: true
        schema:
          type: string
          default: '{{fingerprint_signature}}'
          description: '[Webhook authentication](ref:webhook-authentication): Signature of the `X-Soldo-Fingerprint`. It must be verified using the [Soldo public key](ref:soldo-public-key).'
          example: '{{fingerprint_signature}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseCreateEvent'
      responses:
        '200':
          description: Success.
      x-soldo:
        fingerprint-order: id, title, description, amount, amountCurrency
    servers:
    - url: https://api.soldo.com
      description: Production server (using live data)
    - url: https://api-demo.soldocloud.net
      description: Sandbox server (using test data)
components:
  schemas:
    PurchaseCreateEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Purchase'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    PurchaseUpdateEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Purchase'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    DateParam:
      type: object
      description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
      example: '1970-01-30'
    SearchPurchaseDateType:
      type: string
      description: It determines the date to be considered for `fromDate` and `toDate` parameters.
      example: COMPLETED_TIME
      enum:
      - CREATION_TIME
      - COMPLETED_TIME
    Purchase:
      type: object
      properties:
        id:
          type: string
          description: 'The `Purchase` ID (sortable: no).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        status:
          $ref: '#/components/schemas/PurchaseStatus'
        title:
          type: string
          description: 'The name of the `Purchase` (sortable: no).'
          example: Tech book
        description:
          type: string
          description: 'The description of the `Purchase` (sortable: no).'
          example: A purchase to approve
        amount:
          type: number
          description: 'The maximum spendable amount of the `Purchase` (sortable: no).'
          example: 10.25
        amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        wallet_id:
          type: string
          description: 'The ID of the `Wallet` the money are taken from, the funding source of the `Purchase` (sortable: no).'
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        wallet_name:
          type: string
          description: 'The name of the `Wallet` the money are taken from, the funding source of the `Purchase` (sortable: no).'
          example: John Doe
        has_attachments:
          type: boolean
          description: 'It determines whether the `Purchase` has one or more attachments (sortable: no).'
          example: true
        notes:
          type: string
          description: 'The notes of the `Purchase` (sortable: no).'
          example: Notes about the purchase request
        assignee_id:
          type: string
          description: 'The ID of the `User` assigned to the `Purchase` (sortable: no).'
          example: XMPL1234-000003
        additional_assignee_ids:
          uniqueItems: true
          type: array
          description: 'The IDs of any additional `User` assigned to the `Purchase` (sortable: no).'
          example: XMPL1234-000003
          items:
            type: string
            description: 'The IDs of any additional `User` assigned to the `Purchase` (sortable: no).'
            example: XMPL1234-000003
        assignee_custom_reference_id:
          type: string
          description: 'The custom reference of the `User` assigned to the `Purchase` (sortable: no).'
          example: 123456-user-1
        author_id:
          type: string
          description: 'The ID of the `User` that created the `Purchase` (sortable: no).'
          example: XMPL1234-000001
        author_custom_reference_id:
          type: string
          description: 'The custom reference of the `User` that created the purchase (sortable: no).'
          example: 123456-user-2
        expiration_date:
          type: string
          description: 'The date and time when the `Purchase` will expire (sortable: no).'
          example: '2017-06-01T12:48:40Z'
        card_id:
          type: string
          description: 'The ID of the `Card` assigned to the `Purchase`, only available after the redemption `Order` has been completed (sortable: no).'
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        transactions:
          type: array
          description: 'The `Transactions` originated by the `Purchase` (sortable: no).'
          items:
            $ref: '#/components/schemas/PurchaseTransaction'
        max_tx_number:
          type: integer
          description: The max number of the `Transactions` that can be made with the `Card`.
          format: int32
          example: 3
        creation_time:
          type: string
          description: 'The date and time when the `Purchase` was created (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: 'The date and time when the `Purchase` was last updated (sortable: yes).'
          example: '2017-06-01T12:48:40Z'
    ISO4217Currency:
      type: string
      description: 'The [ISO 4217](https://www.six-group.com/en/products-services/financial-information/data-standards.html#scrollTo=maintenance-agency) code of the currency of the `Wallet` (sortable: no)'
      example: EUR
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VED
      - VEF
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
    PurchaseStatus:
      type: string
      description: 'The status of the `Purchase` (sortable: no).'
      example: ASSIGNED
      enum:
      - SUCCESSFUL
      - ACTIVE
      - ASSIGNED
      - DELETED
      - EXPIRED
      - REQUEST_EXTENSION
    UpdatePurchase:
      required:
      - purchase_id
      type: object
      properties:
        purchase_id:
          type: string
          description: The `Purchase` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        title:
          type: string
          description: The name of the `Purchase`
          example: Tech book
        assignee_id:
          type: string
          description: The ID of the `User` assigned to the `Purchase`.
          example: XMPL1234-000003
        amount:
          type: number
          description: The maximum spendable amount of the `Purchase`.
          example: 10.25
        description:
          type: string
          description: The description of the `Purchase`.
          example: A purchase to approve
        wallet_id:
          type: string
          description: The ID of the `Wallet` the money are taken from, the funding source of the `Purchase`.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
        notes:
          type: string
          description: The notes of the `Purchase`.
          example: Notes about the purchase request
        max_tx_number:
          type: integer
          description: The total number of `Transactions` the temporary virtual `Card` can make (default is `1`).
          format: int32
          example: 3
          default: 1
      description: Update `Purchase` JSON parameters.
    PurchaseDeleteEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Purchase'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      example: DESC
      enum:
      - ASC
      - DESC
    OrderItem:
      type: object
      properties:
        id:
          type: string
          description: The ID of a single item of a specific `Order`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        item_type:
          type: string
          description: The type of the ordered item.
          example: CARD
        category:
          type: string
          description: The category of the ordered item.
      description: The products associated with the `Order`.
    Purchases:
      type: object
      properties:
        total:
          type: integer
          description: It represents the total number of available items in the list.
          format: int32
          example: 168
        pages:
          type: integer
          description: It represents the total number of available pages.
          format: int32
          example: 7
        page_size:
          type: integer
          description: It represents the number of items per page.
          format: int32
          example: 25
        current_page:
          type: integer
          description: It indicates the current page (the counter starts from zero).
          format: int32
          example: 0
        results_size:
          type: integer
          description: It indicates the size of the array results.
          format: int32
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/Purchase'
    PurchaseTransaction:
      type: object
      properties:
        id:
          type: string
          description: 'The `Transaction` ID (sortable: no)'
          example: c861cc24-6663-410f-8c78-73f886fff4ef
        amount:
          type: number
          description: 'The maximum spendable amount of the `Purchase` (sortable: no)'
          example: 10.25
        amount_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        completed_time:
          type: string
          description: 'The date and time when the `Purchase` was completed (sortable: no)'
          example: '2017-06-01T12:48:40Z'
        transaction_category:
          type: string
          description: 'The category of the `Transaction` (sortable: no)'
      description: 'The `Transactions` originated by the `Purchase` (sortable: no).'
    CreatePurchase:
      required:
      - amount
      - assignee_id
      - description
      - max_tx_number
      - title
      - wallet_id
      type: object
      properties:
        title:
          type: string
          description: The name of the `Purchase`.
          example: Tech book
        assignee_id:
          type: string
          description: The ID of the `User` assigned to the `Purchase`.
          example: XMPL1234-000003
        amount:
          type: number
          description: The maximum spendable amount of the `Purchase`.
          example: 10.25
        description:
          type: string
          description: The description of the `Purchase`.
          example: A purchase to approve
        wallet_id:
          type: string
          description: The ID of the `Wallet` the money are taken from, the funding source of the `Purchase`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        notes:
          type: string
          description: The notes of the `Purchase`.
          example: Notes about the purchase request
        max_tx_number:
          type: integer
          description: The total number of `Transactions` the temporary virtual `Card` can make.
          format: int32
          example: 3
          default: 1
      description: Create `Purchase` JSON parameters.
    Order:
      type: object
      properties:
        id:
          type: string
          description: The `Order` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        status:
          $ref: '#/components/schemas/OrderStatus'
        creation_time:
          type: string
          description: The date and time when the `Order` was created.
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: The last update date of the `Order`.
          example: '2017-06-01T12:48:40Z'
        error_code:
          type: string
          description: In case is_valid is false, the error code of the `Order` is shown.
        total_paid_amount:
          type: number
          description: The total amount of the `Order`.
          example: 10.25
        total_paid_currency:
          $ref: '#/components/schemas/ISO4217Currency'
        items:
          type: array
          description: The products associated with the `Order`.
          items:
            $ref: '#/components/schemas/OrderItem'
        is_valid:
          type: boolean
          description: It states whether the `Order` is valid.
          example: true
    WebhookEventName:
      type: string
      description: The list of subscribed events.
      enum:
      - business_trip_created
      - business_trip_updated
      - business_trip_deleted
      - card_activated
      - card_change_status
      - card_creation
      - card_destroyed
      - card_lost
      - card_replaced
      - card_stolen
      - card_label_updated
      - card_assignee_updated
      - add_resources_card
      - add_resources_member
      - add_resources_wallet
      - create_group
      - delete_group
      - move_resources_card
      - move_resources_member
      - move_resources_wallet
      - remove_resources_card
      - remove_resources_member
      - remove_resources_wallet
      - update_group
      - store_order_completed
      - store_order_placed
      - balanced_transfer
      - billing
      - card_authorization
      - conversion
      - customer_care_deposit
      - customer_care_withdraw
      - edit_tag
      - inbound_payment
      - inbound_payment_reversal
      - internal_transfer
      - joule_feed
      - load_failed
      - load_money
      - recurring_billing
      - scheduled_transfer
      - transaction_adjustment
      - unload_money
      - wiretransfer
      - upload_completed
      - attachment_delete
      - new_user
      - user_status_changed
      - user_updated
      - wallet_created
      - wallet_deleted
      - vehicle_create
      - vehicle_update
      - vehicle_delete
      - purchase_create
      - purchase_update
      - purchase_delete
      - purchase_redeem_card
      - created_expense_configuration
      - disabled_expense_configuration
      - enabled_expense_configuration
      - updated_expense_configuration
      - completed_transactions_import
      - updated_transaction
      - change_expense_type
      - subscription_activated
      - subscription_created
      - subscription_updated
      - subscription_deleted
      - subscription_assignee_added
      - subscription_assignee_removed
      - online_ads_activated
      - online_ads_created
      - online_ads_updated
      - online_ads_deleted
      - online_ads_assignee_added
      - online_ads_assignee_removed
      - transaction_created
      - transaction_modified
      - transaction_deleted
      - transaction_business_trip_linked
      - transaction_business_trip_unlinked
      - contact_created
      - contact_updated
      - contact_deleted
    PurchaseRedeemCardEvent:
      type: object
      properties:
        event_uuid:
          type: string
          description: The webhook unique ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        event_name:
          $ref: '#/components/schemas/WebhookEventName'
        company_account_id:
          type: string
          description: The company account ID.
          example: XMPL1234
        data:
          $ref: '#/components/schemas/Purchase'
        subscription_id:
          type: string
          description: The webhook subscription ID used to route this event.
          example: 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
    OrderStatus:
      type: string
      description: The status of the `Order`.
      example: PENDING
      enum:
      - PENDING
      - ERROR
      - PLACED
      - CANCELLED
      - COMPLETED
      - COMPLETED_WITH_CREDIT
    WebhookEventType:
      type: string
      description: The webhook event type.
      example: Contact
      default: Contact
      enum:
      - BusinessTrip
      - Card
      - Contact
      - ExpenseReview
      - Group
      - OnlineAds
      - Order
      - Purchase
      - Subscription
      - Transaction
      - TransactionAttachment
      - Employee
      - Vehicle
      - Wallet
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-refined-from:
- soldo-software-and-services-business-api-openapi.json
- soldo-software-and-services-pre-approved-spend-api-openapi.yml
x-readme:
  hidden: true
