{"openapi":"3.0.1","info":{"title":"Soldo Business API v2.0 - OpenAPI 3.0","description":"Soldo Business API v2.0 OpenAPI 3.0 specification","version":"5.56.0"},"servers":[{"url":"https://api.soldo.com","description":"Production server (using live data)"},{"url":"https://api-demo.soldocloud.net","description":"Sandbox server (using test data)"}],"paths":{"/oauth/authorize":{"post":{"tags":["Authentication"],"summary":"Authenticate","description":"Grant access to the API getting an `OAuth2Token`.","operationId":"authorize","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["client_id","client_secret"],"type":"object","properties":{"client_id":{"type":"string","description":"The client ID issued while [Setting up the API](doc:api-set-up), this works as a username.","example":"{{client_id}}"},"client_secret":{"type":"string","description":"The client secret issued while [Setting up the API](doc:api-set-up), this works as a password.","example":"{{client_secret}}"}}}}}},"responses":{"200":{"description":"The `OAuth2Token`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2Token"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"403":{"description":"The access token you are using is not granted with the necessary permissions or is expired. Check client scopes and fingerprint requirements."}}}},"/business/v2/online-ads/{onlineAdId}":{"get":{"tags":["Online Ads"],"summary":"Get Online Ads","description":"Endpoint to get a specific `OnlineAd` by ID.","operationId":"online-ads-get","parameters":[{"name":"onlineAdId","in":"path","required":true,"schema":{"type":"string","description":"The `OnlineAd` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}}],"responses":{"200":{"description":"The result is a single `OnlineAd`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnlineAds"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["online_ads_read"]}]},"put":{"tags":["Online Ads"],"summary":"Update Online Ads","description":"Endpoint to update a specific `OnlineAd`.","operationId":"online-ads-update","parameters":[{"name":"onlineAdId","in":"path","required":true,"schema":{"type":"string","description":"The `OnlineAd` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOnlineAds"}}}},"responses":{"200":{"description":"The returned resource is a single `OnlineAd`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnlineAds"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["online_ads_write"]}],"x-soldo":{"fingerprint-order":"id, name, wallet_id, token"}},"post":{"tags":["Online Ads"],"summary":"Activate Online Ads","description":"Endpoint to activate a specific `OnlineAd`.","operationId":"online-ads-activate","parameters":[{"name":"onlineAdId","in":"path","required":true,"schema":{"type":"string","description":"The `OnlineAd` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"responses":{"200":{"description":"The `Order` of the reserved `Card` for the `OnlineAd`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["online_ads_write"]}],"x-soldo":{"fingerprint-order":"id, token"}},"delete":{"tags":["Online Ads"],"summary":"Delete Online Ads","description":"Endpoint to delete a specific `OnlineAd`.","operationId":"online-ads-delete","parameters":[{"name":"onlineAdId","in":"path","required":true,"schema":{"type":"string","description":"The `OnlineAd` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}}],"responses":{"204":{"description":"No content as result."},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["online_ads_write"]}]}},"/business/v2/subscriptions/{subscriptionId}":{"get":{"tags":["Subscriptions"],"summary":"Get Subscription","operationId":"subscription-get","parameters":[{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string","description":"The `Subscription` ID","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}}],"responses":{"200":{"description":"The returned resource is a `Subscription`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subscription"}}}},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["subscription_read"]}]},"put":{"tags":["Subscriptions"],"summary":"Update Subscription","description":"Endpoint to update a specific `Subscription`.","operationId":"subscription-update","parameters":[{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string","description":"The `Subscription` id.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSubscription"}}}},"responses":{"200":{"description":"The returned resource is a `Subscription`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subscription"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["subscription_write"]}],"x-soldo":{"fingerprint-order":"id, name, wallet_id, payment_frequency, token"}},"post":{"tags":["Subscriptions"],"summary":"Activate Subscription","description":"Endpoint to activate a specific `Subscription`.","operationId":"subscription-activate","parameters":[{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string","description":"The `Subscription` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"responses":{"200":{"description":"The returned resource is an `Order`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["subscription_write"]}],"x-soldo":{"fingerprint-order":"id, token"}},"delete":{"tags":["Subscriptions"],"summary":"Delete Subscription","description":"Endpoint to delete a specific `Subscription`.","operationId":"subscription-delete","parameters":[{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string","description":"The `Subscription` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}}],"responses":{"204":{"description":"No content as result."},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["subscription_write"]}]}},"/business/v2/addresses":{"get":{"tags":["Addresses"],"summary":"Search Addresses","description":"Endpoint to search `Addresses`.","operationId":"address-search","parameters":[{"name":"userId","in":"query","description":"The `User` ID.","schema":{"type":"string","description":"The `User` ID.","example":"XMPL1234-000001"},"example":"XMPL1234-000001"},{"name":"category","in":"query","description":"The `User` CATEGORY.","schema":{"$ref":"#/components/schemas/AddressCategory"},"example":"COMPANY"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `Addresses`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Addresses"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["address_read"]}]},"post":{"tags":["Addresses"],"summary":"Add Address","description":"Endpoint to create an `Address`.","operationId":"address-add","parameters":[{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAddress"}}}},"responses":{"200":{"description":"The returned resource is the single `Address` created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Address"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["address_write"]}],"x-soldo":{"fingerprint-order":"recipient, name, line1, line2, country, county, city, post_code, delivery_phone_number, default_shipping, cards_to_link, cards_to_unlink, user_id, token"}}},"/business/v2/expense-policies/{expensePolicyId}/assignees":{"get":{"tags":["Expense Policies"],"summary":"Get Expense Policy Assignees","description":"Endpoint to get all `User` resources currently assigned to a specific `ExpensePolicy`.","operationId":"expense-policy-assignees-get","parameters":[{"name":"expensePolicyId","in":"path","required":true,"schema":{"type":"string","description":"The `ExpensePolicy` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array of `ExpensePolicyAssignee` resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpensePolicyAssignees"}}}},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["expense_policy_read"]}]},"post":{"tags":["Expense Policies"],"summary":"Assign Expense Policy to Users","description":"Endpoint to assign a specific `ExpensePolicy` to one or more `User` resources. Since a `User` can hold at most one `ExpensePolicy`, any existing assignment is replaced.","operationId":"expense-policy-assignees-add","parameters":[{"name":"expensePolicyId","in":"path","required":true,"schema":{"type":"string","description":"The `ExpensePolicy` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpensePolicyAssignment"}}}},"responses":{"204":{"description":"No content as result."},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["expense_policy_write"]}]},"delete":{"tags":["Expense Policies"],"summary":"Unassign Expense Policy from Users","description":"Endpoint to unassign a specific `ExpensePolicy` from one or more `User` resources.","operationId":"expense-policy-assignees-remove","parameters":[{"name":"expensePolicyId","in":"path","required":true,"schema":{"type":"string","description":"The `ExpensePolicy` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpensePolicyUnassignment"}}}},"responses":{"204":{"description":"No content as result."},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["expense_policy_write"]}]}},"/business/v2/autotags":{"get":{"tags":["Autotags"],"summary":"Search Autotags","description":"Endpoint to find `Autotags` using filtering parameters.","operationId":"autotag-search","parameters":[{"name":"name","in":"query","description":"The name of the `Autotag`.","schema":{"type":"string","description":"The name of the `Autotag`.","example":"AutotagRule"},"example":"AutotagRule"},{"name":"enabled","in":"query","description":"It determines whether the `Autotag` rule is enabled (if a rule is not enabled, it won't be executed).","schema":{"type":"boolean","description":"It determines whether the `Autotag` rule is enabled (if a rule is not enabled, it won't be executed).","example":true},"example":true},{"name":"ownerId","in":"query","description":"The ID of the `User` who created the `Autotag`.","schema":{"type":"string","description":"The ID of the `User` who created the `Autotag`.","example":"XMPL1234-000001"},"example":"XMPL1234-000001"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The returned resource is an array of `Autotags`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Autotags"}}}}},"security":[{"standardAuth":["autotag_read"]}]},"post":{"tags":["Autotags"],"summary":"Add Autotag","description":"Endpoint to add a new `Autotag`.","operationId":"autotag-add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAutotag"}}}},"responses":{"200":{"description":"The returned resource is a single `Autotag`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Autotag"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["autotag_write"]}]}},"/business/v2/business-trips":{"get":{"tags":["Business Trips"],"summary":"Search BusinessTrips","description":"Endpoint to find `BusinessTrips` using filtering parameters.","operationId":"business-trip-search","parameters":[{"name":"fromDate","in":"query","description":"The beginning of the period of the search `fromDate` included (i.e. greater than or equal to) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).","schema":{"$ref":"#/components/schemas/DateParam"},"example":"2020-04-06T12:48:40Z"},{"name":"toDate","in":"query","description":"The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).","schema":{"$ref":"#/components/schemas/DateParam"},"example":"2020-05-07T12:48:40Z"},{"name":"status","in":"query","description":"The status of the `BusinessTrip`.","schema":{"type":"array","description":"The status of the `Purchase`.","items":{"$ref":"#/components/schemas/BusinessTripPurchaseStatus"}},"example":"ACTIVE"},{"name":"dateType","in":"query","description":"It determines the date to be considered for `fromDate` and `toDate` parameters.","schema":{"$ref":"#/components/schemas/SearchBusinessTripDateType"},"example":"COMPLETED_TIME"},{"name":"travellerUserId","in":"query","description":"The ID of the `User` that is travelling with the `BusinessTrip`.","schema":{"type":"array","description":"The ID of the `User` that is travelling with the `BusinessTrip`.","items":{"type":"string","description":"The ID of the `User` that is travelling with the `BusinessTrip`."}},"example":"XMPL1234-000001"},{"name":"text","in":"query","description":"A simple text to search in the `BusinessTrip` data.","schema":{"type":"string","description":"A simple text to search in the `BusinessTrip` data.","example":"something"},"example":"something"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `BusinessTrips`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessTrips"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["business_trip_read"]}]},"post":{"tags":["Business Trips"],"summary":"Add Business Trip","description":"Endpoint to add a new `BusinessTrip`.","operationId":"business-trip-add","parameters":[{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBusinessTrip"}}}},"responses":{"200":{"description":"The returned resource is a single `BusinessTrip`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessTrip"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["business_trip_write"]}],"x-soldo":{"fingerprint-order":"request_timestamp, name, traveller_user_id, traveller_card_id, wallet_id, join(concat(expense_allocation.spend_period, expense_allocation.amount, expense_allocation.amount_currency))"}}},"/business/v2/cards":{"get":{"tags":["Cards"],"summary":"Search Cards","description":"Endpoint to find `Cards` using filtering parameters.","operationId":"card-search","parameters":[{"name":"type","in":"query","description":"The type of a resource the `Card` is attached to.","schema":{"$ref":"#/components/schemas/CardAttachedResourceType"},"example":"wallet"},{"name":"id","in":"query","description":"The ID of the `type` resource (it's not applicable for `company` resource; it's not required for `employees`).","schema":{"type":"string","description":"The ID of the `type` resource (it's not applicable for `company` resource; it's not required for `employees`).","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"},"example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"},{"name":"customreferenceId","in":"query","description":"The custom reference ID of the `type` resource.","schema":{"type":"string","description":"The custom reference ID of the `type` resource.","example":"123456-user-1"},"example":"123456-user-1"},{"name":"status","in":"query","description":"One among the available `Card` statuses of a `Card`.","schema":{"$ref":"#/components/schemas/CardStatus"},"example":"Normal"},{"name":"groupId","in":"query","description":"The ID of the `Group` the `Card` is related to.","schema":{"type":"string","description":"The ID of the `Group` the `Card` is related to.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"},"example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"},{"name":"name","in":"query","description":"The name of the `Card`.","schema":{"type":"string","description":"The name of the `Card`.","example":"CardName"},"example":"CardName"},{"name":"label","in":"query","description":"The label of the `Card`.","schema":{"type":"string","description":"The label of the `Card`.","example":"CardLabel"},"example":"CardLabel"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `Cards`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cards"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["card_read"]}]},"post":{"tags":["Cards"],"summary":"Add Card","description":"Endpoint to add a new `Card`. The created `Card` has the same currency of the `Wallet` it belongs to.","operationId":"card-add","parameters":[{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddCardOrder"}}}},"responses":{"200":{"description":"The returned resource is a single `Order`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["card_write"]}],"x-soldo":{"fingerprint-order":"request_timestamp, owner_type, owner_public_id, wallet_id, address_id, vehicle_id, preset_id, token"}}},"/business/v2/contacts":{"get":{"tags":["Contacts"],"summary":"Search Contacts","description":"Endpoint to search `Contacts` using filtering parameters.","operationId":"contact-search","parameters":[{"name":"statuses","in":"query","description":"The status of the `Contact`.","schema":{"uniqueItems":true,"type":"array","description":"The status of the `Contact`.","example":"SUGGESTED","items":{"$ref":"#/components/schemas/ContactStatus"}},"example":"SUGGESTED"},{"name":"name","in":"query","description":"The name of the `Contact`.","schema":{"uniqueItems":true,"type":"array","description":"The name of the `Contact`.","example":"John Doe","items":{"type":"string","description":"The name of the `Contact`.","example":"John Doe"}},"example":"John Doe"},{"name":"type","in":"query","description":"The type of the `Contact`.","schema":{"uniqueItems":true,"type":"array","description":"The type of the `Contact`.","example":"SUPPLIER","items":{"$ref":"#/components/schemas/ContactType"}},"example":"SUPPLIER"},{"name":"countries","in":"query","description":"The [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) countries of the `Contact`.","schema":{"uniqueItems":true,"type":"array","description":"The [ISO 3166-1 alpha-3](https://www.iso.org/obp/ui/#search/code/) countries of the `Contact`.","example":"GBR","items":{"$ref":"#/components/schemas/ISO3166Country"}},"example":"GBR"},{"name":"user","in":"query","description":"The ID of the `User` the bank details are assigned.","schema":{"uniqueItems":true,"type":"array","description":"The ID of the `User` the bank details are assigned.","example":"XMPL1234-000001","items":{"type":"string","description":"The ID of the `User` the bank details are assigned.","example":"XMPL1234-000001"}},"example":"XMPL1234-000001"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The returned result is a list of `Contacts`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contacts"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["contact_read"]}]},"post":{"tags":["Contacts"],"summary":"Add Contact","description":"Endpoint to add a new `Contact`.","operationId":"contact-add","parameters":[{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContact"}}}},"responses":{"200":{"description":"The returned resource is a single `Contact`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContactResponse"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["contact_write"]}],"x-soldo":{"fingerprint-order":"name, type, country, join(concat(account_info.type, account_info.identification)),userId, token"}}},"/business/v2/employees/out-of-office":{"get":{"tags":["Out of Office"],"summary":"Search Out of Office","description":"Endpoint to search `out_of_office` using filtering parameters.","operationId":"out-of-office-search","parameters":[{"name":"delegatorId","in":"query","schema":{"uniqueItems":true,"type":"array","description":"The ID of the person assigning the `out_of_office`.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7","items":{"type":"string","description":"The ID of the person assigning the `out_of_office`.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}}},{"name":"delegateId","in":"query","schema":{"uniqueItems":true,"type":"array","description":"The ID of the person covering for the delegator.","example":"33333333-a7ae-4222-aa54-091ff7f429a7","items":{"type":"string","description":"The ID of the person covering for the delegator.","example":"33333333-a7ae-4222-aa54-091ff7f429a7"}}},{"name":"fromDate","in":"query","description":"Defines when the out_of_office entry starts. fromDate included. (i.e. greater than or equal to) (Format:`yyyy-MM-dd`).","schema":{"type":"string","description":"Defines when the out_of_office entry starts. fromDate included. (i.e. greater than or equal to) (Format:`yyyy-MM-dd`).","example":"2025-03-05"},"example":"2025-03-05"},{"name":"toDate","in":"query","description":"Defines when the out_of_office entry ends, toDate included. (i.e. less than) (Format:`yyyy-MM-ddThh:mm:ssZ`,represents a UTC timezone).","schema":{"type":"string","description":"Defines when the out_of_office entry ends, toDate included. (i.e. less than) (Format:`yyyy-MM-ddThh:mm:ssZ`,represents a UTC timezone).","example":"2025-03-07"},"example":"2025-03-07"},{"name":"status","in":"query","description":"The status of `out_of_office`.","schema":{"uniqueItems":true,"type":"array","description":"The status of `out_of_office`.","items":{"$ref":"#/components/schemas/DelegationStatus"}},"example":"ACTIVE"},{"name":"feature","in":"query","description":"The features of `out_of_office`.","schema":{"uniqueItems":true,"type":"array","description":"The features of `out_of_office`.","items":{"$ref":"#/components/schemas/DelegationFeature"}},"example":"EXPENSE_REVIEW"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `out_of_office`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutOfOfficeDelegations"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["out_of_office_delegation_read"]}]},"post":{"tags":["Out of Office"],"summary":"Add Out of Office","description":"Endpoint to add an `out_of_office`.","operationId":"out-of-office-add","parameters":[{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOutOfOfficeDelegation"}}}},"responses":{"200":{"description":"The result is a single `out_of_office`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutOfOfficeDelegation"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["out_of_office_delegation_write"]}],"x-soldo":{"fingerprint-order":"request_timestamp, from_date, to_date, delegator_id, delegate_id, feature, token"}}},"/business/v2/entities/expense-category":{"get":{"tags":["Accounting Classification"],"summary":"Search Expense Categories","description":"Endpoint to find `ExpenseCategories` using filtering parameters.","operationId":"expense-category-search","parameters":[{"name":"text","in":"query","description":"A simple text to search in the `ExpenseCategory` (`name` or `code`).","schema":{"type":"string","description":"A simple text to search in the `ExpenseCategory` (`name` or `code`).","example":"expense category"},"example":"expense category"},{"name":"enabled","in":"query","description":"It determines if `ExpenseCategory` is enabled.","schema":{"type":"boolean","description":"It determines if `ExpenseCategory` is enabled.","example":true},"example":true},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `ExpenseCategories`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategories"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["expense_category_read"]}]},"post":{"tags":["Expense Categories"],"summary":"Add Expense Category","description":"Endpoint to add a new `ExpenseCategory`.","operationId":"expense-category-add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExpenseCategory"}}}},"responses":{"200":{"description":"The result is an `ExpenseCategory`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategory"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["expense_category_write"]}]}},"/business/v2/expense-review/processes":{"get":{"tags":["Expense Review Processes"],"summary":"Search Expense Review Processes","description":"Endpoint to search `ExpenseReviewProcesses`.","operationId":"expense-review-processes-search","parameters":[{"name":"status","in":"query","description":"The status of the `ExpenseReviewProcess`.","schema":{"type":"array","description":"The status of the `ExpenseReviewProcess`.","items":{"$ref":"#/components/schemas/ExpenseReviewProcessStatusSearch"}},"example":"ACTIVE"},{"name":"text","in":"query","description":"A simple text to search `ExpenseReviewProcess` by `name` or `description`.","schema":{"type":"string","description":"A simple text to search `ExpenseReviewProcess` by `name` or `description`.","example":"EXPENSE REVIEW PROCESS"},"example":"EXPENSE REVIEW PROCESS"},{"name":"p","in":"query","description":"0","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"props","in":"query","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}}}],"responses":{"200":{"description":"The result is an array containing `ExpenseReviewProcesses`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseReviewProcesses"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["expense_review_read"]}]},"post":{"tags":["Expense Review Processes"],"summary":"Add Expense Review Process","description":"Endpoint to add an `ExpenseReviewProcess`.","operationId":"expense-review-process-add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExpenseReviewProcess"}}}},"responses":{"200":{"description":"The result is a single `ExpenseReviewProcess`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseReviewProcess"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["expense_review_write"]}]}},"/business/v2/expense-review/configuration":{"get":{"tags":["Expense Review Configuration"],"summary":"Get Expense Review Configuration","description":"Endpoint to get `ExpenseReview` configuration","operationId":"expense-review-configuration-get","responses":{"200":{"description":"The result is the configuration of `ExpenseReview` resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseReviewConfiguration"}}}},"400":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["expense_review_read"]}]},"put":{"tags":["Expense Review Configuration"],"summary":"Update Expense Review Configuration","description":"Endpoint to update a specific `ExpenseReview` Configuration.","operationId":"expense-review-configuration-update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExpenseReviewConfiguration"}}}},"responses":{"200":{"description":"The returned resource is an `ExpenseReview` configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseReviewConfiguration"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["expense_review_write"]}]},"post":{"tags":["Expense Review Configuration"],"summary":"Add Expense Review Configuration","description":"Endpoint to add an `ExpenseReview` configuration.","operationId":"expense-review-configuration-add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExpenseReviewConfiguration"}}}},"responses":{"200":{"description":"The returned resource is a single `ExpenseReview` configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseReviewConfiguration"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["expense_review_write"]}]}},"/business/v2/groups":{"get":{"tags":["Groups"],"summary":"Search Groups","description":"Endpoint to search `Groups`","operationId":"group-search","parameters":[{"name":"customReferenceId","in":"query","description":"The `Group` reference in an external system.","schema":{"type":"string","description":"The `Group` reference in an external system.","example":"hr-division-0001"},"example":"hr-division-0001"},{"name":"type","in":"query","description":"The `Group`'s type.","schema":{"$ref":"#/components/schemas/GroupType"},"example":"DIVISION"},{"name":"name","in":"query","description":"The name of the `Group`.","schema":{"type":"string","description":"The name of the `Group`.","example":"HR"},"example":"HR"},{"name":"note","in":"query","description":"The note of the `Group`.","schema":{"type":"string","description":"The note of the `Group`.","example":"division"},"example":"division"},{"name":"text","in":"query","description":"A text contained in the name or note of the `Group`.","schema":{"type":"string","description":"A text contained in the name or note of the `Group`.","example":"HR"},"example":"HR"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `Group`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Groups"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["group_read"]}]},"post":{"tags":["Groups"],"summary":"Add Group","description":"Endpoint to add a new `Group`.","operationId":"group-add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroup"}}}},"responses":{"200":{"description":"The returned resource is a single `Group`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["group_write"]}]}},"/business/v2/dictionaries":{"get":{"tags":["Lists"],"summary":"Search Lists","description":"Endpoint to search `Lists` using filtering parameters.","operationId":"list-search","parameters":[{"name":"visible","in":"query","schema":{"type":"boolean","description":"It determines whether the `List` is active.","example":true}},{"name":"text","in":"query","schema":{"type":"string","description":"A text to search in the `List` data (name).","example":"something"}},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `Lists`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagDictionaries"}}}}},"security":[{"standardAuth":["tag_read"]}]},"post":{"tags":["Lists"],"summary":"Add List","description":"Endpoint to add a new `List`.","operationId":"list-add","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"dictionary":{"type":"string","description":"The name of the `List`.","example":"CustomTransactionMetadata"},"uniqueSelectTag":{"type":"boolean","description":"It determines whether multiple `Tags` of the `List` can be selected.","example":true},"required":{"type":"boolean","description":"It determines required.","example":false},"roles":{"type":"array","description":"List of `Roles` to can view items in transaction details.","example":["7bf79328-a7ae-4222-aa54-091ff7f429a7","2d65bd5e-3fdf-4002-b166-bde7fb8863fa"],"items":{"type":"string","description":"List of `Roles` to can view items in transaction details.","example":"[\"7bf79328-a7ae-4222-aa54-091ff7f429a7\",\"2d65bd5e-3fdf-4002-b166-bde7fb8863fa\"]"}},"users":{"type":"array","description":"List of `User` IDs to can view items in transaction details..","example":["XMPL1234-000001","XMPL1234-000002","XMPL1234-000003"],"items":{"type":"string","description":"List of `User` IDs to can view items in transaction details..","example":"[\"XMPL1234-000001\",\"XMPL1234-000002\",\"XMPL1234-000003\"]"}}}}}}},"responses":{"200":{"description":"The returned resource is a single `List`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagDictionary"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["tag_write"]}]}},"/business/v2/online-ads/{onlineAdId}/addAssignees":{"put":{"tags":["Online Ads"],"summary":"Add assignees to Online Ads","description":"Endpoint to add assignees to an `OnlineAd`.","operationId":"online-ads-assignees-add","parameters":[{"name":"onlineAdId","in":"path","required":true,"schema":{"type":"string","description":"The `OnlineAd` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddAssignees"}}}},"responses":{"200":{"description":"The returned resource is a single `OnlineAd`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnlineAds"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["online_ads_write"]}],"x-soldo":{"fingerprint-order":"id, token"}}},"/business/v2/purchases":{"get":{"tags":["Pre-approved Spend"],"summary":"Search Purchases","description":"Endpoint to find `Purchases` using filtering parameters.","operationId":"pre-approved-spend-search","parameters":[{"name":"fromDate","in":"query","description":"The beginning of the period of the search `fromDate` included (i.e. greater than or equal to) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).","schema":{"$ref":"#/components/schemas/DateParam"},"example":"2020-04-06T12:48:40Z"},{"name":"toDate","in":"query","description":"The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).","schema":{"$ref":"#/components/schemas/DateParam"},"example":"2020-05-07T12:48:40Z"},{"name":"dateType","in":"query","description":"It determines the date to be considered for `fromDate` and `toDate` parameters.","schema":{"$ref":"#/components/schemas/SearchPurchaseDateType"},"example":"COMPLETED_TIME"},{"name":"status","in":"query","description":"The status of the `Purchase`.","schema":{"type":"array","description":"The status of the `Purchase`.","items":{"$ref":"#/components/schemas/PurchaseStatus"}},"example":"ACTIVE"},{"name":"text","in":"query","description":"A simple text to search in the `Purchase` data (`title`, `description`, `assignees`).","schema":{"type":"string","description":"A simple text to search in the `Purchase` data (`title`, `description`, `assignees`).","example":"something"},"example":"something"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `Purchases`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Purchases"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["purchase_read"]}]},"post":{"tags":["Pre-approved Spend"],"summary":"Add Purchase","description":"Endpoint to add a new `Purchase`.","operationId":"pre-approved-spend-add","parameters":[{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePurchase"}}}},"responses":{"200":{"description":"The returned resource is a single `Purchase`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Purchase"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["purchase_write"]}],"x-soldo":{"fingerprint-order":"title, assignee_id, wallet_id, amount, description, max_tx_number, token"}}},"/business/v2/requests":{"get":{"tags":["Requests"],"summary":"Search Requests","description":"Endpoint to search `Requests`.","operationId":"request-search","parameters":[{"name":"status","in":"query","description":"The status of the `request`","schema":{"type":"array","items":{"$ref":"#/components/schemas/RequestStatus"}},"example":"APPROVED"},{"name":"paymentMethod","in":"query","description":"The payment method of the `request`","schema":{"$ref":"#/components/schemas/PaymentMethod"},"example":"TEMPORARY_CARD"},{"name":"text","in":"query","description":"A simple text to search in the `Request` (`name` or `description`).","schema":{"type":"string","description":"A simple text to search in the `Request` (`name` or `description`).","example":"something"},"example":"something"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `Requests`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Requests"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["request_read"]}]},"post":{"tags":["Requests"],"summary":"Add request","description":"Endpoint to create an `Request`. There are 3 types of request:GOODS_OR_SERVICES, FUNDS,TRIP.","operationId":"request-add","parameters":[{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"description":"Create `Request` JSON parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequestPayload"}}}},"responses":{"200":{"description":"The returned resource is the single `Request` created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestPayload"},"examples":{"GoodOrServicesResponseExample":{"summary":"type GOODS_OR_SERVICES","description":"GoodOrServicesResponseExample","value":{"id":"776f5018-07e5-426b-a426-8b23fa1e985d","type":"GOODS_OR_SERVICES","name":"Goods or Services","amount":150,"currency":"EUR","status":"PENDING","request_process_id":"7bf79328-a7ae-4222-aa54-091ff7f429a7","number_transactions":"1","payment_method":"card","description":"TYPE GOOD_SERVICES","requester":"LVRS6404-000089","approveDate":"2025-12-03T14:19:36Z","hasAttachments":"false","note":"note","creation_time":"2025-12-03T14:15:14Z","last_update":"2025-12-03T14:19:36Z"}},"TripResponseExample":{"summary":"type TRIP","description":"TripResponseExample","value":{"id":"776f5018-07e5-426b-a426-8b23fa1e985d","type":"TRIP","name":"Trip","amount":"150.00","currency":"EUR","status":"PENDING","request_process_id":"7bf79328-a7ae-4222-aa54-091ff7f429a7","card_id":"2d65bd5e-3fdf-4002-b166-bde7fb8863fa","description":"TYPE TRIP","requester":"LVRS6404-000089","approveDate":"2025-12-03T14:19:36Z","hasAttachments":"false","note":"note","destination":"Rome","date_from":"2025-12-24T23:00:00Z","date_to":"2025-12-26T22:59:59.999Z","traveller":"LVRS6404-000005","expense_allocation":[{"expense_category_id":"0145e140-fc56-4ffd-9a57-a3c776bb2b51","spend_period":"BEFORE_TRIP","amount":1,"amount_currency":"EUR"}],"tags":[],"creation_time":"2025-12-03T14:15:14Z","last_update":"2025-12-03T14:19:36Z"}},"FundResponseExample":{"summary":"type FUNDS","description":"FundResponseExample","value":{"id":"776f5018-07e5-426b-a426-8b23fa1e985d","type":"FUNDS","name":"Fund","amount":150,"currency":"EUR","status":"PENDING","request_process_id":"7bf79328-a7ae-4222-aa54-091ff7f429a7","card_id":"2d65bd5e-3fdf-4002-b166-bde7fb8863fa","description":"TYPE FUNDS","requester":"LVRS6404-000089","approveDate":"2025-12-03T14:19:36Z","hasAttachments":"false","note":"note","creation_time":"2025-12-03T14:15:14Z","last_update":"2025-12-03T14:19:36Z"}}}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["request_write"]}],"x-soldo":{"fingerprint-order":"request_timestamp, name, request_process_id, type, token"}}},"/business/v2/resource-sets":{"get":{"tags":["Resource Sets"],"summary":"Search Resource Sets","description":"Endpoint to search `ResourceSet` using filtering parameters.","operationId":"resource-set-search","parameters":[{"name":"text","in":"query","schema":{"type":"string","description":"A free text search in the `ResourceSet` data","example":"Resource set 01"}}],"responses":{"200":{"description":"The result is an array containing `ResourceSets`.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceSet"}}}}}},"security":[{"standardAuth":["resource_set_read"]}]},"post":{"tags":["Resource Sets"],"summary":"Add Resource Set","description":"Endpoint to add a new `ResourceSet`.","operationId":"resource-set-add","parameters":[{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateResourceSet"}}}},"responses":{"200":{"description":"The returned resource is a single `ResourceSet`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceSet"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["resource_set_write"]}],"x-soldo":{"fingerprint-order":"name, description, token"}}},"/business/v2/groups/{groupId}/resource":{"post":{"tags":["Groups"],"summary":"Add Resource To Group","description":"Endpoint to add a new resource to a Group.","operationId":"group-resource-add","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string","description":"The `Group` ID.","example":"1bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupResource"}}}},"responses":{"204":{"description":"No content as result."},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["group_write"]}],"x-soldo":{"fingerprint-order":"groupId, type, token"}},"delete":{"tags":["Groups"],"summary":"Remove resource from Group","description":"Endpoint to remove a resource from a `Group`.","operationId":"group-resource-remove","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string","description":"The `Group` ID.","example":"1bf79328-a7ae-4222-aa54-091ff7f429a7"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupResource"}}}},"responses":{"204":{"description":"No content as result."},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["group_write"]}]}},"/business/v2/subscriptions/{subscriptionId}/addAssignees":{"put":{"tags":["Subscriptions"],"summary":"Add assignees to Subscription","description":"Endpoint to add assignees to a `Subscription`.","operationId":"subscription-assignees-add","parameters":[{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string","description":"The `Subscription` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddAssignees"}}}},"responses":{"200":{"description":"The returned resource is a `Subscription`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subscription"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["subscription_write"]}],"x-soldo":{"fingerprint-order":"id, token"}}},"/business/v2/dictionaries/{listId}/tags":{"get":{"tags":["Tags"],"summary":"Search Tags","description":"Endpoint to search `Tags` in a given `List` using filtering parameters.","operationId":"tag-search","parameters":[{"name":"listId","in":"path","required":true,"schema":{"type":"string","description":"The `List` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"visible","in":"query","schema":{"type":"boolean","description":"It determines whether the `Tag` is visible in the `Transaction` detail.","example":true}},{"name":"name","in":"query","schema":{"type":"string","description":"The name of the `Tag` to search.","example":"something"}},{"name":"code","in":"query","schema":{"type":"string","description":"The code of the `Tag` to search.","example":"something"}},{"name":"text","in":"query","schema":{"type":"string","description":"The text of the `Tag` to search by name or description.","example":"something"}},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `Tags`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tags"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["tag_read"]}]},"post":{"tags":["Tags"],"summary":"Add Tag to List","description":"Endpoint to add a `Tag` into a `List`.","operationId":"tag-add","parameters":[{"name":"listId","in":"path","description":"The `List` ID.","required":true,"schema":{"type":"string","description":"The `List` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"},"example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"tag":{"type":"string","description":"The name of the `Tag`.","example":"tx-label"},"description":{"type":"string","description":"The description of the `Tag`. If needed to support special characters, provide the character encoding in the `Content-Type` header (e.g. `application/x-www-form-urlencoded ; charset=utf-8`).","example":"Label to mark transactions"},"code":{"type":"string","description":"The code of the `Tag`. If needed to support special characters, provide the character encoding in the `Content-Type` header (e.g. `application/x-www-form-urlencoded ; charset=utf-8`).","example":"CODE tag"}}}}}},"responses":{"200":{"description":"The returned resource is a single `Tag`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tag"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["tag_write"]}]}},"/business/v2/dictionaries/{listId}/tags/bulk":{"put":{"tags":["Tags"],"summary":"Update Tag bulk","description":"Endpoint to update a `List` by modifying up to 1000 `Tag` IDs per request.","operationId":"tags-update-bulk","parameters":[{"name":"listId","in":"path","required":true,"schema":{"type":"string","description":"The `List` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTagItem"}}}},"responses":{"200":{"description":"The returned resource is a list of `Tag`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagItems"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["tag_write"]}]},"post":{"tags":["Tags"],"summary":"Add Tag bulk to List","description":"Endpoint to add a `List` by adding up to 1000 `Tag` IDs per request.","operationId":"tags-add-bulk","parameters":[{"name":"listId","in":"path","required":true,"schema":{"type":"string","description":"The `List` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewTagBulk"}}}},"responses":{"200":{"description":"The result is an array containing `Tags`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagItems"}}}},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["tag_write"]}]}},"/business/v2/entities/tax-rate":{"get":{"tags":["VAT Rates"],"summary":"Search VAT Rates","description":"Endpoint to find `VatRate` using filtering parameters.","operationId":"vat-rate-search","parameters":[{"name":"text","in":"query","description":"A simple text to search in the Vat rate data (name, code).","schema":{"type":"string","description":"A simple text to search in the Vat rate data (name, code).","example":"something"},"example":"something"},{"name":"enabled","in":"query","description":"It determines if Vat rate is enabled.","schema":{"type":"boolean","description":"It determines if Vat rate is enabled.","example":true},"example":true},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `VATRates`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VatRates"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["tax_rate_read"]}]},"post":{"tags":["VAT Rates"],"summary":"Add VAT Rate","description":"Endpoint to add a new `VatRate`.","operationId":"vat-rate-add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVatRate"}}}},"responses":{"200":{"description":"The result is an `VatRate`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VatRate"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["tax_rate_write"]}]}},"/business/v2/transactions/custom-exports/bulk-add":{"post":{"tags":["Transaction Custom Export"],"summary":"Add Bulk TransactionCustomExport","description":"Endpoint bulk to add a new `TransactionCustomExport`.","operationId":"transaction-export-add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTransactionCustomExport"}}}},"responses":{"200":{"description":"The result is an array containing `TransactionCustomExport`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportedCustomTransaction"}}}},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["transaction_write"]}]}},"/business/v2/transactions/{transactionId}/metadata/{metadataId}":{"get":{"tags":["Transaction Metadata"],"summary":"Get Transaction Metadata","description":"Endpoint to get the metadata of a `Transaction` by ID.","operationId":"transaction-metadata-get","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","description":"The `Transaction` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"metadataId","in":"path","required":true,"schema":{"type":"string","description":"The ID related to the custom generated metadata of the `Transaction`.","example":"metadata_id"}}],"responses":{"200":{"description":"The returned resource is a generic JSON representing the metadata.","content":{"application/json":{"schema":{"type":"string"}}}},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["transaction_read"]}]},"put":{"tags":["Transaction Metadata"],"summary":"Update Transaction Metadata","description":"Endpoint to update metadata of a `Transaction`.","operationId":"transaction-metadata-update","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","description":"The `Transaction` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"metadataId","in":"path","required":true,"schema":{"type":"string","description":"The ID related to the new custom generated metadata of the `Transaction`.","example":"metadata_id"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","description":"A generic JSON."},"description":"A generic JSON."}}}},"responses":{"204":{"description":"No content as result."},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["transaction_write"]}]},"post":{"tags":["Transaction Metadata"],"summary":"Add Transaction Metadata","description":"Endpoint to add metadata to a `Transaction`.","operationId":"transaction-metadata-add","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","description":"The `transaction` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"metadataId","in":"path","required":true,"schema":{"type":"string","description":"The ID related to the new custom generated Metadata of the `Transaction`.","example":"metadata_id"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","description":"A generic JSON."},"description":"A generic JSON."}}}},"responses":{"204":{"description":"No content as result."},"400":{"description":"Your request has missing arguments or is malformed."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["transaction_write"]}]},"delete":{"tags":["Transaction Metadata"],"summary":"Delete Transaction Metadata","description":"Endpoint to delete metadata of a `Transaction`.","operationId":"transaction-metadata-delete","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","description":"The `Transaction` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"metadataId","in":"path","required":true,"schema":{"type":"string","description":"The ID related to the new custom generated metadata of the `Transaction`.","example":"metadata_id"}}],"responses":{"204":{"description":"No content as result."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["transaction_write"]}]}},"/business/v2/transactions/{transactionId}/tags/{tagId}":{"post":{"tags":["Transaction Tags"],"summary":"Add Tag to Transaction","description":"Endpoint to assign a `Tag` to a `Transaction`.","operationId":"transaction-tag-add","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","description":"The `Transaction` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"tagId","in":"path","required":true,"schema":{"type":"string","description":"The `Tag` ID.","example":"c861cc24-6663-410f-8c78-73f886fff4ef"}}],"responses":{"204":{"description":"No content as result."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["transaction_write"]}]},"delete":{"tags":["Transaction Tags"],"summary":"Remove Tag from Transaction","description":"Endpoint to remove a `Tag` from a `Transaction`.","operationId":"transaction-tag-remove","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","description":"The `Transaction` ID.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"}},{"name":"tagId","in":"path","required":true,"schema":{"type":"string","description":"The `Tag` ID.","example":"6853e657-c797-4985-8d6b-5425d4e51df8"}}],"responses":{"204":{"description":"No content as result."},"404":{"description":"One or more resource requested does not exist."}},"security":[{"standardAuth":["transaction_write"]}]}},"/business/v2/vehicles":{"get":{"tags":["Vehicles"],"summary":"Search Vehicle","description":"Endpoint to find Vehicles using filtering parameters.","operationId":"vehicle-search","parameters":[{"name":"text","in":"query","description":"A text to be searched on the number plate and description field.","schema":{"type":"string","description":"A text to be searched on the number plate and description field.","example":"something"},"example":"something"},{"name":"ids","in":"query","description":"The IDs of the vehicles to search.","schema":{"type":"array","description":"The IDs of the vehicles to search.","example":"776f5018-07e5-426b-a426-8b23fa1e985d","items":{"type":"string","description":"The IDs of the vehicles to search.","example":"776f5018-07e5-426b-a426-8b23fa1e985d"}},"example":"776f5018-07e5-426b-a426-8b23fa1e985d"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The returned array contains `Vehicle` resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vehicles"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["vehicle_read"]}]},"post":{"tags":["Vehicles"],"summary":"Add Vehicle","description":"Endpoint to add a new `Vehicle`.","operationId":"vehicle-add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVehicle"}}}},"responses":{"200":{"description":"The returned resource is a new `Vehicle`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vehicle"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["vehicle_write"]}]}},"/business/v2/wallets":{"get":{"tags":["Wallets"],"summary":"Search Wallets","description":"Endpoint to search `Wallets` using filtering parameters.","operationId":"wallet-search","parameters":[{"name":"type","in":"query","description":"The type of resource assigned to the `Wallet`.","schema":{"$ref":"#/components/schemas/PrimaryUserType"},"example":"company"},{"name":"id","in":"query","description":"The ID of the `type` resource.","schema":{"type":"string","description":"The ID of the `type` resource.","example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"},"example":"7bf79328-a7ae-4222-aa54-091ff7f429a7"},{"name":"customreferenceId","in":"query","description":"The custom reference ID of the `type` resource.","schema":{"type":"string","description":"The custom reference ID of the `type` resource.","example":"123456-user-1"},"example":"123456-user-1"},{"name":"groupId","in":"query","description":"The ID of the `Group` the `Wallet` is related to.","schema":{"type":"string","description":"The ID of the `Group` the `Wallet` is related to.","example":"2d65bd5e-3fdf-4002-b166-bde7fb8863fa"},"example":"2d65bd5e-3fdf-4002-b166-bde7fb8863fa"},{"name":"name","in":"query","description":"The full or partial name of the `Wallet`.","schema":{"type":"string","description":"The full or partial name of the `Wallet`.","example":"John Doe"},"example":"John Doe"},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The returned resource is an array containing `Wallets`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Wallets"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["wallet_read"]}]},"post":{"tags":["Wallets"],"summary":"Add Wallet","description":"Endpoint to add a new `Wallet`. Only company wallets can be created, a user dedicated wallet for each currency supported by your account is automatically created by the Soldo platform. *Deprecated*: use [/wallets/create](ref:wallet-create) instead.","operationId":"wallet-add","parameters":[{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddWalletOrder"}}}},"responses":{"200":{"description":"The returned resource is a single `Order`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"deprecated":true,"security":[{"standardAuth":["wallet_write"]}],"x-soldo":{"fingerprint-order":"request_timestamp, owner_type, currency, name, token"}}},"/business/v2/wallets/autotransfer-presets/{presetId}/relate-resource":{"put":{"tags":["Auto-Transfer Presets"],"summary":"Add wallets to Auto-transfer Preset","description":"Endpoint to add a `Wallets` to `AutoTransferPreset`.","operationId":"wallet-auto-transfer-preset-set","parameters":[{"name":"presetId","in":"path","description":"The `AutoTransferPreset` ID","required":true,"schema":{"type":"string"},"example":"2d65bd5e-3fdf-4002-b166-bde7fb8863fa"},{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletsToTransfer"}}}},"responses":{"204":{"description":"No content as result."},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["wallet_write"]}],"x-soldo":{"fingerprint-order":"presetId, walletIds, token"}}},"/business/v2/webhooks/subscriptions":{"get":{"tags":["Webhook Subscriptions"],"summary":"Search Webhook Subscriptions","description":"Endpoint to search `WebhookSubscriptions` using filtering parameters.","operationId":"webhook-subscription-search","parameters":[{"name":"webhookUrl","in":"query","schema":{"type":"string","description":"The url of the `WebhookSubscription`.","example":"https://your_domain.com/xx/xx"}},{"name":"enabledEvents","in":"query","schema":{"type":"array","description":"The list of the enabled events of the search.","items":{"$ref":"#/components/schemas/WebhookEventName"}}},{"name":"active","in":"query","schema":{"type":"boolean","description":"The status of the webhook (if false, notifications are not sent)."}},{"name":"description","in":"query","schema":{"type":"string","description":"The description of the `WebhookSubscription`.","example":"Transactions and user webhook"}},{"name":"p","in":"query","description":"It indicates the specific page to display (the counter starts from zero).","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"d","in":"query","description":"It indicates how the pages are ordered.","schema":{"$ref":"#/components/schemas/Direction"},"example":"DESC"},{"name":"props","in":"query","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime","items":{"type":"string","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.","example":"creationTime"}},"example":"creationTime"}],"responses":{"200":{"description":"The result is an array containing `WebhookSubscriptions`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookSubscriptions"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["webhook_subscription_read"]}]},"post":{"tags":["Webhook Subscriptions"],"summary":"Add Webhook Subscription","description":"Endpoint to add a new `WebhookSubscription`.","operationId":"webhook-subscription-add","parameters":[{"name":"X-Soldo-Fingerprint","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): `SHA512SUM` of the fingerprint values listed in the fingerprint order for this endpoint.","example":"{{fingerprint}}","default":"{{fingerprint}}"}},{"name":"X-Soldo-Fingerprint-Signature","in":"header","required":true,"schema":{"type":"string","description":"[Advanced authentication](ref:advanced-authentication): Signature of the `X-Soldo-Fingerprint`.","example":"{{fingerprint_signature}}","default":"{{fingerprint_signature}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWebhookSubscription"}}}},"responses":{"200":{"description":"The returned resource is a single `WebhookSubscription`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookSubscription"}}}},"400":{"description":"Your request has missing arguments or is malformed."}},"security":[{"standardAuth":["webhook_subscription_write"]}],"x-soldo":{"fingerprint-order":"webhook_url, enabled_events(joined), active, token"}}},"/business/v2/workflows":{"get":{"tags":["Workflows"],"summary":"Search Workflows","description":"Endpoint to search `Workflows`.","operationId":"workflow-search","parameters":[{"name":"status","in":"query","description":"The status of the `Workflow`.","schema":{"type":"array","description":"The status of the `Workflow`.","items":{"$ref":"#/components/schemas/WorkflowStatusSearch"}},"example":"ACTIVE"},{"name":"targetTypes","in":"query","description":"The type of the `Workflow`.","schema":{"type":"array","description":"The type of the `Workflow`.","items":{"$ref":"#/components/schemas/WorkflowTargetType"}},"example":"USER"},{"name":"text","in":"query","description":"A simple text to search `Workflow` by `name` or `description`.","schema":{"type":"string","description":"A simple text to search `Workflow` by `name` or `description`.","example":"Workflow"},"example":"Workflow"},{"name":"p","in":"query","description":"0","schema":{"type":"integer","description":"It indicates the specific page to display (the counter starts from zero).","format":"int32","example":3,"default":0},"example":3},{"name":"s","in":"query","description":"It indicates the number of items per page.","schema":{"maximum":50,"type":"integer","description":"It indicates the number of items per page.","format":"int32","example":25,"default":0},"example":25},{"name":"props","in":"query","schema":{"type":"array","description":"It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `pro
[...]
